{% extends 'calendar_mchp/base.html' %}

{% block head_title %}{{calendar}} Calendar{% endblock %}

{% block extra_head %}
<meta property="fb:app_id" content="369999156462705" /> 
<meta property="og:type" content="product" /> 
<!-- <meta property="og:url" content="{{request.get_host}}{{current_path}}" />  -->
<meta property="og:title" content="{{calendar.title}} Calendar" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="{{calendar.description}}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.5/ZeroClipboard.js"></script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_mchp/css/calendar_preview.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}">
<script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>
<script src="{% static 'calendar_mchp/js/calendar_preview.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
{% load referral %}
<div class="container animated bounceInUp">
	{% if not preview_flag %}
	<div data-event="{{preview_flag_name}}" class="one-time-alert alert alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div class="media margin-top-none">
			<img class="media-object pull-left" src="{% static 'lib/img/money.svg' %}" alt="earn referral points">
			<div class="media-body">
				<h4 class="media-heading">The easiest way to get <strong>free</strong> points, study guides, and calendars...</h4>
				Is to get your friends to sign up on mchp! Each time you click the <a href="#" 
					class="btn btn-facebook btn-xs fb-share-button disabled">
					<i class="fa fa-fw fa-facebook"></i>Share</a> or the <button 
					class="btn btn-warning btn-xs disabled"><i class="fa fa-paperclip fa-fw"></i> Copy link</button>
				<span class="copy-message"></span> buttons, we'll reward you <strong>500 points</strong> for every person that signs up with us by clicking through your links. Remember, the same rules apply when you share your unique referall code and referall link found in your <a href="{% url 'account_settings'%}" class="alert-link">account settings</a>. <strong>- mchp</strong>
			</div>
		</div>
	</div><!-- end alert -->
	{% endif %}
	<ol class="breadcrumb">
		<!-- <h class="pull-right">
			<a href="#flag_doc" data-toggle="modal" class="text-danger small"><i class="fa fa-flag text-danger"></i> Report this Calendar</a> 
		</h> -->
		<li>
			<a href="{%url "school" calendar.course.domain.pk%}{{calendar.course.domain.name}}"><i class="fa fa-university"></i>&nbsp;{{calendar.course.domain.name}}</a> 
		</li>
		<li>
			<a href="{% url "course" calendar.course.pk%}{{calendar.course.name}}"><i class="fa fa-book">&nbsp;</i>{{calendar.course}}</a> 
		</li>
		<li class="active">
			<a href="{%url "calendar"%}"><i class="fa fa-calendar"></i>&nbsp;{{calendar}} Calendar</a>
		</li>
		<a class="btn btn-success btn-xs pull-right" href="{% url 'calendar_create' %}"><i class="fa fa-calendar fa-fw"></i> Create Calendar</a>
	</ol>
	<div class="well">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						<div class="panel panel-default">
							<div class="panel-body">
								
								<p class="text-center h4">Total Events</p>
								<img class="center-block text-center" src="{% static 'lib/img/calendar-blank.svg' %}" style="width:70px" />
								<p class="assignment-number text-center text-default h4">{{total_count}}</p>
								<p class="text-center h5">Next event is {{next_event.start|naturaltime}}</p>
								<!-- <ul class="list-inline text-center">
								  <li>Accuracy</li>
								  <li>Last Updated</li>
								  <li>Accuracy</li>
								</ul> -->
								<hr>
								<h5>Previous events: <span class="badge">{{past_count}}</span></h5>
								<div class="list-group">
									{% for event in events %}
									<div class="list-group-item">
										<p><strong><i class="fa fa-fw fa-check text-success"></i> {{event.title}}</strong>
										<small class="pull-right">{{event.start|naturaltime}}</small></p>
									</div>
									{% empty %}
									</br>
									<p class="lead text-center">This calendar is fresh off the press!</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<h2 class="margin-top-none margin-btm-sm">{{calendar}} Calendar&nbsp;
							<small class="pull-right" data-toggle="tooltip" data-original-title="A fortnight is a unit of time equal to 14 days (2 weeks)">{{calendar.price}} points <span data-toggle="tooltip" data-originial-title="A fortnight is a unit of time equal to 14 days (2 weeks).">/Fortnight</span>
								<p class="margin-top-none margin-btm-none"></p>
							<span class="pull-right margin-top-none"><small>{{calendar.create_date|naturaltime}}</small></span>
						</small>
						</h2>

						<h5>
							<strong>Instr</strong> {{calendar.course.professor}}
							{% if calendar.accuracy < 0 %}
							<i class="fa fa-fw fa-bullseye text-primary"></i>No Ratings&nbsp;
							{% else %}
							<i class="fa fa-fw fa-bullseye text-primary"></i>{{calendar.accuracy}}% Accuracy&nbsp;
							{% endif %}
							{% with calendar.subscribers.count as subscribers %}
							<i class="fa fa-fw fa-users"></i> {{subscribers}} Follower{{subscribers|pluralize}}&nbsp;
							{% endwith %}
						</h5>
							{% if calendar.accuracy < 0 %}
							{% else %}
							<!-- accuracy bar -->
							<div class="progress margin-btm-sm" style="width:68%;">
							  <div class="progress-bar progress-bar-primary" style="width: {{calendar.accuracy}}%">
							    <span class="sr-only">{{calendar.accuracy}}% Accuracy</span>
							  </div>
							</div>
							<!-- end accuracy bar -->
							{% endif %}
						</h5>
							<!-- <ul class="list-inline margin-top small"> -->
							<i class="fa fa-fw fa-clock-o"></i>
							{% for section in calendar.sections %}
							<!-- <li> -->
							<span>{{section.day_name|slice:":3"}} {{section.start|time:"fA"}}-{{section.end|time:"fA"}}&nbsp; </span>
							{% endfor %}
						<!-- </ul> -->
						<p></p>
						<form id="subscribe-form" method="post" action="{{current_path}}">
							{% csrf_token %}
						</form>
						{% if user.is_anonymous %}
						<button class="btn btn-success" data-toggle="modal" data-target="#mchp-login-prompt">
							<i class="fa fa-fw fa-shopping-cart"></i> Subscribe
						</button>
						{% else %}
						 {% ifequal owner user.student %}
						<a href="{% url 'calendar' %}" class="btn btn-success">
							<i class="fa fa-fw fa-eye"></i> View
						</a>
						{% else %}
						<button form="subscribe-form" class="btn btn-success">
							<i class="fa fa-fw fa-shopping-cart"></i> Subscribe
						</button>
						{% endifequal %}
						{% endif %}
							<a href="{{request.get_host}}{{current_path | referral:referral_link}}" 
							data-title="{{calendar.title}} Calendar" 
							data-desc="{{calendar.description}}" 
							class="btnShare btn btn-facebook fb-share-button">
							<i class="fa fa-fw fa-facebook"></i> Share this</a>
						<button data-clipboard-text="{{request.get_host}}{{current_path | referral:referral_link }}" 
						id="copy-button" class="btn btn-warning"><i class="fa fa-paperclip fa-fw"></i> Copy link</button>
						
						<div class="bs-callout" style="border-top: 0;border-right: 0; border-bottom:0; padding-top:0;">
							<hr>
							<p class="">{{calendar.description}}</p>
							<hr>
							<div class="media">
								<a class="pull-left" href="{%url "profile" owner.pk %}">
									<img class="media-object img-circle img-thumbnail" 
									src="{{owner.profile.profile_image_url}}" width="65px" style="height:65px;">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="{%url "profile" owner.pk %}">{{owner}}</a> <small><!-- Level {{owner_level}} --></small>
									</h4>
									{% with owner.subscribers as subscribers %}
									<p><span class="label label-info">{{subscribers}} Calendar{{subscribers|pluralize}} sold</span> 
									</p>
									<p>
										<div class="progress" style="width:68%">
											<div class="progress-bar progress-bar-primary" data-toggle="tooltip" data-original-title="Documents" data-placement="bottom" style="width: {{doc_percent}}%;">
												<span class="sr-only">Documents</span>
											</div>
											<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="Calendars" data-placement="bottom" style="width: {{cal_percent}}%;">
												<span class="sr-only">Calendars</span>
											</div>
										</div>
									</p>
									{% endwith %}
								</div>
							</div>
						</div>
					</div><!-- end col -->
				</div>
			</div>
		</div><!-- end top panel -->
	</div><!-- end well -->
</div><!-- end container -->
{% endblock %}
