{% extends 'calendar_mchp/base.html' %}

{% block head_title %}EVENT NAME in CLASS NAME{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
		<div class="col-xs-12">
			<h1 class="white">Exam 1 <small>on Friday, May 17, 2015</small><span class="pull-right">in 6 hours</span></h1>
      <h4 class="white lead">ECON 200 with Instructor Reff <span class="pull-right"> and 54 minutes</span></h4>
      <hr>
		</div><!-- end col-12 -->
	</div><!-- end row -->
	<div class="row">
    <div class="col-xs-5">
    	<h3 class="white"><i class="fa fa-file-text-o"></i> Documents for Exam 1</h3>
	      <div class="well well-sm">
	        <div class="list-group">
	          <li class="list-group-item">
	            <div class="media">
	              <div class="media-left">
	                <a href="google.com">
	                  <img class="media-object img-thumbnail" src="https://mchp-production.s3.amazonaws.com/media/previews/Syllabus_Econ_330Sp15_preview.png" width="76" alt="...">
	                </a>
	              </div>
	              <div class="media-body">
	                <h4 class="media-heading">Exam 2 Study Guide</h4>
	                Contains information regarding class schedule and requirements.
	              </div>
	            </div>
	          </li>
	          <li class="list-group-item">
	            <div class="media">
	              <div class="media-left">
	                <a href="#">
	                  <img class="media-object img-thumbnail" src="https://mchp-production.s3.amazonaws.com/media/previews/Syllabus_Econ_330Sp15_preview.png" width="76" alt="...">
	                </a>
	              </div>
	              <div class="media-body">
	                <h4 class="media-heading">Exam 1 Study Guide</h4>
	                Contains information regarding class schedule and requirements.
	              </div>
	            </div>
	          </li>
	        </div>
	      </div><!-- end well --> 
    </div><!-- end col-5 -->
  </div><!-- end row -->
</div><!-- end container-fluid -->
{% endblock %}
