{% extends 'calendar_mchp/base.html' %}

{% block head_title %}Events{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twix.js/0.3.0/twix.js"></script>

{% load staticfiles %}
<script src="{% static 'calendar_mchp/js/events_add.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'calendar_mchp/css/events_add.css' %}">
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
				<img class="media-object pull-left animated slideInLeft" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/calendar.svg" height="50px" alt="create calendar">
				<div class="media-body">
					<h2 class="media-heading">Add Calendar Events</h2>
					the more the merrier
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="dropdown">
				<button class="dropdown-toggle btn btn-default btn-lg btn-block" type="select" id="courseDropDown" data-toggle="dropdown">Choose a Class <span class="caret"></span></button>
				<ul class="dropdown-menu btn-block text-center" role="menu" aria-labelledby="courseDropDown">
					<!-- <li role="presentation" class="dropdown-header">Personal Calendars</li> -->
					<!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Calendar</a></li> -->
					<!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Work</a></li> -->
					<!-- <li role="presentation" class="divider"></li> -->
					<li role="presentation" class="dropdown-header">School Calendars</li>
					{% if selected_calendar %}
					<script type="text/javascript">
						var selected_calendar = {{selected_calendar}};
					</script>
					{% endif %}
					{% for calendar in calendars %}
					<li role="presentation">
						<a href="#" id="select-calendar-{{calendar.pk}}" role="menuitem" tabindex="-1" data-cal="{{calendar.pk}}">
							<span class="text-success">{{calendar.course}}
								{% if not calendar.private %}
								<i class="fa fa-dollar"></i>
								{% endif %}
							</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
			{% for calendar in calendars %}
			<div class="col-sm-9">
			<div class="course-info hidden" id="course-info-{{calendar.pk}}">
				<div style="" class="course-times">
					<div style="inline">
						<span class="lead margin-btm-none">
							<i class="fa fa-clock-o"></i> Meetings: 
						</span>
						<span class="lead pull-right margin-btm-none">
							{% if not calendar.private and forloop.last%}
									<span class="selling pull-right text-success">&nbsp;  <strong><i class="fa
												fa-check-circle-o"></i> Selling</strong></span>
									{% endif %}
									<i class="fa fa-user"></i> Instructor: {{calendar.course.professor}}
						</span>
					</div>
					<script type="text/javascript">
						var meeting_days_{{calendar.pk}} = [];
						var end_date_{{calendar.pk}} = '{{calendar.end_date|date:"c"}}';
					</script>
					<p></p>
					<table class="table table-striped">
						<tbody>
							{% for section in calendar.sections %}
							<script type="text/javascript">
								meeting_days_{{calendar.pk}}.push({{section.day}} + 1);
							</script>
							<tr>
								<td>
									{{section.day_name|slice:":3"}}
								</td>
								<td>
									{{ section.start|time:"P"}} to {{section.end|time:"P"}}	
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-sm-12">  
			<!-- <div class="panel panel-success event-template hidden"> -->
			<div class="panel panel-default templates hidden">
				<div class="panel-heading">
					<h3 class="panel-title">
						<p class="lead margin-btm-none"> Events Template&nbsp;&nbsp; 
							<!-- <span class="pull-right">Suggested Price: <strong>0</strong> </span> -->
							<span class="pull-right">Total Events: <strong>0</strong> &nbsp;&nbsp;</span>
						</p>
					</h3>
				</div>
				<!-- Table -->
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Due Date <small><i class="fa fa-info-circle text-muted" data-toggle="tooltip" data-original-title="each day you have class has it's own row"></i></small></th>
							<th></th>  
							<th>Assignment Title <small><i class="fa fa-info-circle text-muted" data-toggle="tooltip" data-original-title="provide a title for each assignemnt you add"></i></small></th>
							<th>Assignment Notes <small><i class="fa fa-info-circle text-muted" data-toggle="tooltip" data-original-title="any additional info you'd like to provide about the assignment"></i></small></th>
						</tr>
					</thead>
					<tbody>
						<tr class="example-event">
							<td class="text-danger">Example:</td>
							<td><i class="fa fa-hand-o-right text-danger"></i></td>  
							<td><span class="text-danger">ex: Exam 1</span></td>
							<td><span class="text-danger">ex: On ch. 1-4 in our textbook</span></td>  
						</tr>
						<tr class="example-event">
							<td class="text-danger">Example:</td>
							<td><i class="fa fa-hand-o-right text-danger"></i></td>  
							<td><span class="text-danger">ex: Read Chapters 5 & 6</span></td>
							<td><span class="text-danger">ex: In our textbook</span></td>  
						</tr>
						<tr class="example-event">
							<td class="text-danger">Example:</td>
							<td><i class="fa fa-hand-o-right text-danger"></i></td>  
							<td><span class="text-danger">ex: Online Quiz</span></td>
							<td><span class="text-danger">ex: you can use your notes!</span></td>  
						</tr>
						<tr id="proto-event-template" class="event-template hidden">
							<td class="event-date"></td>
							<td class="event-day"></td>  
							<td class="event-title"><a class="editField editable"></a></td>
							<td class="event-description"><a class="editField editable text-muted"></a></td>  
						</tr>  
					</tbody>
				</table>
			</div>
			<p></p>
			<button type="submit" class="event-button btn btn-success btn-lg btn-block hidden">Finish</button>
		</div>
	</div>
</div>
{% endblock %}
