{% extends 'calendar_mchp/base.html' %}

{% block head_title %}Events{% endblock %}

{% block extra_head %}

<link rel="stylesheet" type="text/css
" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twix.js/0.3.0/twix.js"></script>

{% load staticfiles %}
<script src="{% static 'calendar_mchp/js/events_add.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'calendar_mchp/css/events_add.css' %}">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-xs-12">
		<div class="media">
			<div class="media-left media-middle">
				<span class="media-object pull-left animated" alt="Add Documents"><i class="fa fa-calendar-check-o fa-fw fa-4x"></i></span>
			</div>
			<div class="media-body">
				<h1 class="media-heading">Add Calendar Events</h1>
				<p class="lead margin-btm-none">the more the merrier</p>
			</div>
		</div>
		<hr>
		<br>
	</div><!-- end col 12 -->
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel opa margin-btm-none">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-3">
						<div class="dropdown">
							<button class="dropdown-toggle btn trans btn-lg btn-block" type="select" data-toggle="dropdown">Choose a Class <span class="caret"></span></button>
							<ul id="courseDropDown" class="dropdown-menu btn-block text-center" role="menu" aria-labelledby="courseDropDown">
								<li role="presentation" class="dropdown-header">School Calendars</li>
								{% if selected_calendar %}
								<script type="text/javascript">
									var selected_calendar = {{selected_calendar}};
								</script>
								{% endif %}
								{% for calendar in calendars %}
								<li role="presentation">
									<a href="#" id="select-calendar-{{calendar.pk}}" role="menuitem" tabindex="-1" data-cal="{{calendar.pk}}">
										<span style="color: {{calendar.color}};"><strong>{{calendar.course}}</strong>
											{% if not calendar.private %}
											<small>(Public)</small>
											{% endif %}
										</span>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% for calendar in calendars %}
					<div class="col-xs-9">
						<div class="course-info hidden" id="course-info-{{calendar.pk}}">
							<div class="course-times">
								<div style="inline">
									<span class=" h4 margin-btm-none ">
										<i class="fa fa-user"></i> Professor {{calendar.course.professor}} &nbsp;
										{% if not calendar.private %}		
										<span class="selling  pull-right text-success">
											<strong><i class="fa fa-check-circle-o fa-fw"></i>Public</strong>
										</span>
										{% endif %}
									</span>
								</div>
								<script type="text/javascript">
									var meeting_days_{{calendar.pk}} = [];
									var end_date_{{calendar.pk}} = '{{calendar.end_date|date:"c"}}';
								</script>
								<!-- <hr class="margin-btm-none margin-top-sm"> -->
								<ul class="list-inline">							
									{% for section in calendar.sections %}
									<li>
										<script type="text/javascript">
											meeting_days_{{calendar.pk}}.push({{section.day}} + 1);
										</script>
										<h4 class="margin-btm-none small">{{section.day_name|slice:":3"}}</h4>
										<small>{{ section.start|time:"P"}} - {{section.end|time:"P"}}</small>
									</li>		
									{% endfor %}							
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	<!-- <hr>   -->
	<br>
		<div class="panel opa templates hidden">
			{% if not events_tutorial %}
			<div class="panel-body template-tutorial">
				<div class="panel opa">
					<div class="panel-body text-center">
						<p class="lead step-one">Grab your {{calendar.course}} syllabus so you can add all of your events to your {{calendar.course}} Calendar at once! <a href="#" class="step-one-next"><i class="fa fa-hand-o-right"></i></a></p>
						<p class="lead step-two hidden">Each <strong>row</strong> in the table is a day that your {{calendar.course}} class meets <a href="#" class="step-two-next"><i class="fa fa-hand-o-right"></i></a></p>
						<p class="lead step-three hidden">Add all of your {{calendar.course}} class's assignments for the entire semester, and use optional notes to provide additional information about an event or assignment if you want. <a href="#" class="step-three-next"><i class="fa fa-hand-o-right"></i></a></p>
						<p class="lead step-four hidden">You can always add more events to your {{calendar.course}} Calendar from your calendar page afterwards.
							<a data-event="{{events_tutorial_name}}" href="#" class="one-time-event step-four-next"><i class="fa fa-hand-o-right"></i></a></p>
					</div>
				</div>
			</div>
			{% endif %}
			<!-- Table -->
			<table class="table table-hover {% if not events_tutorial %}hidden{% endif %} ">
				<thead>
					<tr>
						<th>Due Date <small><i class="fa fa-info-circle text-muted" data-toggle="tooltip" data-original-title="Every day you have class has its own row"></i></small></th>
						<th></th>  
						<th>Assignment Title <small><i class="fa fa-info-circle text-muted" data-toggle="tooltip" data-original-title="Provide a title for each assignment you add"></i></small></th>
						<th>Assignment Notes <small><i class="fa fa-info-circle text-muted" data-toggle="tooltip" data-original-title="If there's something else you'd like to add about the event, do it!"></i></small></th>
					</tr>
				</thead>
				<tbody>
					<tr class="example-event">
						<td class="text-danger">Example:</td>
						<td><i class="fa fa-hand-o-right text-danger"></i></td>  
						<td><span class="text-danger">ex: Exam 1</span></td>
						<td><span class="text-danger">ex: On ch. 1-4 in our textbook</span></td>  
					</tr>
					<tr class="example-event">
						<td class="text-danger">Example:</td>
						<td><i class="fa fa-hand-o-right text-danger"></i></td>  
						<td><span class="text-danger">ex: Read Chapters 5 & 6</span></td>
						<td><span class="text-danger">ex: In our textbook</span></td>  
					</tr>
					<tr class="example-event">
						<td class="text-danger">Example:</td>
						<td><i class="fa fa-hand-o-right text-danger"></i></td>  
						<td><span class="text-danger">ex: Online Quiz</span></td>
						<td><span class="text-danger">ex: you can use your notes!</span></td>  
					</tr>
					<tr id="proto-event-template" class="event-template hidden">
						<td class="event-date"></td>
						<td class="event-day"></td>  
						<td class="event-title"><a class="editField editable"></a></td>
						<td class="event-description"><a class="editField editable text-muted"></a></td>  
					</tr>  
				</tbody>
			</table>
		</div>
		<p></p>
		<button type="submit" class="event-button btn btn-trans btn-lg btn-block {% if not events_tutorial %}hidden{% endif %}">Finish</button>
		<br></br>
	</div>
</div>
{% endblock %}
