{% extends 'lib/base.html' %}

{% block head_title %}{% endblock %}

{% block head %}
	
	<meta property="fb:app_id" content="369999156462705" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="https://www.mycollegehomepage.com" /> 
  <meta property="og:title" content="mycollegehomepage.com | mchp" /> 
  <meta property="og:description" content="mchp is an elegant planner that curates study guides for your upcoming exams." />

	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'account/css/account_form.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}">
		<script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>

		<style>
			#document-upload-btn {
				display: none;
			}
		</style>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
	{% block content %}
	{% endblock %}
{% endblock %}

{% block extra_body %}
{% endblock %}
