{% extends 'lib/base.html' %}

{% block head_title %}{% endblock %}

{% block head %}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'account/css/account_form.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}">
		<script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
	{% block content %}
	{% endblock %}
{% endblock %}

{% block extra_body %}
{% endblock %}
