{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block extra_head %}
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/validator.css' %}">
  <script src="{% static 'user_profile/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}
{% block content %}

<h1>{% trans "Confirm E-mail Address" %}</h1>

{% user_display email_address.user as user_display %}
        
<p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

{% endblock %}
