{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
    <meta property="fb:app_id" content="369999156462705" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="https://www.mycollegehomepage.com" /> 
    <meta property="og:title" content="mycollegehomepage.com | mchp" /> 
    <meta property="og:image" content="https://mchp-dev.s3.amazonaws.com/static/lib/img/homepage.png" /> 
    <meta property="og:description" content="The collaborative course management system for college students." />

  {% load staticfiles %}
  <script src="{% static 'account/js/login.js' %}"></script> 
{% endblock %}

{% block content %}
{% providers_media_js %}
<div class="container text-center">
  <div class="acct-form ">
    <h2>{% trans "Login" %} <small class="white"> let's go</small></h2>
    <div id='facebookLogin'>      
    {% if socialaccount.providers  %}
      <div class="socialaccount_ballot">
      <a title="Facebook" class="socialaccount_provider facebook btn btn-trans btn-block btn-lg" 
      href="javascript:allauth.facebook.login('', 'authenticate', 'login')">
        Use Facebook to login
        </a>
      </div>
      <hr>
        <span class="help-block text-center"><a href="#" class="link" id='show-login'>Use Username or .EDU e-mail</a></span>
    </div>    
{% endif %}
    <div id="emailLogin">
      <form id="login_form" class="emailLogin signup_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group">
    <button class="primaryAction btn btn-lg btn-trans btn-block" type="submit"><i class="fa fa-check-square-o"></i> {% trans "Login" %}</button>
  </div>
  <span class="white help-block text-center">{% trans "Forgot your password?" %} <a class="link" href="{% url 'account_reset_password' %}">{% trans "Reset it" %}</a></span></a>
  <span class="white help-block text-center">{% trans "Don't have an account?" %} <a class="link" href="{% url 'landing_page' %}">{% trans "Sign up" %}</a> {% trans "now!" %}</span>
</form>
    </div>
</div>
</div>

{% endblock %}
