{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/validator.css' %}">
  <script src="{% static 'user_profile/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
