{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container text-center">
    <h2>{% trans "Password changed!" %}</h2>
    <img class="media-object img-responsive center-block" src=
        "{% static 'lib/img/retina.svg' %}" alt=
        "Password Changed!">
        <p></p>
    <div class="acct-form">
    <p>Now, "Don't you forget about me..."</p>
    <hr>
    <p><a href="{% url 'account_login'%}" class="btn btn-primary btn-lg btn-block"> Log In</a>
	</div>
</div>    
{% endblock %}
