{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-xs-12 text-center">
    <h2>{% trans "Password changed!" %}</h2>
    <i class="fa fa-thumbs-o-up fa-fw fa-5x"></i>
        <br></br>
    <div class="acct-form">
    	<p>Now, "Don't you forget about me..."</p>
    	<p></p>
    	<p><a href="{% url 'account_login'%}" class="btn btn-trans btn-lg btn-block"> Log In</a></p>
    </div>
  </div>
</div>
{% endblock %}
