{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/validator.css' %}">
  <script src="{% static 'user_profile/js/bootstrapValidator.min.js' %}"></script>
  <script src="{% static 'account/js/password_reset.js' %}"></script>

<style type="text/css">
body {
    margin-top: 70px;
}
.acct-container {
    margin: 0 auto;
    width: 350px;
}
</style>
{% endblock %}

{% block content %}
<div class="acct-container text-center">
    <h2>{% trans "Password Reset" %}</h2>

    <p><img class="media-object img-responsive center-block" src=
    "https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/support.svg" alt=
    "..."></p>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password?" %}</p>
    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" id="password_reset" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="{% trans "Reset My Password" %}" />
        </div>
    </form>
</div>
{% endblock %}

{% block extra_body %}
{% endblock %}
