{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_head %}
  {% load staticfiles %}
  <script src="{% static 'account/js/change_password_from_key.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container acct-form text-center">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <img class="img-responsive center-block" src=
        "{% static 'lib/img/lock.svg' %}" alt=
        "Change Password">

    {% if token_fail %}
    <hr>
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <hr>
            <form id="change-password" method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <div class-"form-group">
                <input type="submit" class="btn btn-lg btn-primary btn-block" name="action" value="{% trans "Change Password" %}"/>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>    
{% endblock %}
