{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container text-center">
    <h2>{% trans "Password Reset" %}</h2>
    <img class="media-object img-responsive center-block" style="" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/mail.svg" alt="Email">
    
        <hr style="width:300px;">

   <p class="lead">{% blocktrans %}We have sent you an e-mail to your .EDU e-mail account.{% endblocktrans %}</p>
   <h4 class="text-center">No Email?<small> oh noes</small></h4>
				<p class="text-center">
					Check your <strong class="text-danger">SPAM!</strong>
				</p>
				<p class="small text-center">(It hurts us to think we'd be considered such garbage)</p>

    <!-- <p>{% blocktrans %}Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p> -->
   <!--  {% if user.is_authenticated %}
    <p><small>{% include "account/snippets/already_logged_in.html" %}</small></p>
    {% endif %} -->
</div>
{% endblock %}
