{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
    {% load staticfiles %}
        <script src="{% static 'account/js/password_reset.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container text-center">
    <h2>{% trans "Password Reset" %}</h2>
    <p><img class="media-object img-responsive center-block" src=
    "https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/support.svg" alt=
    "password reset"></p>
    <p class="lead">{% trans "Forgotten your password?" %}</p>
    <p>{% trans "Enter your .EDU e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="acct-form">
        <hr>
    <form method="POST" action="{% url 'account_reset_password' %}" id="password_reset" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="{% trans "Reset My Password" %}" />
        </div>
    </form>
    {% if user.is_authenticated %}
    <small>{% include "account/snippets/already_logged_in.html" %}</small>
    {% endif %}
</div>
</div>
{% endblock %}
