{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/validator.css' %}">
	<script src="{% static 'user_profile/js/form.js' %}"></script>
{% endblock %}

{% block content %}
<!-- <h1>{% trans "Sign Up" %}</h1> -->
    <h2 class="text-center">Got Credentials?</h2>

    <p><img class="media-object img-responsive center-block" src=
    "https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/support.svg" alt=
    "..."></p>

<!--
    <p class="text-center">Finish setting up your account:</p>
	-->

<div class='facebookSignup'>
	<div class="socialaccount_ballot">
		<a title="Facebook" class="socialaccount_provider facebook" 
			href="javascript:allauth.facebook.login('', 'authenticate',
			'login')">
			<button class="btn btn-facebook btn-block btn-primary btn-login">
				Use Facebook
		</button></a>
		{% include "socialaccount/snippets/login_extra.html" %}
	</div>
	<hr>
	<span class="help-block text-center"><a id='show-signUp'>Sign up with Email</a></span>
</div>
	<!-- 
<form id="registerForm" class="form-signin">

    <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>

                    <input type="text" class="form-control" name="firstName" placeholder="First Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>

                    <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>

                    <input type="text" class="form-control" name="username" placeholder="Username" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-lock"></i></span>

                    <input type="password" class="form-control" name="password" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-lock"></i></span>

                    <input type="password" class="form-control" name="passwordConfirm" placeholder="Re-enter Password" />
                </div>
            </div>
            <div class="form-group">        
 <button id="setupBtn" class="btn btn-lg btn-primary btn-block ladda-button" data-style="expand-right" type="submit"><span class="ladda-label"><i class="fa fa-check-square-o"></i> Complete Account</span>
                    </button>                
            </div>
</form>
	-->


<!--<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>-->

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }} 
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}


