{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
	{% load staticfiles %}
        <script src="{% static 'account/js/signup.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Got Credentials?</h2>

    <p><img class="img-responsive center-block" src=
    "https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/support.svg" alt=
    "..."></p>
<div class="acct-form">
<div class='facebookSignup'>
	<p class="text-center small">She's not letting you through without them!</p>
	<div class="socialaccount_ballot">
		<!-- <a title="Facebook" class="socialaccount_provider facebook" --> 
		<!-- 	href="javascript:allauth.facebook.login('', 'authenticate', -->
		<!-- 	'login')"> -->
		<a title="Facebook" class="" href="/accounts/facebook/login/">
			<button class="btn btn-facebook btn-block btn-primary btn-lg">
				Use Facebook
		</button></a>
		{% include "socialaccount/snippets/login_extra.html" %}
	</div>
	<hr>
	<span class="help-block text-center"><a href="#" id='show-signUp'>Use your own</a></span>
</div>

<div class="email_reminder text-center hidden">
	<p><strong>
		Using your .EDU e-mail:</strong> {{ request.session.initial_email }}
		<small class="text-danger"><a class="text-danger" href="/"> {% trans "(edit)" %}</a></small></p>
</div>
<form class="emailSignup" id="signup-form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="saved_email" value="{{ request.session.initial_email }}" />
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %} 
  <div class="form-group">
  <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-check-square-o"></i> {% trans "Sign Up" %}</button>
  </div>
</form>
</div>
</div>
{% endblock %}
