{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
<script src="https://connect.facebook.net/en_US/all.js"></script>
	{% load staticfiles %}
        <script src="{% static 'account/js/signup.js' %}"></script>
{% endblock %}

{% block content %}
{% providers_media_js %}
<div class="row">
	<div class="col-xs-12 text-center">
    <h2>Greetings, finish signing up!</h2>
    <br></br>
    <i class="fa fa-genderless fa-fw fa-5x animated pulse delayed-lg"></i>
    <br></br>
<div class="acct-form">
<div class='facebookSignup'>
	<div class="socialaccount_ballot">
		<a title="Facebook" class="socialaccount_provider facebook" 
			href="javascript:allauth.facebook.login('', 'authenticate', 'login')">
		<!-- <a title="Facebook" class="" href="/accounts/facebook/login/"> -->
			<button class="btn btn-facebook btn-block btn-trans btn-lg">
				Use Facebook
		</button></a>
	</div>
	<hr>
	<span class="help-block text-center"><a href="#" id='show-signUp' class="link">Use your own</a></span>
</div>

<div class="email_reminder text-center hidden">
	<h4><strong>Using your .EDU e-mail:</strong></h4>
	<h4>{{ request.session.initial_email }}</h4>
		<p></p>
		<a class="text-danger" href="/"> {% trans "change email" %}</a>
		<p></p>
</div>
<form class="emailSignup" id="signup-form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="saved_email" value="{{ request.session.initial_email }}" />
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %} 
  <div class="form-group">
  <button type="submit" class="btn btn-lg btn-trans btn-block"><i class="fa fa-check-square-o"></i> {% trans "Sign Up" %}</button>
  </div>
</form>
</div>
</div>
</div>
{% endblock %}
