{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
	<h2 class="text-center">{% trans "Verify Your E-mail Address" %}</h2>
	<img class="img-responsive center-block" src=
    "https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/rss.svg" alt=
    "Verify Email Address">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<hr>
			{% url 'account_email' as email_url %}

			<p>{% blocktrans %}This part of the site requires us to verify that
				you are who you claim to be. For this purpose, we require that you
				verify ownership of your <strong>.EDU e-mail address</strong>. We have sent an e-mail to you for
				verification. Please click on the link inside this e-mail.{% endblocktrans %}</p>
			<p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{email_url}}">change your .EDU e-mail address</a>.{% endblocktrans %}</p>
		</div>
	</div>
</div>
{% endblock %}
