{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block extra_head %}
	{% load staticfiles %}
		<script src="{% static 'account/js/confirm-email.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
		<h2 class="text-center">You've got mail!<small></small></h2>
		<p><img class="media-object img-responsive center-block" src=
			"https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/rss.svg" alt=
			"verify email account">
			<p class="text-center">Click the verification link in your <strong>.EDU e-mail</strong> account and let's get started!</>
			</p>
			<div class='emailVerify acct-form'>
							<hr>
				<h4 class="text-center">No Email?<small> oh noes</small></h4>
				<p class="text-center">
					That's alright, we'll send you another one. 
				</p>
				<div class='form-group' id="verify_group">
					<span id="resend_status" class="control-label"></span>
				</div>
			</div>
			<form id="resend_form" action="/login/resend-email/" class="email_list acct-form" method="post">
	{% csrf_token %}
	<input id="saved_email" type="hidden" name="email" value="{{request.session.initial_email}}"/>
	  <div class="buttonHolder">
		<button id='sendBtn' class="btn btn-lg btn-primary btn-block secondaryAction" data-style="expand-down" type="submit"
			name="action_send"><span class="ladda-label"><i class="fa fa-refresh fa-fw"></i> Resend Verification</span></span>
		</button>
	  </div>
	  <div class="show-email text-center h5"><hr> E-mail sent to {{request.session.initial_email}}!</div>
	</form>
</div>
{% endblock %}