Django==1.7
psycopg2==2.5.3
Pillow==2.5.3
Wand==0.3.8
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.3.2
kombu==3.0.23
billiard==3.3.0.18
celery==3.1.14
django-allauth==0.18.0
django-donottrack==0.1
django-smtp-ssl==1.0
#django-storages==1.1.7
fake-factory==0.4.0
jsonfield==1.0.0
oauthlib==0.6.3
python-magic==0.4.6
python-dateutil==2.2
python3-openid==3.0.4
git+https://github.com/coagulant/django-storages-py3
requests==2.4.1
requests-oauthlib==0.4.1
stripe==1.19.0
simplejson==3.6.3
https://launchpad.net/python-weather-api/trunk/0.3.8/+download/pywapi-0.3.8.tar.gz
#pywapi==0.3.8
six==1.8.0
sqlparse==0.1.11
#selenium==2.4.3
