{% extends 'user_profile/base.html' %}

{% block head_title %}Change account settings{% endblock %}
{% block extra_head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.5/ZeroClipboard.js"></script>

  {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/account_settings.css' %}">
    <script src="{% static 'user_profile/js/account_settings.js' %}"></script>
{% endblock %}

{% block body %}
{% load referral %}
<div class='container'>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/settings.svg" width="100px" class="center-block">
			<h3 class="text-center">{{user.first_name}} {{user.last_name}}</h3>
			<p class="text-center"><small>{{user.username}}</small></p>
			<div class="well">
				<button class="btn btn-sm btn-facebook btn-block"><i class="fa fa-facebook"></i> Connect with Facebook</button>
				{% include "socialaccount/snippets/login_extra.html" %}
				<p>
					<ul class="list-group">
						<li class="list-group-item"> 
							<i class="fa fa-book fa-fw"></i>{{user.student.courses.count}} classes <a href="{%url 'course_add'%}" class="btn btn-xs btn-default pull-right">Edit Schedule</a></span>
					</li>
					<li class="list-group-item">
						{{user.student.total_points}}  points <a href="#points-modal" data-toggle="modal" class='btn btn-xs btn-default pull-right'>Manage Points</a>
					</li>
					<li class="list-group-item">
						<i class="fa fa-lock"></i> Password <a href="{%url 'account_reset_password'%}" class='btn btn-xs btn-default pull-right'>Reset Password</a>
					</li>
					<li class="list-group-item">
						<i class="fa fa-university"></i> {{user.student.school.name}} <a href="{%url 'account_email'%}" class='btn btn-xs btn-default pull-right'>Transfer Schools</a>
					</li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item" data-toggle="tooltip" data-original-title="For each person that enters your code after signing up, you'll both get 500 points!">
						<i class="fa fa-paw"></i> Your Code: {{referral_code}}
						<a data-clipboard-text="http://{{request.get_host}}{{current_path | referral:referral_code }}" 
							class='btn btn-xs btn-default pull-right copy-button' id="code-button">Copy</a>
					</li>
					<li class="list-group-item" data-toggle="tooltip" data-original-title="For each person that signs up through your link, you'll both get 500 points!">
            <div class="row">
              <div class="col-xs-10">
						<i class="fa fa-paw"></i> Your Link: http://{{request.get_host}}/?ref={{referral_link}} 
          </div>
          <div class="col-xs-2">
						<a data-clipboard-text="http://{{request.get_host}}{{current_path | referral:referral_link }}"
							class='btn btn-xs btn-default pull-right copy-button' id="link-button">Copy</a>
            </div>
          </div>
					</li>
				</ul>
			</p>
		</div>   
	</div>
</div>
</div>
{% endblock %}
