{% extends 'user_profile/base.html' %}

{% block head_title %}
{% if request.user.is_authenticated %}
{% if user.first_name %}{{user.first_name}}{%else%}{{user.username}}{% endif %}
{% else %}Not Logged In
{% endif %}
{% endblock %}
{% block extra_head %}

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

{% load staticfiles %}
<script src="{% static 'lib/js/jquery.cookie.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'documents/css/list.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/user_profile.css' %}">
<script src="{% static 'user_profile/js/profile.js' %}"></script>
<!-- // <script src="{% static 'documents/js/list.js' %}"></script> -->

{% endblock %}

{% block body %}
{% load humanize %}
<!-- <div class="jumbotron text-center" style="background-color:;">
 -->
<span class="text-center center-block">
	<img src="{{profile.profile_image_url}}" width="165px" class="animated flipInX img-thumbnail img-responsive img-circle">
	<h2 style="margin-bottom:;">{{user.first_name}} {{user.last_name}}</h2>
	<p class="small">{{student.name}} &nbsp;
		{% ifequal viewer student %}
		<span id="major" data-type="text" data-title="" data-params=""><i class="fa fa-graduation-cap fa-fw"></i> Add your Major</span> &nbsp;
		{% else %}
		<span id="major-other"><i class="fa fa-graduation-cap fa-fw"></i> Marketing Major</span> &nbsp;
		{% endifequal %}
		<i class="fa fa-university fa-fw"></i>{{student.school.name}}</p>
	<!-- <h5><small style="color:;">joined {{student.create_date | naturaltime}}</small></h5> -->
	<div class="about-container">
		{% ifequal viewer student %}
		<p class="lead" id="about" data-type="text" data-title="" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{profile.blurb}}</p> <!--<button id="edit-button" class="btn btn-xs">Edit</button>-->
		{% else %}
		<p class="lead" id="about-other">{{profile.blurb}}</p> <!--<button id="edit-button" class="btn btn-xs">Edit</button>-->
		{% endifequal %}
	</div>
</span>
<p></p>
<!-- </div> -->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="progress">
				<a href="#" class="progress-bar progress-bar-success" id="score_1">
					<span class="sr-only">35% Complete (success)</span>
				</a>
				<a href="#" class="progress-bar progress-bar-primary" id="score_2">
					<span class="sr-only">20% Complete (warning)</span>
				</a>
				<a href="#" class="progress-bar progress-bar-info" id="score_3" >
					<span class="sr-only">45% Complete (danger)</span>
				</a>
			</div>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
				<li><a href="#selling_docs" role="tab" data-toggle="tab">Documents <span class="badge">{{upload_list|length}}</span></a></li>
				<li><a href="#selling_calendars" role="tab" data-toggle="tab">Calendars <span class="badge">2</span></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active fade in" id="home">
					<p></p>
					<div id="friend-message" class="lead text-center">
						<hr>
						To see more of what {{student.name}} shares, become friends with them! <div class="btn
							btn-primary" id="friend_button" >Friend {{student.name}}</div>
						<hr>
					</div>
					<div class="well">
						<div id="top_friends" class="hidden">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="page-header">
										<h3 class="text-center">Friends</h3>
									</div>
									<div class="row">
										<div class="col-sm-3 col-xs-6">
											<p></p>
											<a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/t1.0-1/c0.35.160.160/p160x160/1546197_10152408453121654_377514791880411854_n.jpg" class="img-circle img-thumbnail img-responsive center-block" width="130px"  alt="...">
												<div class="caption">
													<h4>MrWood</h4></a>
												<p>I need a calculator.</p>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<p></p>
											<a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/t1.0-1/c58.58.722.722/s160x160/564732_3622659047309_1898757813_n.jpg" class="img-circle img-thumbnail img-responsive center-block" width="130px" alt="..."></a>
											<div class="caption">
												<a href="#"><h4>JHewitt</h4></a>
												<p>I love math.</p>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<p></p>
											<a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/p160x160/1948074_10151938632961930_1503647379_n.jpg" class="img-circle img-thumbnail img-responsive center-block" width="130px" alt="..."></a>
											<div class="caption">
												<a href="#"><h4>MKess</h4></a>
												<p>I love bar.</p>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<p></p>
											<a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/t1.0-1/c27.27.336.336/s160x160/541507_10151639998509579_1032724019_n.jpg" class="img-circle img-thumbnail img-responsive center-block" width="130px" alt="..."></a>
											<div class="caption">
												<a href="#"><h4>AK</h4></a>
												<p>Don't know me.</p>
											</div>
										</div>
									</div>
								</div>
							</div> 
							<hr>
						</div>
						<!-- <div id="top_achievements" class="hidden"> -->
						<!-- 	<div class="panel panel-default"> -->
						<!-- 		<div class="panel-body"> -->
						<!-- 			<div class="page-header"> -->
						<!-- 				<h3 class="text-center">Top Achievements</h3> -->
						<!-- 			</div> -->

						<!-- 			<div class="row"> -->
						<!-- 				<div class="col-sm-3 col-xs-6"> -->
						<!-- 					<p></p> -->
						<!-- 					<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Circle+Icons+/png/128px/profile.png" class="img-circle img-thumbnail" alt="..."> -->
						<!-- 					<div class="caption"> -->
						<!-- 						<h4>Joined mchp</h4> -->
						<!-- 						<p>You've joined, now what?</p> -->
						<!-- 					</div> -->
						<!-- 				</div> -->
						<!-- 				<div class="col-sm-3 col-xs-6"> -->
						<!-- 					<p></p> -->
						<!-- 					<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Circle+Icons+/png/128px/document.png" class="img-circle img-thumbnail"  alt="..."> -->
						<!-- 					<div class="caption"> -->
						<!-- 						<h4>Document Uploader</h4> -->
						<!-- 						<p>Uploading machine</p> -->
						<!-- 					</div> -->
						<!-- 				</div> -->
						<!-- 				<div class="col-sm-3 col-xs-6"> -->
						<!-- 					<p></p> -->
						<!-- 					<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Circle+Icons+/png/128px/calendar.png" class="img-circle img-thumbnail" alt="..."> -->
						<!-- 					<div class="caption"> -->
						<!-- 						<h4>Calendar Creator</h4> -->
						<!-- 						<p>I've made a ton of calendars.</p> -->
						<!-- 					</div> -->
						<!-- 				</div> -->
						<!-- 				<div class="col-sm-3 col-xs-6"> -->
						<!-- 					<p></p> -->
						<!-- 					<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Circle+Icons+/Custom/document-sales.png" class="img-circle img-thumbnail" alt="..."> -->
						<!-- 					<div class="caption"> -->
						<!-- 						<h4>Document Master</h4> -->
						<!-- 						<p>Sell 100 documents</p> -->
						<!-- 						<div class="progress"> -->
						<!-- 							<a href="#" class="progress-bar progress-bar-primary" id="documentMasterScore"> -->
						<!-- 								<span class="sr-only">35% Complete (success)</span> -->
						<!-- 							</a> -->
						<!-- 						</div> -->
						<!-- 					</div> -->
						<!-- 				</div> -->
						<!-- 				<div class="col-sm-3 col-xs-6"> -->
						<!-- 					<p></p> -->
						<!-- 					<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Circle+Icons+/Custom/calendar-sales.png" class="img-circle img-thumbnail" alt="..."> -->
						<!-- 					<div class="caption"> -->
						<!-- 						<h4>Calendar Master</h4> -->
						<!-- 						<p>I've sold a ton of calendars!</p> -->
						<!-- 						<div class="label label-info">Level 10</div> -->
						<!-- 					</div> -->
						<!-- 				</div> -->
						<!-- 			</div> -->
						<!-- 		</div> -->
						<!-- 	</div> -->
						<!-- 	<hr> -->  
						<!-- </div> -->
						<div id="user_classes" class="hidden">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="page-header">
										<h3 class="text-center">Classes</h3>
									</div>
									<div class="row">
										{% for course in student.courses.all %}
										<div class="col-sm-3 col-xs-6">
											<p></p>
											<!-- don't include the slug here -->
											<a href="{%url "course" course.pk%}">
												<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
											</a>
											<div class="caption">
												<h4>{{course.display}}</h4>
												<p><i class="fa fa-users fa-fw"></i> {{course.student_count}} <i class="fa
														fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i>
													{{course.document_count}}</p>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- Show initial Classes in common -->
						<div id="shared_classes">
							<div class="panel panel-default scrolls text-center">
								<div class="panel-body">
									<div class="page-header">
										<h3 class="text-center">You and {{student.name}} are taking these classes together:</h3>
									</div>
									<div class="row">
										<div class="col-sm-3 col-centered">
											<p></p>
											<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
											<div class="caption">
												<h4>ECON 200</h4>
												<p><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p>
											</div>
										</div>
										<div class="col-sm-3 col-centered">
											<p></p>
											<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
											<div class="caption">
												<h4>ECON 200</h4>
												<p><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div> 
				</div>
				<div class="tab-pane fade active" id="selling_docs">
					<p></p>
					{% if upload_list %}
					<div class="list-group scrolls" id="document-list">
						{% for document in upload_list %}
						<li class="list-group-item" id="document_{{document.pk}}">

							<div class="media">
								<div class="img-thumbnail pull-left"><a href="{% url 'document_list' %}
										{{ document.uuid}}/
										{{ document.slug}} ">

										{% if document.preview %}
										<img src="{{document.preview.url}}" style="width:64px"></a></div>
								{% else %}
										<img src="{% static 'documents/img/loading_file.svg' %}" style="width:64px"></a></div>
								{% endif %}

								<div class="media-body">
									<h4 class="media-heading"><a href="{% url 'document_list' %}
											{{ document.uuid}}/
											{{ document.slug}}
											">{{ document.title }}</a> <small>{{document.price}} <i class="fa fa-fw fa-cube"></i></small>
										<div class="pull-right small text-muted"></div>
									</h4>
									<span class="description">
										<i class="fa fa-fw fa-thumbs-o-up text-success"></i>{{document.up}}
										<i class="fa fa-fw fa-thumbs-o-down text-danger fa-flip-horizontal"></i>{{ document.down}}&nbsp;&nbsp;
										<i class="fa fa-comments-o text-info fa-fw"></i>&nbsp;{{document.review_count}} Reviews&nbsp;&nbsp;
										<i class="fa fa-fw fa-money text-success"></i>&nbsp;{{document.purchase_count}} Purchases
									</span>
								</div>
							</div>
						</li>
						{% endfor %}
					</div>
					<div id="no-documents" style="display: none;">
						<h4>Mitch isn't selling any documents!</h4>
					</div>
					{% else %}
					<hr>
					<div id="no-documents">
						<h4>Mitch isn't selling any documents!</h4>
					</div>
					<hr>
					{% endif %}
				</div>

				<div class="tab-pane fade" id="selling_calendars">
					<hr>
					<div id="no-calendars">
						<h4>Mitch isn't selling any calendars!</h4>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
