{% extends 'user_profile/base.html' %}

{% block head_title %}{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}{% endblock %}

{% block body %}
{% if request.user.is_authenticated %}
		<p>
    <a href="/accounts/logout/" class="pull-left">Logout</a>
		</p>
		<p>
		{% with request.user.student as student %}

			{% if request.user.first_name or request.user.last_name %}
				{{ request.user.first_name }} {{ request.user.last_name }}
			{% else %}
				{{ request.user.username }}
			{% endif %}

			{% if student.profile.account_verified %}
				(verified)
			{% else %}
				(unverified) 
			{% endif %}

		{% endwith %}
		</p>
		<p>
			<a href="{% url 'course_create' %}">Create a course.</a>
		</p>
		<p>
			<a href="{% url 'course_add' %}">Add a course.</a>
		</p>
 
{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>
{% endif %}
{% endblock %}
