{% extends 'user_profile/base.html' %}

{% block head_title %}{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}{% endblock %}

{% block body %}
<div class="jumbotron text-center" style="background-color:;">
<img src="http://1.bp.blogspot.com/-LxboJJo_drw/T_QfPeEK6JI/AAAAAAAACB8/p6R0zGys8hk/s1600/sketch185-July3rd.jpg" style="width:150px; height:150px;" class="animated flipInX img-thumbnail img-responsive img-circle">
          <h2 style="color:;">Mitch Kessler</h2>
          <h5 style="color:;"><i class="fa fa-user fa-fw"></i> Mitchellias &nbsp;<i class="fa fa-university fa-fw"></i> University of Arizona</h5>
          <h5><small style="color:;">joined 5 months ago</small></h5>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 35%">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 45%">
    <span class="sr-only">45% Complete (danger)</span>
  </div>
</div>
			<div class="page-header">
        		<h2 class="text-center">Top Achievements</h2>
      		</div>
      		<div class="row">
			<div class="col-sm-3">
			<div class="thumbnail">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/money.svg" alt="...">
      <div class="caption">
        <h4>Money Maker</h4>
        <p>Selling like it's my job.</p>
      </div>
    </div>
</div>
<div class="col-sm-3">
			<div class="thumbnail">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/bag.svg" alt="...">
      <div class="caption">
        <h4>Money Maker</h4>
        <p>Selling like it's my job.</p>
      </div>
    </div>
</div>
<div class="col-sm-3">
			<div class="thumbnail">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/flask.svg" alt="...">
      <div class="caption">
        <h4>Money Maker</h4>
        <p>Selling like it's my job.</p>
      </div>
    </div>
</div>
<div class="col-sm-3">
			<div class="thumbnail">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/support.svg" alt="...">
      <div class="caption">
        <h4>Money Maker</h4>
        <p>Selling like it's my job.</p>
      </div>
    </div>
</div>
</div>
<!-- 
      		<a href="#" class="btn"><img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/money.svg" class="center-block" height="78px"><p class="text-center"><strong>Doc Thief</strong></p><h4><span class="badge">10</span></h4></a>
      		<a href="#" class="btn"><img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/storage.svg" class="center-block" height="78px"><p class="text-center"><strong>Doc Boss</strong></p><h4><span class="badge">8</span></h4></a>
      		<a href="#" class="btn"><img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/calendar.svg" class="center-block" height="78px"><p class="text-center"><strong>Cal Boss</strong></p><h4><span class="badge">4</span></h4></a> -->

			<div class="page-header">
        		<h2 class="text-center">Classes</h2>
      		</div>
      		<div class="row">
			<div class="col-sm-3">
				<a href="#"><div class="thumbnail btn btn-default btn-xs">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
      <div class="caption">
        <h4>ECON 200</h4>
        <p><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p>
      </div></a>
    </div>
			</div>
			<div class="col-sm-3">
				<a href="#"><div class="thumbnail btn btn-default btn-xs">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
      <div class="caption">
        <h4>ECON 200</h4>
        <p><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p>
      </div></a>
    </div>
			</div>
			<div class="col-sm-3">
				<a href="#"><div class="thumbnail btn btn-default btn-xs">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
      <div class="caption">
        <h4>ECON 200</h4>
        <p><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p>
      </div></a>
    </div>
			</div>
			<div class="col-sm-3">
				<a href="#"><div class="thumbnail btn btn-default btn-xs">
				<p></p>
      <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="...">
      <div class="caption">
        <h4>ECON 200</h4>
        <p><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p>
      </div></a>
    </div>
			</div>
		</div>


      		<!-- <a href="#" class="btn"> <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" class="center-block thumbnail" width="78px"><p class="text-center btn-default btn-xs"><strong>ECON 200</strong></p><p class="text-center small"><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p></a>
      		<a href="#" class="btn"> <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" class="center-block thumbnail" width="78px"><p class="text-center btn-default btn-xs"><strong>ECON 200</strong></p><p class="text-center small"><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p></a>
      		<a href="#" class="btn"> <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" class="center-block thumbnail" width="78px"><p class="text-center btn-default btn-xs"><strong>ECON 200</strong></p><p class="text-center small"><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p></a>
      		<a href="#" class="btn"> <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" class="center-block thumbnail" width="78px"><p class="text-center btn-default btn-xs"><strong>ECON 200</strong></p><p class="text-center small"><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p></a>
      		<a href="#" class="btn"> <img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" class="center-block thumbnail" width="78px"><p class="text-center btn-default btn-xs"><strong>ECON 200</strong></p><p class="text-center small"><i class="fa fa-users fa-fw"></i> 36 <i class="fa fa-calendar fa-fw"></i> 42 <i class="fa fa-file fa-fw"></i> 6</p></a> -->
      		
      </div> 
      </div>
		</div>
	</div>
</div>
		<!-- <div class="col-md-4 col-md-offset-4">
			<h2 class="text-center">Profile Menu</h2>
			<p class="small text-center">{% if request.user.is_authenticated %}  
		{% with request.user.student as student %}

			{% if request.user.first_name or request.user.last_name %}
				{{ request.user.first_name }} {{ request.user.last_name }}
			{% else %}
				{{ request.user.username }}
			{% endif %}

			{% if student.profile.account_verified %}
				(verified)
				<a href="/accounts/logout/">Log Out</a>&nbsp;
			{% else %}
				(unverified) 
			{% endif %}

		{% endwith %}</p>
		<hr>
		<div class="well">
	<div class="list-group">
	<li class="list-group-item">
			<a href="{% url 'course_create' %}">Create Course</a>
	</li>
	<li class="list-group-item">
			<a href="{% url 'course_add' %}">Add Course</a>
	</li>
	<li class="list-group-item">
			<a href="/documents/add/">Add Document</a>
	</li>
	<li class="list-group-item">
			<a href="/documents/">My Documents</a>
 	</li>
{% else %}
	<li class="list-group-item">
    <a href="/accounts/login/" class="pull-right">Login</a>
	</li>
{% endif %}
</div>
</div>
</div> -->
{% endblock %}
