{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Choose your School" %}{% endblock %}
{% block extra_head %}
	{% load staticfiles %}
	<script src="{% static 'user_profile/css/confirm-school.js' %}"></script>
	<script src="{% static 'user_profile/js/confirm-school.js' %}"></script>
	{% load socialaccount %}
	{% providers_media_js %}
{% endblock %}

{% block content %}
	{% for school in schools %}		
		{% if school.domain|slice:"11:-1" in request.session.initial_email %}
		    <script>
				$(document).ready(function() {
					console.log("{{request.session.initial_email}}");
					$(".college_name").text("{{ school.name }}");
					$('input[name=school]').val("{{ school.domain }}");
				});
			</script>
		{% endif %}		
	{% endfor %}
<script type="text/javascript">
$(document).ready(function () {
	if($('input[name=school]').val()==""){
		$('.display-college').hide();
		$('#college_select').show();
		$("#joinCollege").attr("disabled", "disabled");
	}

	$(".dropdown-menu li").click(function(){
		$('input[name=school]').val($(this).attr('value'));
		$("#joinCollege").removeAttr("disabled");  
    });
});
</script>
<div class="container text-center">
	<div class="display-college">
	<h3 class="text-center">You must attend:<small></small></h3>
	<form class="form-signin" role="form" id='college_form' method="post" action="{% url  'confirm_school' %}">
	<input type="hidden" id="action" value="confirm">
		<h2 class="text-center college_name">College Name</h2>
		<img class="media-object img-responsive center-block" style="" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/building.svg" alt="college">
		<h4 class="text-center"><small>Our MCHP wizard determined that you go to "</small><small class="college_name">College Name</small><small>".</small></h4>
		<button class="btn btn-lg btn-primary btn-block  acct-form" type="submit"><i class="fa fa-check-square-o"></i> Yes, I do!</button>
		<hr style="width: 300px;" >
	<p><a class="show-college text-center">Nope, your magic didn't work on me</a></p>
	</div>
		<div id="college_select" class="acct-form">
		<h4>We couldn't find your college!</h4>
		<p>Choose your college from the list below.</p>
	</p>
	
		{% csrf_token %}
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown">
				Choose Your College
				<span class="caret"></span>
			</button>
			<p></p>
			<ul class="dropdown-menu btn-block pull-left" role="menu" aria-labelledby="dropdownMenu1">
				{% for school in schools %}
				<li value="{{ school.domain }}" role="presentation">
					<a role="menuitem" tabindex="-1" href="#">{{ school.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<input type="hidden" name="school" value="">
		{% if next %}
			<input type="hidden" name="next" value="{{ next }}">
		{% endif %}
		<button id="joinCollege" class="btn btn-lg btn-primary btn-block btn-md" type="submit"><i class="fa fa-check-square-o"></i> Join College</button>
	</form>
</div>
</div>
{% endblock %}
