{% extends "account/base.html" %}

{% block head_title %}Choose your School{% endblock %}
{% block extra_head %}
	{% load staticfiles %}
	<script src="{% static 'user_profile/js/confirm-school.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/confirm-school.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div id="college_select">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h3 class="text-center">You must attend: </h3>
				<h2 class="text-center college_name">{{guess_school.name}}</h2>
				<img class="media-object img-responsive center-block" style="" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/building.svg" alt="college">
				<h4 class="text-center">
					<small>Our MCHP wizard determined that you go to "{{guess_school.name}}"</small>
				</h4>
				<form class="form-signin" role="form" id='college_form' method="post" action="{% url 'confirm_school' %}">
					{% csrf_token %}
					<input type="hidden" name="school" value="{{guess_school.pk}}" autocomplete="off">
					{% if next %}
					<input type="hidden" name="next" value="{{ next }}">
					{% endif %}
					<button class="btn btn-lg btn-primary btn-block  acct-form" type="submit"><i class="fa fa-check-square-o"></i> Yes, I do!</button>
					<hr style="width: 300px;" >
				</form>
				<button id="nope" class="btn btn-lg btn-primary btn-block acct-form" > Nope!</button>
			</div>
		</div>
	</div>

	<div id="school-list">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h4 class="text-center">We couldn't find your college!</h4>
				<p class="text-center">Choose your college from the list below.</p>
				<form class="form-signin" role="form" id='college-form2' method="post" action="{% url 'confirm_school' %}">
					{% csrf_token %}
					<div class="input-group input-group-lg">
						<span class='input-group-addon'>School</span>
						<select name="school" class="form-control course-select">
							<option class="default" value="-1" selected>Choose your school</option>
							{% for school in schools %}
							<option class="school" value="{{school.pk}}">{{school.name}}</option>
							{% endfor %}
						</select>
					</div>
					<br>
					<p>
						<button id="join-college" class="btn btn-lg btn-primary btn-block
							btn-md" disabled type="submit"><i class="fa fa-check-square-o"></i> Join College</button>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
