<div class="payment">
	{% load staticfiles %}
	<script src="{% static 'payment/js/payment.js' %}"></script>
	<script type="text/javascript">
		var $modal = $('#{{modal_id}}');
		var change_url = '{%url "change_card"%}';
	</script>
	{% load payment %}
	<ul class="nav nav-pills nav-justified" role="tablist">
		<li class="active">
			<a href="#purchase-points-tab" role="tab" data-toggle="tab">Buy Points</a>
		</li>
		<li><a href="#cash-out-tab" role="tab" data-toggle="tab">Cash Out</a></li>
		<li><a href="#card-info-tab" role="tab" data-toggle="tab">Card Info</a></li>
	</ul>
	<hr class="margin-btm-sm">
	<div class="row">
		<div class="col-xs-12">
			<a href="#" class="show-cards small margin-top-none pull-right text-dull"><i class="fa-fw fa fa-credit-card"></i> View</a>
		</div>
	</div>
	<p></p>
	<div class="saved-cards hidden">
		<div class="list-group">
		<div class="list-group-item">
			<button type="button" class="close hide-cards" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<p class="card-errors text-danger text-center"></p>
			<label><i class="fa-fw fa fa-credit-card"></i> Your Cards</label>
			{% csrf_token %}
			<div class="radio default-card-container">
				{% for card in cards %}
				<div id="card-{{card.pk}}">
					<label>
						<input type="radio" name="card" value="{{card.pk}}">
						{% if card.recipient_id %}
						Debit 
						{% else %}
						Credit 
						{% endif %}
						Card ****<strong>{{card.last_four}}</strong>
					</label>
					<span class="pull-right" id="card-span-{{card.pk}}">
						{% if card.default %}
						<a href="#" class="default-card"><i data-toggle="tooltip" data-original-title="This is your default card" class="fa fa-check fa-fw text-primary"></i></a>
						{% endif %}
						<a href="#" class="delete-card-button" data-card="{{card.pk}}">
							<i data-toggle="tooltip" data-original-title="Delete this card" class="fa fa-times fa-fw text-danger"></i>
						</a>
					</span>
					</div>
					<span class="card-options"></span>
					{% empty %}
					<p>
						You havn't added any cards yet!
					</p>
					<p class="small">
						(If you don't see a card you just added, try refreshing the page)
					</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade in active text-center" id="purchase-points-tab">
			{% purchase student%} 
		</div>
		<div class="tab-pane fade text-center" id="cash-out-tab">
			{% cash_out student%}
		</div>
		<div class="tab-pane fade" id="card-info-tab">
			{% card_info student%}
		</div>
	</div>
</div>
