<div id="purchase-points">
	{% load staticfiles %}
		<script src="{% static 'payment/js/purchase.js' %}"></script>
	<script type="text/javascript">
		var purchase_url = '{%url "stripe_charge"%}';
	</script>
	<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/lemon.svg" width="65"class="animated rotateIn rollIn duration-sm" />
	<p></p>
	<p class="lead">How many lemons would you like today?</p>
	<form autocomplete="off" class="purchase-points" method="post" action={% url "stripe_charge" %}>
		{% csrf_token %}
		<select name="amount" class="form-control">
			<option value=500>500 Lemons</option>
			<option value=1000>1,000 Lemons</option>
			<option value=2000>2,000 Lemons</option>
			<option value=5000>5,000 Lemons</option>
		</select>
	</form>
	<hr>
	<div class="row">
		<div class="col-xs-5">
			<button type="submit" class="btn btn-primary btn-block submit-card">Pay with my Card</button>
		</div>
		<div class="col-xs-7">
			<button type="submit" class="btn btn-success btn-block submit-savings">
				From my Savings $<span class="savings-amount">{{student.display_balance}}</span></button>
		</div>
	</div>
</div>
