/*
/*
/* Styles for the School page
/*
*/

.doc-scroll {
	overflow: auto;
	max-height: 500px;
}

.fixed-table-container tbody td {
  border-left: none; 
}

.pull-left.search {
	width: 100%;
	margin-top: 0px;
}

div.fixed-table-body > table > thead > tr > th:first-child > div.th-inner.sortable {
	padding-left: 0;
}
