/*
/* This is for styling the course add page
/*
*/

/* Styles to the search dropdown list */
.search-group {
	max-height: 513px;
	overflow: auto;
}
#searchResults > .list-group-item:hover {
    background: #f5f5f5;
}
#searchResults > div.list-group-item.list-group-item-danger:hover {
	background: #f2dede;
}

/* Show end tour button on last step */
/*#step-1 .btn-end { display: block; }*/
