/*
/*
/* Styles for the School page
/*
*/

.doc-scroll {
	overflow: auto;
	max-height: 500px;
}

.fixed-table-container tbody td {
  border-left: none; 
}

div.pull-right.search {
	width: 100%;
	margin-bottom: 10px;
}

div.fixed-table-body > table > thead > tr > th:first-child > div.th-inner.sortable {
	padding-left: 0;
}

::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: '\f002  ';
}
::-moz-placeholder::before {
  font-family: fontAwesome;
  content: '\f002  ';
}
/* firefox 19+ */
:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: '\f002  ';
}
/* ie */
input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: '\f002  ';
}
