/*
/* This is for styling the course add page
/*
*/

/* Styles to the search dropdown list */
.search-group {
	max-height: 513px;
	overflow: auto;
}

#enrolled_list > .enrolled-class-id:hover {
	background: rgba(0,0,0,.4);
  border-color: transparent;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}

#searchResults > .list-group-item:hover {
  background: rgba(0,0,0,.4);
  border-color: transparent;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}

/* Show end tour button on last step */
/*#step-1 .btn-end { display: block; }*/
