/*
/*
/* Styles for the School page
/*
*/

.doc-scroll {
	overflow: auto;
	max-height: 500px;
}

.cal-scroll {
	overflow: auto;
	max-height: 500px;
}

.assignment-number {
	position: relative;
	padding: 0px;
	margin-top: -38px;
	margin-left: auto;
	margin-right: auto;
}
