{% extends "lib/base.html" %}

{% block head_title %}400 Error{% endblock %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block body %}
<div class="container text-center">
	<div class="jumbotron">
		<div class="panel">
		    <div class="panel-body">
			    <div class="row">
			        <div class="col-xs-8 col-xs-offset-2">
						<h1><strong>400</strong></h1>
				      	<hr>
				        <h2>Well, this is awkward...</h2>
						<img src="{% static 'lib/img/support.svg' %}" width="200" alt="400 error" class="img-thumbnail img-circle">
				        <p></p>
				        <p class="lead">We're not quite sure where you want to go...</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
