{% extends "lib/base.html" %}

{% block head_title %}403 Error{% endblock %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<div class="panel">
    <div class="panel-body">
	    <div class="row">
	      <div class="col-xs-8 col-xs-offset-2">
					<h1><strong>403</strong></h1>
		      <hr>
		      <h2>You're not authorized to see this!</h2>
					<img src="{% static 'lib/img/lock.svg' %}" width="200" alt="403 error" class="img-thumbnail img-circle">
		      <p></p>
		      <p class="lead">It may be best if you head back home...</p>
	      </div>
	    </div>
		</div>
	</div>
</div>
{% endblock %}