{% extends "lib/base.html" %}

{% block head_title %}404 Error{% endblock %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block body %}
<div class="container text-center">
	<div class="jumbotron">
		<div class="panel">
		    <div class="panel-body">
			    <div class="row">
			        <div class="col-xs-8 col-xs-offset-2">
						<h1><strong>404</strong></h1>
				      	<hr>
				        <h2>What you are looking for does not exist!</h2>
						<img src="{% static 'lib/img/pencil.svg' %}" width="200" alt="404 error" class="img-thumbnail img-circle">
				        <p></p>
				        <p class="lead">It's like it was erased... forever.</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
