{% extends "lib/base.html" %}

{% block head_title %}500 Error{% endblock %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block body %}
<div id="bg" data-url-prefix="https://mchp-production.s3.amazonaws.com/static/" style="background-image: url(https://mchp-production.s3.amazonaws.com/static/lib/img/bgimages/bg-27.jpeg);top: 0px;left: 0px;z-index:-1;"></div>
<div class="jumbotron text-center opa">
	<h1 class="mega-font">500</h1>
	<h1>There was an internal server error!</h1>
	<p class="lead">We've been notified, but if you want to tell us exactly what caused this, please <a href="#" class="link open-chat">Chat Us</a>!</p>
</div>
{% endblock %}
