{% extends "lib/base.html" %}

{% block head_title %}500 Error{% endblock %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block body %}
<div class="container text-center">
	<div class="jumbotron">
		<div class="panel">
		    <div class="panel-body">
			    <div class="row">
			        <div class="col-xs-8 col-xs-offset-2">
						<h1><strong>500</strong></h1>
				      	<hr>
				        <h2>One of our servers just had a hiccup!</h2>
						<img src="{% static 'lib/img/dynamite.svg' %}" width="200" alt="500 error" class="img-thumbnail img-circle">
				        <p></p>
				        <p class="lead">Pardon us, we're trying to scare the server back to normal.</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
