{% extends "lib/base.html" %}

{% block head_title %}{% endblock %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'documents/css/documents.css' %}">
<script src="{% static 'documents/js/documents.js' %}"></script>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
<div id="fb-root"></div>
{% load socialaccount %}
{% providers_media_js %}
	{% block content %}
	{% endblock %}
{% endblock %}

{% block extra_body %}
{% endblock %}
