{% extends 'documents/base.html' %}

{% block extra_head %}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'documents/css/list.css' %}">
		<script src="{% static 'documents/js/list.js' %}"></script>
		<script src="{% static 'lib/js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
    			<img class="media-object pull-left animated slideInLeft" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/storage.svg" height="50px" alt="sell documents">
  				<div class="media-body">
						<h2 class="media-heading">My Documents <div class='pull-right'> <a href="{%url 'document_upload'%}" class='btn btn-primary'><i class="fa fa-file fa-fw"></i> Sell Documents &raquo;</a> </div></h2>
				make money while you study</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs h4" role="tablist">
				<li class="active">
					<a href="#selling_docs" role="tab" data-toggle="tab">
						Selling
						<span id="upload-count" class="badge">{{ upload_count }}</span></a>
				</li>
				<li>
					<a href="#purchased_docs" role="tab" data-toggle="tab">
						Purchased
						<span id="purchase-count" class="badge">{{ purchase_count}}</span></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="selling_docs">
					<p></p>
					{% if upload_list %}
					<div class="list-group scrolls" id="document-list">
						{% for upload in upload_list %}
						<li class="list-group-item" id="document_{{upload.document.pk}}">

							<div class="media">
								<div class="img-thumbnail pull-left"><a href="{% url 'document_list' %}
										{{ upload.document.uuid}}/
										{{ upload.document.slug}}
										"><img src="{{upload.document.preview.url}}" style="width:64px"></a></div>

								<div class="media-body">
									<h4 class="media-heading"><a href="{% url 'document_list' %}
											{{ upload.document.uuid}}/
											{{ upload.document.slug}}
											">{{ upload.document.title }}</a> <small>{{upload.document.price}} <i class="fa fa-fw fa-cube"></i></small>
										<div class="pull-right small text-muted">{{upload.document.create_date | naturaltime}}</div>
									</h4>
									<small class="pull-right">
										<a href="javascript:void(0)" class="badge delete-button" data-document="{{upload.document.pk}}">delete</a>
									</small>

									<span class="description">
										<i class="fa fa-fw fa-thumbs-o-up text-success"></i>{{upload.document.up}}
										<i class="fa fa-fw fa-thumbs-o-down text-danger fa-flip-horizontal"></i>{{ upload.document.down}}&nbsp;&nbsp;
										<i class="fa fa-comments-o text-info fa-fw"></i>&nbsp;{{upload.document.review_count}} Reviews&nbsp;&nbsp;
										<i class="fa fa-fw fa-money text-success"></i>&nbsp;{{upload.document.purchase_count}} Purchases
									</span>
								</div>
							</div>
						</li>
						{% endfor %}
					</div>
					<div id="no-documents" style="display: none;">
						<h4>You're not selling any documents!</h4>
						<a href={% url 'document_upload'%} class='btn btn-primary'><i class="fa fa-file fa-fw"></i> Sell Documents &raquo;</a>
					</div>
					{% else %}
					<hr>
					<div id="no-documents">
						<h4>You're not selling any documents!</h4>
						<a href={% url 'document_upload'%} class='btn btn-primary'><i class="fa fa-file fa-fw"></i> Sell Documents &raquo;</a>
					</div>
					<hr>
					{% endif %}
				</div>
				<div class="tab-pane" id="purchased_docs">
					<p></p>
					{% if purchases %}
					<div class="list-group" id="purchased_list">
						{% for doc in purchases %}
						<li class="list-group-item" id="purchased_{{doc.document.pk}}">

							<div class="media">
								<div class="img-thumbnail pull-left"><a href="{% url 'document_list' %}
										{{ doc.document.uuid}}/
										{{ doc.document.slug}}
										"><img src="{{doc.document.preview.url}}" style="width:64px"></a></div>

								<div class="media-body">
									<h4 class="media-heading"><a href="{% url 'document_list' %}
											{{ doc.document.uuid}}/
											{{ doc.document.slug}}
											">{{ doc.document.title }}</a> <small>{{doc.document.price}} points</small>
										<div class="pull-right small text-muted">{{doc.document.create_date | naturaltime}}</div></h4>
									<small class="pull-right">
										<a href="javascript:void(0)" class="badge remove-button" data-document="{{doc.document.pk}}">remove</a>
									</small>

									<span class="description">
										<i class="fa fa-fw fa-thumbs-o-up text-success"></i>{{doc.document.up}}
										<i class="fa fa-fw fa-thumbs-o-down text-danger fa-flip-horizontal"></i>{{ doc.document.down}}&nbsp;&nbsp;
										<i class="fa fa-comments-o text-info fa-fw"></i>&nbsp;{{doc.document.review_count}} Reviews&nbsp;&nbsp;
										<i class="fa fa-fw fa-money text-success"></i>&nbsp;{{doc.document.purchase_count}} Purchases
										<p class="small">Uploaded by <a href="#">{{doc.document.upload_set.get.owner.user.username}}</a></p>
									</span>
								</div>
							</div>
						</li>
						{% endfor %}
					</div>
					<div id="no-purchases" style="display: none">
						<h4>You haven't purchased any documents!</h4>
						<a href={% url 'document_list'%} class='btn btn-primary'><i class="fa fa-file fa-fw"></i> Browse Documents &raquo;</a>
					</div>
					{% else %}
					<hr>
					<div id="no-purchases">
						<h4>You haven't purchased any documents!</h4>
						<a href={% url 'document_list'%} class='btn btn-primary'><i class="fa fa-file fa-fw"></i> Browse Documents &raquo;</a>
					</div>
					<hr>
					{% endif %}
				</div>
			</div>	

		</div>
	</div>
</div>	
{% endblock %}
