{% extends 'documents/base.html' %}
{% block head_title %}{{ document.title }}{% endblock %}

{% block extra_head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.5/ZeroClipboard.js"></script>

{% load staticfiles %}
<script src="{% static 'documents/js/preview.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
{% load referral %}
<!-- Modal --> 
<div class="modal fade" id="flag_doc" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="flagModalLabel">Report this Document</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="inputIssue">What's the issue?</label>
						<select class="form-control">
							<option>These are an Instructor's notes</option>
							<option>This is a duplicate document</option>
							<option>Other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="inputDetail">Additional Details:</label>
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a href="" button type="button" data-dismiss="modal" class="btn btn-primary">Submit</a> </div>
		</div>
	</div>
</div> 
<!-- End Modal -->


<div class="container animated bounceInUp">
	<div class="alert alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div class="media" style="margin-top:0px;">
			<img class="media-object pull-left" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/money.svg" alt="earn referral points">
			<div class="media-body">
				<h4 class="media-heading">The easiest way to get <strong>free</strong> points, study guides, and calendars...</h4>
				Is to get your friends to sign up on mchp! Each time you click the <a href="{{request.get_host}}{{current_path | referral:referral_link}}" 
					{% if document.preview %}
					data-image="{{document.preview.url}}"
					{% else %}
					data-image=""
					{% endif %}
					data-title="{{document.title}}" 
					data-desc="{{document.description}}" 
					class="btnShare btn btn-facebook btn-xs fb-share-button">
					<i class="fa fa-fw fa-facebook"></i>Share</a> or the <button data-clipboard-text="{{request.get_host}}{{current_path | referral:referral_link }}" 
					class="btn btn-warning btn-xs"><i class="fa fa-paperclip fa-fw"></i> Copy link</button>
				<span class="copy-message"></span> buttons, we'll reward you <strong>500 points</strong> for every person that signs up with us by clicking through your links. Remember, the same rules apply when you share your unique referall code and referall link. <strong>- mchp</strong>
			</div>
		</div>
	</div><!-- end alert -->

	<ol class="breadcrumb">
		<!-- <h class="pull-right">
				<a href="#flag_doc" data-toggle="modal" class="text-danger small"><i class="fa fa-flag text-danger"></i> Report this Document</a> 
			</h> -->
		<li>
			<a href="{%url "school" document.course.domain.pk%}{{document.course.domain.name}}"><i class="fa fa-university"></i>&nbsp;{{ document.course.domain.name }}</a> 
		</li>
		<li>
			<a href="{%url "course" document.course.pk%}{{document.course.name}}"><i class="fa fa-book">&nbsp;</i>{{document.course.dept}} {{document.course.course_number}}</a> 
		</li>
		<li class="active">
			<a href="http://{{request.get_host}}{%url "document_list" %}{{uuid}}/{{slug}}"><i class="fa fa-file-o"></i>&nbsp;{{document.title}}</a>
		</li>
	</ol>
	<div class="well">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						{% if document.preview %}
						<img class="img-thumbnail center-block" style="margin-bottom:10px;" src={{document.preview.url}}></img>
						{% else %}
						<img class="img-thumbnail center-block" id="preview_image_{{document.pk}}" src="{% static 'documents/img/loading_file.svg'%}">
						{% endif %}
					</div>
					<div class="col-sm-7">
						<h2 class="margin-top-none margin-btm-sm">{{ document.title }}
							<small class="pull-right"><span class="pull-right">{{document.price}} points</span>
								<p class="margin-top-none margin-btm-none"></p>
								<span class="pull-right margin-top-none"><small>{{document.create_date|naturaltime}}</small></span>
							</small>
						</h2>

						<h5><i class="fa fa-fw fa-thumbs-up text-success"></i>{{ document.up }}&nbsp;<i
								class="fa fa-fw fa-thumbs-down text-danger">
							</i>{{ document.down }} &nbsp;<i class="fa fa-comments text-info fa-fw">
							</i>&nbsp;{{ review_count }} Review{{review_count|pluralize}} &nbsp;<i class="fa fa-fw fa-money text-success">
							</i>&nbsp;{{ document.purchase_count }} Purchase{{document.purchase_count | pluralize}}
						</h5>
						<div class="progress" style="width:68%">
							<div class="progress-bar progress-bar-success" style="width:{{document.normalize_positive_votes}}%">
							</div>
							<div class="progress-bar progress-bar-danger" style="width:{{document.normalize_negative_votes}}%">
							</div>
						</div><!-- end ratings bar -->
						<!-- <p class="h6">Students who bought this</p>
						<a href "#"><img src="http://www.mitchellias.com/wp-content/uploads/2013/05/255271_10150996937846930_1180475451_n-320x320.jpg" style="width: 25px;" class="img-circle"></a>&nbsp;
						<a href "#"><img src="http://www.mitchellias.com/wp-content/uploads/2013/05/255271_10150996937846930_1180475451_n-320x320.jpg" style="width: 25px;" class="img-circle"></a>&nbsp;
						<a href "#"><img src="http://www.mitchellias.com/wp-content/uploads/2013/05/255271_10150996937846930_1180475451_n-320x320.jpg" style="width: 25px;" class="img-circle"></a>&nbsp;
						<a href "#"><img src="http://www.mitchellias.com/wp-content/uploads/2013/05/255271_10150996937846930_1180475451_n-320x320.jpg" style="width: 25px;" class="img-circle"></a>&nbsp;
						<a href "#"><img src="http://www.mitchellias.com/wp-content/uploads/2013/05/255271_10150996937846930_1180475451_n-320x320.jpg" style="width: 25px;" class="img-circle"></a>&nbsp;
						<a href "#"><img src="http://www.mitchellias.com/wp-content/uploads/2013/05/255271_10150996937846930_1180475451_n-320x320.jpg" style="width: 25px;" class="img-circle"></a>&nbsp; -->
						<form id="buy-form" method="post" action="{{current_path}}">
							{% csrf_token %}
						</form>
						<button form="buy-form" class="btn btn-success">
							{% if owns %}
							<i class="fa fa-fw fa-shopping-cart"></i>View
							{% else %}
							<i class="fa fa-fw fa-shopping-cart"></i>Buy Me
							{% endif %}
						</button>
						<a href="{{request.get_host}}{{current_path | referral:referral_link}}" 
							{% if document.preview %}
							data-image="{{document.preview.url}}"
							{% else %}
							data-image=""
							{% endif %}
							data-title="{{document.title}}" 
							data-desc="{{document.description}}" 
							class="btnShare btn btn-facebook fb-share-button">
							<i class="fa fa-fw fa-facebook"></i>Share this</a>
						<button data-clipboard-text="{{request.get_host}}{{current_path | referral:referral_link }}" 
							id="copy-button" class="btn btn-warning"><i class="fa fa-paperclip fa-fw"></i> Copy link</button>
						<span class="copy-message"></span>

						<div class="bs-callout" style="border-top: 0;border-right: 0; border-bottom:0; padding-top:0;">
							<hr>
							<p class="">"{{document.description}}"</p>
							<hr>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-circle img-thumbnail" 
									src="{{uploader.profile.profile_image_url}}" width="65px" style="height: 65px;">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										{% if uploader.user.first_name %}
										{{uploader.user.first_name}}
										{% else %}
										{{uploader.user.username}}
										{% endif %}
									</h4>
									<span class="label label-info">{{docs_sold}} Doc{{docs_sold|pluralize}} sold</span> 
									<p>
										<div class="progress">
											<div class="progress-bar progress-bar-primary" data-toggle="tooltip" data-original-title="Documents" data-placement="bottom" style="width: {{doc_percent}}%;">
												<span class="sr-only">Documents</span>
											</div>
											<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="Calendars" data-placement="bottom" style="width: {{cal_percent}}%;">
												<span class="sr-only">Calendars</span>
											</div>
										</div>
									</p>
								</div>
							</div>
						</div>

					</div><!-- end col -->
				</div>
			</div>
		</div><!-- end top panel -->

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Reviews <span class="badge">{{ review_count }}</span></h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-hover table-responsive">
							<tbody>
								{% for purchase in reviews %}
								<tr>
									<td>"{{purchase.review}}" &nbsp;-
										{% if not request.user.is_anonymous %}
										<a href="{% url "profile" purchase.student.pk %}{{purchase.student.user.username}}">{{purchase.student.user.username}}</a>
										{% else %}
										<a href="#">Anonymous</a>
										{% endif %}
									</td>
									<td>
										<small class="pull-right">{{purchase.review_date | naturaltime}}</small>
									</td>
								</tr>
								{% empty %}
								There are no reviews for this document.
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div><!-- end inner review panel -->
			</div>
		</div><!-- end outer review panel -->
	</div><!-- end well -->
</div><!-- end container -->

{% endblock %}
