{% extends 'documents/base.html' %}

{% block head_title %}Upload a Document{% endblock %}

{% block extra_head %}

	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'documents/css/upload_doc.css' %}">
		<script src="{% static 'documents/js/upload_doc.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}">
		<script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="loading hidden">
  <i class="fa fa-spinner fa-spin fa-stack-1x fa-5x"></i>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="media">
    			<img class="media-object pull-left animated bounceInDown" src="{% static 'lib/img/money.svg' %}" height="50px" alt="Add Documents">
  				<div class="media-body">
    			<h2 class="media-heading">Add Documents</h2>
				Stack some paper</div>
			</div>
			<hr>
			<div class="alert alert-warning">Your classmates <strong>will not</strong> be able to view your <strong>picture</strong> or <strong>name</strong> when you upload a document.</div>
			<div class="upload-form">
				<form id="upload_form" class="autocomplete" action="{% url 'document_upload' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% for field in form %}
					{{ field.errors }}
					{% ifequal field.name "course" %}
					<div class="form-group" >
						<div class="input-group">
							<span class="input-group-addon">{{ field.label_tag}}</span>
							<li class="dropdown" id="drop-li"> 
								{{ field }}
								<ul class="dropdown-menu" id="ac-dropdown">
									<li role="presentation" class="dropdown-header">Your Courses</li>
									{% for course in enrolled_courses %}
									<li data-course="{{course.pk}}" class="strong"> <a href="#"><i class="fa fa-fw fa-plus-circle text-success"></i> {{course.display}}</a> </li>
									{% empty %}
									<li class="strong"> <a href="{%url "course_add"%}"><i class="fa fa-fw fa-plus-circle text-danger"></i>Add a course</a> </li>
									{% endfor %}
								</ul>
							</li>
						</div>
					</div>
					{% else %}
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">{{ field.label_tag}}</span>
							{{ field }}
						</div>
					</div>
					{% endifequal %}
					{% endfor %}
					<input type="hidden" name="course" id="hidden_course"></input>
					<p><input type="submit" value="Upload" class="btn btn-lg btn-primary btn-block" /></p>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="enrolled_courses" data-enrolled_courses="{{ enrolled_courses }}">
</div>
{% endblock %}
