/*
/* This is for styling the calendar page
/*
*/

/* adds assignment number over calendar icon */
.assignment-number {
	position: relative;
	padding: 15px;
	margin-top: -57px;
	margin-left: auto;
	margin-right: auto;
}
.cal-followers {
	position: relative;
	padding: 5px;
	margin-top: -40px;
	margin-left: 45px;
	margin-right: -50px;
}

.event-popover-width {
	width: 200px
}

/* card flip */
 .flip-holder {
    /*width: 100%;*/
    /*height:500px;*/
    position: relative; 
    perspective:1000px;
}
.flip-holder div {
     /*position: relative; */
    /*width: 100%;*/
    height: auto; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;*/
    z-index:10;
}
.flip-holder .front {
    background: none;
    position: absolute;
        -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
}
.flip-holder .back {
    background: none;
    position: relative;
    z-index:0;
        -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-holder.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index:0;
}
.flip-holder.flip .back {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    z-index:10;
}

.fc-content-skeleton {
	pointer-events: none;
}

.canvas-day { 
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    margin-top: 7px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.event-popover-container {
    min-width: 300px;
}

/* editable "about me" section buttons */
.editable-buttons {
    display: none !important;  
}
/*.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: 0px;
}*/
.date-holder {
    padding-top: 5px;
    display: inline-block;
    border-bottom: 1px dashed #08C;
}
/* set the default xeditable to zero border because it doesnt look good on this field */
.calendar-description {
    border-bottom: 0px;
}
/* custom  holder for the cal description because it looks better */
.calendar-description-holder {
    padding-top: 5px;
    text-decoration: none;
    border-bottom: 1px dashed #08C;
}
/* slyes for cal rate slider */
#ex1Slider .slider-selection {
    background: #BABABA;
}

#tooltip {
    top: -30px !important;
    margin-left: -11px !important;
}

/* editable */
.time-holder {
	position: absolute;
	z-index: 5;
	display: none;
	pointer-events: none;
}

.time-holder + .editable-container {
	display: none;
}

/* clock picker input */
.time-input {
	opacity: 0;
	position: absolute;
	z-index: 1;
	pointer-events: all;
}
