/*
/* This is for styling the calendar preview page
/*
*/

/* adds assignment number over calendar icon */
.assignment-number {
	position: relative;
	padding: 0px;
	margin-top: -38px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

