<!-- Base for schedule Templates -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/schedule.css' %}">
		<script src="{% static 'schedule/js/schedule.js' %}"></script>
		<script src="{% static 'schedule/js/enscroll-0.6.0.min.js' %}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- Start Navigation -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">mchp <small>beta</small></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
<!-- 					<li><a href="{% url 'user_profile' %}">{{user.username}}</a></li>
 -->					<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}
          	<span class="caret dropdown-toggle" data-toggle="dropdown"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'user_profile' %}">Profile</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Something</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

					<!-- <li><a href="{% url 'user_profile' %}">Welcome, {{user.username}}</a></li> -->
					{% else %}
					<li><a href="/accounts/login">Login</a></li>
					{% endif %}
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="django-messages">
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<ul class="messages">
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			</ul>
		</div>
		{% endfor %}
		{% endif %}
	</div>
    {% block body %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
  </body>
</html>
