{% extends 'schedule/base.html' %}

{% block head_title %}My Classes{% endblock %}

{% block extra_head %}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/classes.css' %}">
		<script src="{% static 'schedule/js/classes.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
<div class="container animated bounceInUp">
	<h2 class="margin-top-sm">Your Classes
		<!-- <div class="pull-right">
		<a href="/schedule" class="btn btn-primary btn-sm"><i class="fa fa-calendar-o"></i> Your Schedule &raquo;</a>
		<a href="/sell/" class="btn btn-success btn-sm"><i class="fa fa-money"></i> Sell a Document &raquo;</a>
		<a href="/docs/" class="btn btn-info btn-sm"><i class="fa fa-file-o "></i> Your Documents &raquo;</a>
	</div> -->
	</h2>
	<ul class="nav nav-tabs nav-justified" role="tablist">
		{% for course in course_list %}
		{% ifequal forloop.counter 1 %}
		<li class="active"><a href="#course{{forloop.counter}}" data-toggle="tab">
				<h5><i class="fa fa-book"></i> {{course.dept}} {{course.course_number}}</h5>
		</a></li>
		{% else %}
		<li><a href="#course{{forloop.counter}}" data-toggle="tab">
				<h5><i class="fa fa-book"></i> {{course.dept}} {{course.course_number}}</h5>
		</a></li>
		{% endifequal %}
		{% empty %}
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for course in course_list %}
		{% ifequal forloop.counter 1 %}
		<div class="tab-pane fade in active" id="course{{forloop.counter}}">
		{% else %}
		<div class="tab-pane fade" id="course{{forloop.counter}}">
		{% endifequal %}
		<!-- <p></p>
		<div class="alert alert-info alert-dismissible fade in" id="ref-alert" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div class="media margin-top-none">
			<img class="media-object pull-left" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/games.svg" width="70" alt="earn referral points">
			<div class="media-body">
				<h4 class="media-heading">Get <strong>100 Points</strong> for uploading this class's <strong>Syllabus</strong></h4>
				There's only one syllabus... If you're the uploader, you're the winner! Who's it going to be? <strong>- mchp</strong>
				<p></p>
				<span class="btn btn-default btn-sm btn-file"><i class="fa fa-file-o"></i> Upload Syllabus <input type="file"></span>
			</div>
		</div>
	</div> --><!-- end alert -->
			<div class="well well-md animated " style="padding-bottom:0px; margin-top:20px;">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<a class="pull-left" href="{% url "course" course.pk %}{{course.name}}">
								<img class="media-object" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" width="74px" alt="class">
							</a>
							<div class="media-body">
								<h2 class="media-heading"><a href="{% url "course" course.pk %}{{course.name}}">{{course.dept}} {{course.course_number}}</a></h2>
								<h5>
								<!-- <span class="btn btn-default btn-sm btn-file"><i class="fa fa-file-o"></i> Upload Syllabus <input type="file"></span>&nbsp; -->
									<i class="fa fa-male"></i> Instructor {{course.professor}} &nbsp; 
									<i class="fa fa-university"></i> <a href="{% url "school" course.domain__pk %}{{course.domain__name}}"> {{course.domain__name}}</a>
								</h5>
							</div>
						</div>
					</div><!-- end panel body -->
				</div><!-- end panel -->
			</div><!-- end well -->
			<div class="row">
				<div class="col-sm-5 animated ">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Activity <span class="badge">{{course.activity|length}}</span></h3>
						</div><!-- end panel heading -->
						<div class="small-scroll-con scrolls">
							<div class="panel-body">
								<div class="list-group">
									{% for act in course.activity %}
									{% ifequal act.type "document" %}
									<li class="list-group-item">
										<h5 class="list-group-item-heading">
											<i class="fa fa-file-text-o fa-lg pull-left"></i><a href="#">{{act.title}}</a> added to Documents</h5>
										<p class="list-group-item-text"><small>{{act.time|naturaltime}} by <a href="#">{{act.user.name}}</a></small></p>
									</li>
									{% endifequal %}
									{% ifequal act.type "join" %}
									<li class="list-group-item">
										<h5 class="list-group-item-heading"><i class="fa fa-user fa-lg pull-left">
										</i><a href="#">{{act.title}}</a> joined the class</h5>
										<p class="list-group-item-text"><small>{{act.time|naturaltime}}</small></p>
									</li>
									{% endifequal %}
									{% endfor %}
									<!-- <li class="list-group-item"> -->
									<!--	 <h5 class="list-group-item-heading"><i class="fa fa-bookmark fa-lg pull-left"></i><a href="#">Read Ch. 8 &amp; 9</a> added to Calendar</h5> -->
									<!--	 <p class="list-group-item-text"><small>5 hours ago by <a href="#">mitch</a></small></p> -->
									<!-- </li> -->
								</div>
							</div><!-- end panel body -->
						</div>
					</div><!-- end panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Classmates <span class="badge">{{course.students|length}}</span></h3>
						</div><!-- end panel heading -->
						<div class="small-scroll-con scrolls">
							<div class="panel-body">
								<div class="list-group">
									{% for student in course.students %}
									<li class="list-group-item">
										<div class="media">
											<a class="pull-left" href="#">
												<img class="media-object img-circle img-thumbnail"
												src="{{student.profile.profile_image_url}}" width="40px" alt="...">
											</a>
											<div class="media-body">
												<h5 class="media-heading" style="margin-bottom:0px;"><a href="#"
														class="user-popover">{{student.name}}</a><span class="pull-right"><small>active 2 hours ago</small></span></h5>
												<small>
													Marketing Major
													<!-- <span class="label label-default">Novice</span> <span class="label label-default"><i class="fa fa-trophy"></i> 12</span> <i class="fa fa-check"></i> Friends -->
												</small>
												<small>

												</small>
											</div>
										</div>
									</li>
									{% empty %}
									<div class="panel panel-default">
										<div class="panel-body text-center">
									<p class="lead">You're the first person to join this class! Have you made a <a href="{% url 'calendar_create' %}">calendar</a> yet?</p>
									</div>
								</div>
									{% endfor %}
								</div>
							</div><!-- end panel body -->
						</div>
					</div><!-- end panel -->
				</div><!-- end col -->
				<div class="col-sm-7 animated ">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Documents <span class="badge">{{course.documents|length}}</span>
							</h3>
						</div><!-- end panel heading -->
						<div class="doc-con scrolls">
							<div class="panel-body">
								<div class="list-group">
									{% for document in course.documents %}
									<div class="list-group-item">
										<div class="media">
											<span class="pull-left" href="#">
												<div class="media-object img-thumbnail">
													{% if document.preview %}
													<a href="#"><img src="{{document.preview.url}}" style="width:64px"></a>
													{% else %}
													<a href="#"><img class="img-thumbnail" id="preview_image_{{document.pk}}" src="{% static 'documents/img/loading_file.svg'%}" style="width:64px"></a>
													{% endif %}
												</div>
											</span>
											<div class="media-body">
												<h4 class="media-heading"><a href="{% url "document_list" %}{{document.uuid}}">{{document.title}}</a>
													<small>{{document.price}} points</small><span class="pull-right"><small>{{document.create_date|naturaltime}}</small></span></h4>
												<span class="description">
													<i class="fa fa-fw fa-thumbs-up text-success"></i>{{document.up}}&nbsp;
													<i class="fa fa-fw fa-thumbs-down text-danger
														fa-flip-horizontal"></i>{{document.down}}&nbsp;
													{% with document.review_count as review_count %}
													<i class="fa fa-comments text-info fa-fw"></i>{{review_count}} Review{{review_count|pluralize}}&nbsp;
													{% endwith %}
													<i class="fa fa-fw fa-money text-success"></i> {{document.sold}}
													Purchase{{document.sold|pluralize}}
												</span>
											</div>
										</div>
									</div>
									{% empty %}
									<div class="panel panel-default">
										<div class="panel-body text-center">
									<p class="lead">Be the first to <a href="{% url "document_upload" %}">upload a document</a> in this class and start making money!</p>
									</div>
								</div>
									{% endfor %}
								</div>
							</div><!-- end panel body -->
						</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div>
		{% empty %}
		<hr>
		<div class="text-center">
			<p class="lead text-center">You haven't added any classes to your schedule yet!</p>
			<a href="{% url 'course_add' %}" class="btn btn-primary text-center">Add Classes</a>
		</div>
		<hr>
		{% endfor %}
	</div>
</div>
{% endblock %}
