{% extends 'lib/base.html' %}

{% block head_title %}Classes{% endblock %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/css/classes.css' %}">
    <script src="{% static 'schedule/js/classes.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-tour.min.css' %}">
    <script src="{% static 'lib/js/bootstrap-tour.min.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
<section id="classes" class="section section-overview">
    <div class="row">
        <div class="col-lg-12">
            <h1>Classes</h1>

            <p class="lead"></p>

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    {% for course in course_list %}
                    {% include "schedule/course_syllabus_modal.html" with forloop_counter=forloop.counter course=course %}


                    {% ifequal forloop.counter 1 %}
                    <li role="presentation" class="active course-tab-active">
                        <a href="#course{{ forloop.counter }}" class="pill-opa" data-toggle="tab">
                            {{ course.dept }} {{ course.course_number }}
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a role="presentation" href="#course{{ forloop.counter }}" class="pill-opa" data-toggle="tab">
                            {{ course.dept }} {{ course.course_number }}
                        </a>
                    </li>
                    {% endifequal %}
                    {% empty %}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for course in course_list %}
                    {% ifequal forloop.counter 1 %}
                    <div class="tab-pane fade in active" id="course{{ forloop.counter }}">
                        {% else %}
                        <div class="tab-pane fade" id="course{{ forloop.counter }}">
                            {% endifequal %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                    <div class="panel opa">
                                        <div class="panel-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <button type="button" class="btn btn-lg btn-trans pull-right"
                                                            data-toggle="modal" data-target="#viewSyllabus{{ forloop.counter }}">Syllabus
                                                    </button>
                                                    <h2 class="media-heading"><a href="
                                                            {% url "course" course.pk %}{{ course.name }}">{{ course.dept }} {{ course.course_number }}</a>
                                                    </h2>
                                                    <h5>
                                                        <i class="fa fa-male"></i> Instructor {{ course.professor }}
                                                        &nbsp;
                                                        <i class="fa fa-university"></i> <a href="
                                                            {% url "school" course.domain__pk %}{{ course.domain__name }}"> {{ course.domain__name }}</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-xs-5">
                                    <h4 class="lead"><i class="fa fa-file-text-o"></i> Documents
                                        <ul class="list-inline pull-right">
                                            <li>
                                                <button type="button" class="btn btn-sm btn-trans">+ Document</button>
                                            </li>
                                        </ul>
                                    </h4>
                                    <div class="panel opa">
                                        <div class="list-group trans doc-con scrolls">
                                            {% for document in course.documents %}
                                                <a href="{% url "document_list" %}{{ document.uuid }}"
                                                   class="list-group-item trans">
                                                    <div class="media">
                                                        <div class="media-left" href="#">
                                                            {% if document.preview %}
                                                                <img class=""media-object bg-white img-thumbnail
                                                                img-rounded src="{{ document.preview.url }}"
                                                                style="width:64px">
                                                            {% else %}
                                                                <img class="media-object bg-white img-thumbnail img-rounded"
                                                                     id="preview_image_{{ document.pk }}"
                                                                     src="{% static 'documents/img/loading_file.svg' %}"
                                                                     style="width:64px">
                                                            {% endif %}
                                                        </div>
                                                        <div class="media-body white">
                                                            <h4 class="media-heading">{{ document.title }}
                                                                <small class="white">{{ document.price }} points</small>
                                                                <span class="pull-right small"><small>{{ document.create_date|naturaltime }}</small></span>
                                                            </h4>
										<span class="description">
											<i class="fa fa-fw fa-thumbs-up text-success"></i>{{ document.up }}&nbsp;
											<i class="fa fa-fw fa-thumbs-down text-danger
												fa-flip-horizontal"></i>{{ document.down }}&nbsp;
                                            {% with document.review_count as review_count %}
                                                <i class="fa fa-comments text-info fa-fw"></i>{{ review_count }} Review
                                                {{ review_count|pluralize }}&nbsp;
                                            {% endwith %}
                                            <i class="fa fa-fw fa-money text-success"></i> {{ document.sold }}
											Purchase{{ document.sold|pluralize }}
										</span>
                                                            {% if document.upload %}
                                                                {% with document.upload.owner as owner %}
                                                                    <div> uploaded by a classmate
                                                                    </div>
                                                                {% endwith %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                                {% empty %}
                                                <li class="list-group-item trans text-center">
                                                    <p class="lead">No documents found! <a
                                                            href="{% url "document_upload" %}" class="link">Upload a Study Guide</a> for this class!</p>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-5 -->
                                <div class="col-xs-4">
                                    <h4 class="lead"><i class="fa fa-calendar"></i> Events
                                        <button type="button" class="pull-right btn btn-sm btn-trans">+ Event</button>
                                    </h4>
                                    <div class="panel opa">
                                        <ul class="list-group trans small-scroll-con scrolls">
                                            {% for event in course.event_list %}
                                            <a href="{% url 'event_detail' event.id %}" class="list-group-item trans">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4 class="media-heading white">{{ event.title }}<span
                                                                class="small"></span></h4>
                                                    </div>
                                                </div>
                                                <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> {{ event.document_count }} Study Guides
                                                </h5>
                                            </a>
                                            {% empty %}
                                            <li class="list-group-item trans text-center">
                                                <p class="lead">No upcoming events! How can that be? <a
                                                        href="{% url "calendar" %}" class="link">Add some events</a> in
                                                    this class!</p>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-4 -->
                                <div class="col-xs-3">
                                    <h4 class="lead"><i class="fa fa-users"></i> Classmates</h4>

                                    <div class="panel opa">
                                        <ul class="list-group trans small-scroll-con scrolls">
                                            {% for student in course.students %}
                                                <a href="{% url "profile" student.pk %}{{ student.name }}"
                                                   class="list-group-item trans">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="media-object">
                                                                <img class="img-circle"
                                                                     src="{{ student.profile.profile_image_url }}"
                                                                     alt="..." width="32">
                                                            </div>
                                                        </div>
                                                        <div class="media-body white">
                                                            <h4 class="media-heading">{{ student.user.username }}</h4>

                                                            <p class="margin-btm-none margin-top-none">
                                                                active {{ student.user.last_login|naturaltime }}</p>
                                                            <small>
                                                                {% if student.major %}
                                                                    {{ student.major }} Major
                                                                {% else %}
                                                                    {{ student.school.name }}
                                                                {% endif %}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% empty %}
                                                <li class="list-group-item trans">
                                                    <p class="lead text-center">You're the first person to join this
                                                        class!</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->

                        </div>
                        <!-- end tab-pane -->
                        {% endfor %}
                    </div>
                </div>
                <!-- end row -->
</section>
{% endblock %}
