{% extends 'schedule/base.html' %}

{% block head_title %}Course{% endblock %}

{% block extra_head %}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/course.css' %}">
		<script src="{% static 'schedule/js/course.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
<div class="container">
	<ol class="breadcrumb">
		<div class="pull-right">
			<a button type="button" class="btn btn-success btn-xs" href='{% url "document_upload" %}'><i class="fa fa-money fa-fw"></i> Sell Document</a>
			<a class="btn btn-facebook btn-xs"><i class="fa fa-fw fa-facebook"></i> Share</a>
		</div>
		<li><a href="{%url "school" course.domain.pk%}{{course.domain.name}}"><i class="fa fa-university fa-fw"></i> {{course.domain.name}}</a> </li>
		<li class="active"><i class="fa fa-book fa-fw"></i> {{course.display}}</li>
	</ol>
	<!-- <div class="well"> -->
	<!-- <div class="panel panel-default">
		<div class="panel-body"> -->
	<!-- <div class="well"> -->
	<div class="media"> <a class="pull-left"> <img class="media-object img-responsive animated slideInLeft" width="75px" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.svg" alt="course"></a>
		<div class="media-body">
			<h2 class="media-heading  animated slideInRight">{{course.dept}} {{course.course_number}}
				<small><a href='{% url "school" course.domain.pk %}{{ course.domain.name}}'>{{course.domain.name}}</a></small></h2>
			<p class="animated animated-sm slideInRight">
				{% with course.student_set.count as student_count %}
				<i class="fa fa-users"></i> {{student_count}} Student{{student_count|pluralize}} &nbsp;
				{% endwith %}
				{% with course.document_set.count as doc_count %}
				<i class="fa fa-file"></i> {{doc_count}} Document{{doc_count|pluralize}} &nbsp;
				{% endwith %}
				<i class="fa fa-calendar"></i> 60 Calendars &nbsp;
			</p>
		</div>
		<div class="progress animated-md slideInRight" style="margin-bottom:0px;">
			<div class="progress-bar progress-bar-info" style="width: 67%"> <span class="sr-only">67% Complete (info)</span> </div>
			<div class="progress-bar progress-bar-primary" style="width: 11%"> <span class="sr-only">11% Complete (primary)</span> </div>
			<div class="progress-bar progress-bar-warning" style="width: 22%"> <span class="sr-only">22% Complete (warning)</span> </div>
		</div>
	</div>
	<!-- </div> -->
	<!--   </div>
</div> -->
	<hr>
	<div class="row">
		<div class='col-sm-6'>
			<div class="panel panel-default" id="popular-documents">
				<div class="panel-heading clearfix">
					<h3 class="panel-title tour-step-four"> Popular Documents <span
					class="badge">{{popular_documents|length}}</span></h3>
				</div>
				<div class="panel-body">
					<div class="list-group item-list">
						{% for document in popular_documents %}
						<div class="list-group-item">
							<div class="media">
								<span class="pull-left" href="#">
									<div class="media-object img-thumbnail">
										<a href="#"><img src="{{document.preview.url}}" style="width:64px"></a>
								</div></span>
								<div class="media-body">
									<h4 class="media-heading"><a href="{%url "document_detail" document.uuid %}">{{document.title}}</a>
									<small>{{document.price}} points</small><div class="pull-right small
										text-muted">uploaded {{document.create_date|naturaltime}}</div></h4>
									<span class="description">
										<i class="fa fa-fw fa-thumbs-o-up text-success"></i>{{document.up}}&nbsp;
										<i class="fa fa-fw fa-thumbs-o-down text-danger
											fa-flip-horizontal"></i>{{document.down}}&nbsp;|&nbsp;
										{% with document.review_count as review_count %}
										<i class="fa fa-comments-o text-info fa-fw"></i>&nbsp;{{review_count}} Review{{review_count|pluralize}}&nbsp;|&nbsp;
										{% endwith %}
										<i class="fa fa-fw fa-money text-success"></i>&nbsp;{{document.sold}}
										Purchase{{document.sold|pluralize}}
										{% with document.upload_set.get.owner.name as name %}
										<p class="small">Uploaded by <a href="{%url "profile" %}{{name}}">{{name}}</a></p>
										{% endwith %}
									</span>
								</div>
							</div>
						</div>
						{% empty %}
						<p>
							<a button type="button" class="btn btn-success btn-xs" href='{% url "document_upload" %}'><i class="fa fa-money fa-fw"></i> Sell Document</a>
						</p>
						<p>
							Be the first to sell a document for this class!
						</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-6'>
			<div class="panel panel-default" id="recent-documents">
				<div class="panel-heading clearfix">
					<h3 class="panel-title tour-step-four"> Popular Calendars <span class="badge">10</span></h3>
				</div>
				<div class="panel-body">
					<div class="list-group item-list"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div>end well -->
</div><!-- end container -->
{% endblock %}
