{% extends 'schedule/base.html' %}

{% block head_title %}Create a Course{% endblock %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/course_create.css' %}">
<script src="{% static 'schedule/js/course_create.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<h2>Create a Class</h2>
	<form id="create-class" method="post" action="{% url 'course_create' %}">
		{% csrf_token %}
		{{ form.as_style }}
		<button type="submit" name="course-abbr" class="btn btn-lg btn-primary">Submit</button>
		</div>			
	</form>	
</div>	
{% endblock %}
