<!-- Syllabus Modal -->
<div class="modal fade scrolls" id="viewSyllabus{{ forloop_counter }}" tabindex="-1" role="dialog"
     aria-labelledby="viewSyllabus{{ forloop_counter }}Label">
    <div class="modal-dialog" role="document" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="viewSyllabus{{ forloop_counter }}Label"><strong>{{course.name}} Syllabus with Instructor {{ course.professor }}</strong></h4>
            </div>
            <div class="modal-body">
                {% for syllabus in course.syllabi %}
                    <object data="{{ syllabus.document.url }}" style="width: 100%; height: 760px"></object>
                {% empty %}
                <p class="lead">No syllabus uploaded yet! Be the first to upload the <strong>{{course.name}} Syllabus</strong>!</p>
                <a href="{% url 'document_upload' %}" class="btn btn-trans btn-lg text-center">Upload Syllabus</a>     
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-trans" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
