{% extends 'schedule/base.html' %}

{% block head_title %}Course{% endblock %}

{% block extra_head %}
<meta property="fb:app_id" content="369999156462705" /> 
<meta property="og:type" content="website" /> 
<meta property="og:title" content="{{course.dept}} {{course.course_number}} at {{course.domain.name}}" /> 
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/book.png" /> 
<meta property="og:description" content="{{student_count}} Student{{student_count|pluralize}} &nbsp; {{doc_count}} Document{{doc_count|pluralize}} &nbsp; {{cal_count}} Calendar{{cal_count|pluralize}}" />

<!-- Latest compiled and minified bootstrap table CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
<!-- Latest compiled and minified bootstrap table JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/course.css' %}">
	<script src="{% static 'schedule/js/course.js' %}"></script>
	<script src="{% static 'schedule/js/course_detail.js' %}"></script>
	<script src="{% static 'lib/js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb opa">
			<h4>You are currently viewing documents for all <strong>{{course.dept}} {{course.course_number}}</strong> courses at <a href="{%url "school" course.domain.pk%}{{course.domain.name}}" class="link"><strong>{{course.domain.name}}</strong></a></h4>
		</ol>
		<div class="well opa" style="padding-bottom:0px;">
			<div class="panel opa">
				<div class="panel-body">
					<div class="media">
					  <div class="media-left media-top">
					      <div class="media-object"><i class="fa fa-bookmark-o fa-fw fa-5x"></i></div>
					  </div>
					  <div class="media-body">
					  	<small class="pull-right">
								{% if student and enrolled %}
								<button class="btn btn-trans disabled"><i class="fa fa-check"></i> Enrolled</button>
								{% endif %}
							</small>
					    <h2 class="media-heading">{{course.dept}} {{course.course_number}} at <a class="link" href='{% url "school" course.domain.pk %}{{ course.domain.name}}'>{{course.domain.name}}</a></h2>
					    <p>
								<i class="fa fa-users"></i> {{student_count}} Student{{student_count|pluralize}} &nbsp;
								<i class="fa fa-file-text-o"></i> {{doc_count}} Document{{doc_count|pluralize}} &nbsp;
								<i class="fa fa-calendar"></i> {{cal_count}} Calendar{{cal_count|pluralize}} &nbsp;
							</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" id="popular-documents">
		
		<table data-toggle="table" class="table table-hover" data-sort-name="doc-purchases" data-sort-order="desc"
         data-search="true" data-search-text="" data-show-columns="false" data-classes="table-no-bordered" >
      <thead>
      <tr>
          <th data-sortable="true" data-field="doc-title"><span class="th-name"><strong>Title</strong></span></th>
          <th data-sortable="true" data-field="doc-price"><span class="th-name"><strong>Price</strong></span></th>
          <th data-sortable="true" data-field="doc-instr"><span class="th-name"><strong>Instructor</strong></span></th>
          <th data-sortable="true" data-field="doc-purchases"><span class="th-name"><strong>Purchases</strong></span></th>
          <th data-sortable="true" data-field="doc-date"><span class="th-name th-last"><strong>Date</strong></span></th>
      </tr>
      </thead>
      <tbody class="opa">
      {% for document in popular_documents %}
        <tr>
          <td>
            <div class="media">
							<div class="media-left media-top">
			      		{% if document.preview %}
								<a href="{%url "document_detail" document.uuid %}"><img src="{{document.preview.url}}" class="media-object img-thumbnail" style="width:90px" alt="Study Guide"></a>
								{% else %}
								<a href="{%url "document_detail" document.uuid %}"><img class="media-object img-thumbnail" id="preview_image_{{document.pk}}" src="{% static 'documents/img/loading_file.svg'%}" style="width:90px" alt="Study Guide"></a>
								{% endif %}
				  		</div>
				  		<div class="media-body">
				    		<h3 class="media-heading"><a href="{%url "document_detail" document.uuid %}">{{document.title}}</a></h3>
								<span class="description">
									
									<i class="fa fa-fw fa-thumbs-up text-success"></i>{{document.up}} 
									<i class="fa fa-fw fa-thumbs-down text-danger"></i>{{document.down}}&nbsp;
									{% with document.review_count as review_count %}
									<i class="fa fa-comments text-info fa-fw"></i>{{review_count}} Review{{review_count|pluralize}}&nbsp;
									{% endwith %}
									
									{% with document.upload.owner as owner %}
									{% if owner %}
									<p class="margin-top-sm">Uploaded by a Student in 
										<a href="{%url "course" document.course.pk%}{{document.course.name}}" class="link">{{document.course.dept}} {{document.course.course_number}}</a>
									</p>
									{% else %}
									<p class="margin-top-sm">Uploaded by Unknown in <a href="{%url "course" document.course.pk%}{{document.course.name}}" class="link">{{document.course.dept}} {{document.course.course_number}}</a></p>
									{% endif %}
									{% endwith %}
								</span>	            	
							</div>
						</div>
					</td>
          
          <td>{{document.price}} points</td>
          <td>{{document.course.professor}}</td>
          <td>{{document.sold}} Purchase{{document.sold|pluralize}}</td>
          <td>{{document.create_date|naturaltime}}</td>
   
        </tr>
      {% empty %}
        <p class="lead">No Documents in {{document.course.dept}} {{document.course.course_number}}! <a class="btn btn-trans" href="{% url "document_upload"%}">Upload a Document</a></p>
      {% endfor %}
      </tbody>
 		</table>

	</div>
</div>
{% endblock %}
