{% extends 'schedule/base.html' %}

{% block head_title %}Add a Course{% endblock %}

{% block extra_head %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/course_add.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-tour.min.css' %}"> -->
	<!-- // <script src="{% static 'lib/js/bootstrap-tour.min.js' %}"></script> -->
	<script src="{% static 'schedule/js/course_add.js' %}"></script>
	<script src="{% static 'lib/js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-xs-12">
		<div class="media">
		  <div class="media-left media-middle">
		    <i class="media-object fa fa-clock-o fa-5x fa-fw"></i>
		  </div>
		  <div class="media-body">
		    <h1 class="media-heading">Your Classes</h1>
		    <p class="lead margin-btm-none">Add, Drop, or Create a Class</p>
		  </div>
		</div>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div id="enrolled-panel" class=" ">
			<h3><i class="fa fa-bookmark-o fa-fw"></i> Currently Enrolled</h3>
			<div class="panel opa">
				<div class="panel-body">
					<div class="list-group" id="enrolled_list">
						{% if enrolled_courses %}
						{% for course in enrolled_courses %}
						<div class="list-group-item enrolled-class-id trans" id="enrolled_{{course.pk}}">
							<h4 class="list-group-item-heading">
								<a href="{% url "course" course.pk %}{{course.name}}">
								{{course.dept}} {{course.course_number}}
								</a>
								<small class="pull-right">
									<a href="javascript:void(0)" class="badge drop-button opa" data-course="{{course.pk}}">drop</a>
								</small>
							</h4>
							<p class="list-group-item-text small">with Instructor {{course.professor}}</p>
						</div>
						{% endfor %}
						{% else %}
						<div id="no-classes" class="text-center">
							<p class="lead">No classes added to your schedule yet.</p>
						</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-8">
		<div id="search-panel" class=" step-1">
			<div class="">
				<h3><i class="fa fa-search-plus fa-fw"></i> Add a Class</h3>
			</div>
			<div class="panel opa">
				<div class="panel-body">						
					<form id="class_search_form" method="get" action="{% url 'course_add' %}">
						<input type="text" class="form-control input-lg" 
							placeholder='Type a Course Code and Number, like ECON 200' name="q">
							<p></p>
					</form>
					{% if show_results %}
					<div id="searchResultContainer">
						<br>
						<div class="row">
							<div class="col-xs-4">
								<h4 style="margin-top:8px;">Results for "{{ query }}"</h4>
							</div>
							<div class="col-xs-8">
								<h4 class="pull-right margin-top-sm">
									<span>Can't find your class?&nbsp; <a href="{% url 'course_create' %}" class="btn btn-danger btn-sm margin-top-none">Create Class</a></span>
								</h4>
							</div>
						</div>
						<br>
						<div class="list-group search-group scrolls trans" id="searchResults">
							{% if course_results %}
								{% for course in course_results %}
									<div class="list-group-item opa">
										<h4 class="list-group-item-heading">{{course.dept}} {{course.course_number}}
											<small class="white">with Instructor {{course.professor}}</small> 
											<button class="pull-right btn btn-success join"
												autocomplete="off"
												id="join-button-{{course.pk}}"
												form="{{course.pk}}_course_add">Join</button>
											<form id="{{course.pk}}_course_add" method="post" action="{% url 'course_add' %} ">
												{% csrf_token %}
												<input type="hidden" name="course" value="{{course.pk}}" autocomplete="off"/>
											</form>
										</h4>
										<p class="list-group-item-text">
											<i class='fa fa-user fa-fw'></i> 
											{{course.student_count}} Student{{course.student_count|pluralize}}
											<i class='fa fa-file fa-fw'></i> 
                      {% with course.document_count as doc_count %}
                      {{doc_count}} Document{{doc_count|pluralize}}
                      {% endwith %}
											<i class='fa fa-calendar fa-fw'></i> 
                      {% with course.calendar_count as cal_count %}
                      {{cal_count}} Calendar{{cal_count|pluralize}}
                      {% endwith %}
										</p>
									</div>
									{% endfor %}
								{% else %}
									<p class="lead">No classes matched this search!</p class="lead"> 
								{% endif %}
							</div>
						</div>
						{% endif %}
					</div>
				</div><!-- end panel -->
			</div>
		</div>		
	</div>		
</div>
{% endblock %}
