{% extends 'schedule/base.html' %}

{% block head_title %}Add a Course{% endblock %}

{% block head %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/validator.css' %}">
  	<script src="{% static 'user_profile/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
    			<img class="media-object pull-left animated slideInLeft" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/clocks.svg" height="50px" alt="schedule">
  				<div class="media-body">
    			<h2 class="media-heading">Class Schedule <div class='pull-right'> <a href='/classes/' class='btn btn-primary'><i class="fa fa-calendar-o"></i> Your Classes &raquo;</a> </div></h2>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Currently Enrolled</h2>
                </div>
                    <div class="panel-body">
                        <div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">ECON 200 <small class="pull-right"><a href="#" class="badge">drop</a></small></h4>
    <p class="list-group-item-text">with Professor Reff</p>
  </div>
</div>
                    </div>
            </div>
		</div>
		<div class="col-sm-8">
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Search for a Class</h2>
                </div>
                    <div class="panel-body">
                        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
                    </div>
            </div>
		</div>		
	</div>		
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<!-- <form id="course_add" method="post" action="{% url 'course_add' %} "> -->
	<!-- 	{% csrf_token %} -->
	<!-- 	<div class="form-group"> -->
	<!-- 	<button type="submit" name="" class="btn btn-lg btn-primary btn-block"> -->
	<!-- 		Add this Class to your schedule -->
	<!-- 	</button> -->
	<!-- 	</div> -->			
	<!-- </form> -->	
</div>
</div>
</div>	
{% endblock %}
