{% extends 'schedule/base.html' %}

{% block head_title %}{{course.dept}} {{course.course_number}} at {{course.domain.name}}{% endblock %}

{% block extra_head %}
<meta property="fb:app_id" content="369999156462705" /> 
<meta property="og:type" content="website" /> 
<meta property="og:title" content="{{course.dept}} {{course.course_number}} at {{course.domain.name}}" /> 
<meta property="og:description" content="mchp is an elegant planner that curates study guides for your upcoming exams." />

<!-- Latest compiled and minified bootstrap table CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
<!-- Latest compiled and minified bootstrap table JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/course.css' %}">
	<script src="{% static 'schedule/js/course.js' %}"></script>
	<script src="{% static 'schedule/js/course_detail.js' %}"></script>
	<script src="{% static 'lib/js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}
<div class="row">
	<div class="col-xs-12">
    <div class="media">
      <div class="media-left media-middle">
        <i class="media-object fa fa-bookmark-o fa-5x"></i>
      </div>
      <div class="media-body">
        <h1 class="media-heading">{{course.dept}} {{course.course_number}} at <a class="link" href='{% url "school" course.domain.pk %}{{ course.domain.name}}'>{{course.domain.name}}</a></h1>
        <p class="lead margin-btm-none">
        	<i class="fa fa-users"></i> {{student_count}} Student{{student_count|pluralize}} &nbsp;
					<i class="fa fa-file-text-o"></i> {{doc_count}} Document{{doc_count|pluralize}} &nbsp;
        </p>
      </div>
    </div>
    <hr>
  </div>
	{% if popular_documents %}
		<div class="col-xs-12">
			<div id="popular-documents" class="well trans">
				<table data-toggle="table" class="table table-hover" data-sort-name="doc-purchases" data-sort-order="desc"
		         data-search="true" data-search-text="" data-trim-on-search="false" data-search-align="left" data-show-columns="false" data-classes="table-no-bordered" >
		      <thead>
			      <tr>
			          <th data-sortable="true" data-field="doc-title"><span class="th-name"><h4>Title</h4></span></th>
			          <th data-sortable="true" data-field="doc-price"><span class="th-name"><h4>Price</h4></span></th>
			          <th data-sortable="true" data-field="doc-instr"><span class="th-name"><h4>Instructor</h4></span></th>
			          <th data-sortable="true" data-field="doc-purchases"><span class="th-name"><h4>Purchases</h4></span></th>
			          <th data-sortable="true" data-field="doc-date"><span class="th-name th-last"><h4>Date</h4></span></th>
			      </tr>
		      </thead>
		      <tbody class="opa">
		      	{% for document in popular_documents %}
			        <tr>
			          <td>
			            <div class="media">
										<div class="media-left media-top">
						      		{% if document.preview %}
											<a href="{%url "document_detail" document.uuid %}"><img src="{{document.preview.url}}" class="media-object img-thumbnail" style="width:90px" alt="Study Guide"></a>
											{% else %}
											<a href="{%url "document_detail" document.uuid %}"><img class="media-object img-thumbnail" id="preview_image_{{document.pk}}" src="{% static 'documents/img/loading_file.svg'%}" style="width:90px" alt="Study Guide"></a>
											{% endif %}
							  		</div>
							  		<div class="media-body">
							    		<h3 class="media-heading"><a href="{%url "document_detail" document.uuid %}">{{document.title}}</a></h3>
											<span class="description">
												<i class="fa fa-fw fa-thumbs-up text-success"></i>{{document.up}} 
												<i class="fa fa-fw fa-thumbs-down text-danger"></i>{{document.down}}&nbsp;
												{% with document.review_count as review_count %}
													<i class="fa fa-comments text-info fa-fw"></i>{{review_count}} Review{{review_count|pluralize}}&nbsp;
												{% endwith %}
												{% with document.owner as owner %}
													{% if owner %}
														<p class="margin-top-sm">Uploaded by a Student in 
															<a href="{%url "course" document.course.pk%}{{document.course.name}}" class="link">{{document.course.dept}} {{document.course.course_number}}</a>
														</p>
													{% else %}
														<p class="margin-top-sm">Uploaded by Unknown in <a href="{%url "course" document.course.pk%}{{document.course.name}}" class="link">{{document.course.dept}} {{document.course.course_number}}</a></p>
													{% endif %}
												{% endwith %}
											</span>	            	
										</div>
									</div>
								</td>
			          <td>{{document.price}} points</td>
			          <td>{{document.course.professor}}</td>
			          <td>{{document.sold}} Purchase{{document.sold|pluralize}}</td>
			          <td>{{document.create_date|naturaltime}}</td>
			        </tr>        
		      	{% endfor %}
		      </tbody>
		 		</table>
		 	</div>
		</div>
	{% else %}
		<div class="col-xs-6 col-xs-offset-3">
 			<br>
 			<p class="lead text-center">No Documents in {{course.dept}} {{course.course_number}}!</p>
 			<a class="btn btn-trans btn-lg btn-block" href="{% url "document_upload"%}"><i class="fa fa-fw fa-file-text-o"></i> Upload a Document</a>
 			<p></p>
 			<p class="text-center">View documents at <a href="{%url "school" course.domain.pk%}{{course.domain.name}}" class="link"><strong>{{course.domain.name}}</strong></a></p>
 		</div>
	{% endif %}
</div>
{% endblock %}
