{% extends 'schedule/base.html' %}

{% block head_title %}Add a Course{% endblock %}

{% block head %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/validator.css' %}">
  	<script src="{% static 'user_profile/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
    			<img class="media-object pull-left animated slideInLeft" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/clocks.svg" height="50px" alt="schedule">
  				<div class="media-body">
    			<h2 class="media-heading">Class Schedule <div class='pull-right'> <a href='/classes/' class='btn btn-primary'><i class="fa fa-book fa-fw"></i> Your Classes &raquo;</a> </div></h2>
				Add, Drop, or Create a Class</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Currently Enrolled</h2>
				</div>
				<div class="panel-body">
					<div class="list-group">
						{% if enrolled_courses %}
							{% for course in enrolled_courses %}
							<div class="list-group-item">
								<form id="drop_{{course.id}}" class="drop_class" 
									method="post" action="{% url 'course_remove' %}">
									<h4 class="list-group-item-heading">{{course.dept}} {{course.course_number}}
										<small class="pull-right">
											<a href="#" class="badge">drop</a>
										</small>
									</h4>
									<p class="list-group-item-text">with Professor {{course.professor}}</p>
									<input type="hidden" name="courses" value={{course.id}}/>
								</form>
							</div>
							{% endfor %}
						{% else %}
							No classes added yet.
						{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Search for a Class</h2>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<form id="class_search_form" class="" method="get" action="{% url 'course_add' %}">
								<input type="text" class="form-control input-lg" 
								placeholder="Search for a class: PSY 200" name="search">
								<span class="input-group-btn">
									<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i> Search</button>
								</span>
							</form>
						</div>
						{% if show_results %}
						<div id="searchResultContainer" style="">
							<hr>
							<h3>Results <small>for "{{ query }}"</small><span class=" small pull-right">Can't find your class? &nbsp;
									<a href="{% url 'course_create' %}" class="btn btn-sm btn-danger"><i class='fa fa-plus fa-fw'></i>Create Class</a></span></h3>
							<hr>
							<div class="list-group" id="searchResults">
								<div id="searchText"></div>
								{% if course_results %}
									{% for course in course_results %}
										<div class="list-group-item">
											<h4 class="list-group-item-heading">{{course.dept}} {{course.course_number}}
												<small>with Professor {{course.professor}}</small> 
												<form id="{{course.id}}_course_add" method="post" action="{% url 'course_add' %} ">
													{% csrf_token %}
													<input type="hidden" name="courses" value="{{course.id}}" />
													<button class="pull-right btn btnlg btn-success">Join</button>
												</form>
											</h4>
											<p class="list-group-item-text">
												<i class='fa fa-user fa-fw'></i> 
												{% if course.student_count > 1%}
													{{course.student_count}} Students
												{% else %}
													{{course.student_count}} Student
												{% endif %}
												<i class='fa fa-file fa-fw'></i> 10 Documents 
												<i class='fa fa-calendar fa-fw'></i> 6 Calendars
											</p>
										</div>
									{% endfor %}
								{% else %}
									No Courses match this search!
								{% endif %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>		
		</div>		
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
</div>
</div>	
{% endblock %}
