{% extends 'schedule/base.html' %}

{% block head_title %}School{% endblock %}

{% block extra_head %}
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/school.css' %}">
		<script src="{% static 'schedule/js/school.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <ol class="breadcrumb">
  	<div class="pull-right">
			<a button type="button" class="btn btn-success btn-xs" href="{%url "document_upload"%}"><i class="fa fa-money fa-fw"></i> Sell Document</a>
  		<a class="btn btn-facebook btn-xs"><i class="fa fa-fw fa-facebook"></i> Share</a>
  	</div>
		<li class="active"><i class="fa fa-university fa-fw"></i> {{school.name}}</li>
  </ol>
  <div class="well">
  <div class="panel panel-default">
  	<div class="panel-body">
    <div class="media"> <a class="pull-left"> <img class="media-object img-responsive animated slideInLeft" width="75px" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/building.svg" alt="school"></a>
      <div class="media-body">
				<h2 class="media-heading  animated slideInRight">{{school.name}} <small>{{school.city}}, {{school.state}}</small></h2>
        <p class="animated animated-sm slideInRight">
					{% with school.student_school.count as student_count %}
					<i class="fa fa-users"></i> {{student_count}} Student{{student_count|pluralize}} &nbsp;
					{% endwith %}
					{% with school.document_count as document_count %}
					<i class="fa fa-file"></i> {{document_count}} Document{{document_count|pluralize}} &nbsp;
					{% endwith %}
        	<i class="fa fa-calendar"></i> 60 Calendars &nbsp;
        </p>
  	  </div>
  	  <div class="progress animated-md slideInRight" style="width:">
              <div class="progress-bar progress-bar-info" style="width: 67%"> <span class="sr-only">67% Complete (info)</span> </div>
              <div class="progress-bar progress-bar-primary" style="width: 11%"> <span class="sr-only">11% Complete (primary)</span> </div>
              <div class="progress-bar progress-bar-warning" style="width: 22%"> <span class="sr-only">22% Complete (warning)</span> </div>
            </div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
	<div class="panel panel-default" id="popular-documents">
      <div class="panel-heading clearfix">
        <h3 class="panel-title tour-step-four"> Activity <span class="badge">300</span></h3>
      </div>
      <div class="panel-body">
        <div class="list-group item-list"></div>
      </div>
    </div>
  </div>
  <div class='col-sm-5'>
    <div class="panel panel-default" id="popular-documents">
      <div class="panel-heading clearfix">
        <h3 class="panel-title tour-step-four"> Popular Documents <span class="badge">15</span></h3>
      </div>
      <div class="panel-body">
        <div class="list-group item-list"></div>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="panel panel-default" id="recent-documents">
      <div class="panel-heading clearfix">
        <h3 class="panel-title tour-step-four"> Popular Calendars <span class="badge">10</span></h3>
      </div>
      <div class="panel-body">
        <div class="list-group item-list"></div>
      </div>
    </div>
  </div>
</div>
</div><!-- end well -->
</div><!-- end container -->
{% endblock %}
