{% extends 'schedule/base.html' %}

{% block head_title %}{{school.name}}{% endblock %}

{% block extra_head %}
	<meta property="og:site_name" content="mycollegehomepage" />
	<meta property="og:type" content="website" /> 
	<meta property="og:title" content="{{school.name}}" />
	<meta property="og:description" content="{{school.name}} has {{student_count}}
  Student{{student_count|pluralize}}, {{doc_count}} Document{{doc_count|pluralize}}, and {{cal_count}} Calendar{{cal_count|pluralize}}" />
	<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/building-with-flag.svg" />
	<meta property="fb:app_id" content="369999156462705" />

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'schedule/css/school.css' %}">
<script src="{% static 'schedule/js/school.js' %}"></script>
<script src="{% static 'lib/js/bootstrap3-typeahead.min.js' %}"></script>
{% endblock %}

{% block body %}
{% load humanize %}

<div class="container">
	<!-- <ol class="breadcrumb">
		<span class="pull-right">
			<a button type="button" class="btn btn-success btn-xs" href="{%url "document_upload"%}"><i class="fa fa-money fa-fw"></i> Sell Document</a>
			<a class="btn btn-facebook btn-xs"><i class="fa fa-fw fa-facebook"></i> Share</a>
		</span>
	</ol> -->
	<div class="well" style="padding-bottom:0px;">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media"> <a class="pull-left"> <img class="media-object img-responsive" width="75px" src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/building-with-flag.svg" alt="school"></a>
					<div class="media-heading">
						<span class="pull-right">
			<a button type="button" class="btn btn-success btn-xs" href="{%url "document_upload"%}"><i class="fa fa-money fa-fw"></i> Sell Document</a>
			<a class="btn btn-facebook btn-xs"><i class="fa fa-fw fa-facebook"></i> Share</a>
		</span>
						<h2 class="media-heading">{{school.name}} <small>{{school.city}}, {{school.state}}</small></h2>
					</div>
					<p>
						<i class="fa fa-users"></i> {{student_count}} Student{{student_count|pluralize}} &nbsp;
						<i class="fa fa-file-text-o"></i> {{doc_count}} Document{{doc_count|pluralize}} &nbsp;
						<i class="fa fa-calendar"></i> {{cal_count}} Calendar{{cal_count|pluralize}} &nbsp;
					</p>
					<div class="progress" style="width:68%;">
						<div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="Students" data-placement="bottom" style="width: {{student_percent}}%"> <span class="sr-only">{{student_percent}}% Students</span> </div>
						<div class="progress-bar progress-bar-primary" data-toggle="tooltip" data-original-title="Documents" data-placement="bottom" style="width: {{doc_percent}}%"> <span class="sr-only">{{doc_percent}}% Documents</span> </div>
						<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="Calendars" data-placement="bottom" style="width: {{cal_percent}}%"> <span class="sr-only">{{cal_percent}}% Calendars</span> </div>
					</div>
				</div><!-- end media -->
			</div><!-- end panel body -->
		</div><!-- end panel -->
	</div><!-- end well -->
	<div class="row">
		<div class='col-sm-6'>
			<div class="panel panel-default" id="popular-documents">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"> Popular Documents <span class="badge">{{popular_documents|length}}</span></h3>
				</div>
				<!-- <div class="doc-con scrolls"> -->
					<!-- <div class="panel-body"> -->
						<div class="list-group item-list">
							{% for document in popular_documents %}
							<div class="list-group-item">
								<div class="media">
									<span class="pull-left" href="#">
										<div class="media-object img-thumbnail">
											{% if document.preview %}
											<a href="#"><img src="{{document.preview.url}}" style="width:64px"></a>
											{% else %}
											<a href="#"><img class="img-thumbnail" id="preview_image_{{document.pk}}" src="{% static 'documents/img/loading_file.svg'%}" style="width:64px"></a>
											{% endif %}
										</div>
									</span>
									<div class="media-body">
										<h4 class="media-heading"><a href="{%url "document_detail" document.uuid %}">{{document.title}}</a>
											<small>{{document.price}} points</small><div class="pull-right small hidden-sm"><small>{{document.create_date|naturaltime}}</small></div>
										</h4>
										<span class="description">
											<i class="fa fa-fw fa-thumbs-up text-success"></i>{{document.up}} 
											<i class="fa fa-fw fa-thumbs-down text-danger"></i>{{document.down}}&nbsp;
											{% with document.review_count as review_count %}
											<i class="fa fa-comments text-info fa-fw"></i>{{review_count}} Review{{review_count|pluralize}}&nbsp;
											{% endwith %}
											<i class="fa fa-fw fa-money text-success"></i> {{document.sold}}
											Purchase{{document.sold|pluralize}}
                      <p class="small margin-top-sm">Uploaded by <a href="{%url "profile" document.upload.owner.pk%}">{{document.upload.owner}}</a> in <a href="{%url "course" document.course.pk%}{{document.course.name}}">{{document.course.dept}} {{document.course.course_number}}</a></p>
										</span>
									</div>
								</div>
							</div>
							{% empty %}
							<div class="list-group">
								<div class="list-group-item">
									<p class="h5">Be the first to sell a document at this school!</p>
									<a button type="button" class="btn btn-success" href='{% url "document_upload" %}'>Sell a Document</a>
								</div>						
							</div>
							{% endfor %}
						</div>
					<!-- </div> -->
				<!-- </div> -->
			</div>
		</div>
		<div class='col-sm-6'>
			<div class="panel panel-default" id="">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"> Popular Calendars <span class="badge">{{cal_count}}</span></h3>
				</div>
				<!-- <div class="panel-body"> -->
					<div class="list-group item-list">
						{% for calendar in popular_calendars %}
						<div class="list-group-item">
							<div class="media">
								<span class="pull-left" href="#">
									<a href="{%url "calendar_preview" calendar.pk%}" class='calendar-picture-link'>
										<div class="media-object img-thumbnail">
											<img src="https://s3-us-west-2.amazonaws.com/mchpstatic/Flat+Icon+SVG/SVG/calendar-blank.svg" style="width:64px">
										</div>
										<div class="assignment-number text-center text-default h4
											calendar-event-count" data-toggle="tooltip" data-original-title="Events">{{calendar.events}}</div>
									</a>
								</span>
								<div class="media-body">
									<h4 class="media-heading"><a href="{% url "calendar_preview" calendar.pk%}" class="calendar-title">{{calendar.title}}</a>
										<small class="calendar-browse-price">{{calendar.price}} points</small>
										<div class="pull-right small calendar-create-date"><small>{{calendar.create_date|naturaltime}}</small></div></h4>
									<span class="description">
										<span class='calendar-professor'><strong>Inst {{calendar.course__professor}}</strong></span>
										<i class="fa fa-bullseye text-primary"></i> 
										{% if calendar.accuracy < 0 %}
										<span class="calendar-accuracy">No ratings&nbsp;</span>
										{% else %}
										{{calendar.accuracy}}% Accuracy&nbsp;
										{% endif %}
										<i class="fa fa-fw fa-users"></i> <span class="calendar-subscriptions">{{calendar.subscriptions}} followers&nbsp;</span>
										<ul class="list-inline small margin-btm-none">
											<li class='calendar-time small'><i class="fa fa-fw fa-clock-o"></i> {{calendar.time}}</li>
										</ul>
										<p class="small">Created by <a href="{% url "profile" calendar.owner %}"
												class="calendar-uploader">{{calendar.owner__user__username}}</a></p>
									</span>
								</div>
							</div>
						</div>
						{% empty %}
						<div class="list-group">
								<div class="list-group-item">
									<p class="h5">Be the first to create a calendar at this school!</p>
									<a button type="button" class="btn btn-success" href='{% url "calendar_create" %}'> Create a Calendar</a>
								</div>						
							</div>
						{% endfor %}
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div><!-- end container -->
{% endblock %}
