body {
	padding-top: 70px;
	padding-bottom: 20px;
}

.wrap {
	margin-left:10px;
	margin-right:10px;
}

.btn-facebook {
	background:#4c66a4;
	color:#fff;
}
.btn-facebook:hover {
	background:#4c66a4;
	color:#dedede;
}
#purchasePoints{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#coin-icon:hover path {
	fill: red;
}
