/*
/* This is for custom landing page styles
/*
/*
*/

body {
    margin-top: 70px;
}

/* floating */
/*.floating {
  animation: floating 1.5s infinite;
  -webkit-animation: floating 1.5s infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(0%);
    }
}
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.bounceInUp {
  animation: bounceInUp 2s infinite;
  -webkit-animation: bounceInUp;
}

@keyframes bounceInUp {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}
@-webkit-keyframes bounceInUp {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}*/

/* Text "Small Color" */
.text-dull {
  color: #777777;
}
/* Delayed Animations */
.delayed-1 {
  -webkit-animation-delay: .10s;
  animation-delay: .10s;
}
.delayed-2 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.delayed-3 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.delayed-4 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.delayed-5 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* Duration Animations */
.duration-1 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.duration-2 {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}
.duration-3 {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
}
.duration-4 {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

/* Flip */

/* entire container, keeps perspective */
body .flip-container {
    display: inline-block;
    width: 160px;
    height: 300px;
}
body .flip-container .flipper {
    position: relative;
}
/* hide back of pane during swap */
 body .flip-container .flipper .front, body .flip-container .flipper .back {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    -o-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
/* front pane, placed above back */
 body .flip-container .flipper .front {
    z-index: 2;
    -webkit-transform: perspective(1000px) rotateY(0);
    -moz-transform: perspective(1000px) rotateY(0);
    -o-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}
/* front pane, placed above back */
 body .flip-container:hover .flipper .front {
    -webkit-animation: 0;
    opactity: 0;
    -webkit-transform: perspective(1000px) rotateY(-179.9deg);
    -moz-transform: perspective(1000px) rotateY(-179.9deg);
    -o-transform: perspective(1000px) rotateY(-179.9deg);
    transform: perspective(1000px) rotateY(-179.9deg);
}
/* back, initially hidden pane */
 body .flip-container:hover .flipper .back {
    opcaity: .1;
    position: absolute;
    z-index:3;
    -webkit-transform: perspective(1000px) rotateY(0);
    -moz-transform: perspective(1000px) rotateY(0);
    -o-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}

/* BALL BOUNCING */
 #ballWrapper {
    width: 150px;
    height: 300px;
    position: relative;
    display: inline-block;
    /*left: 20%;
    top: 5%;
    margin-left: -0px;*/
    z-index: 100;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 5s linear 0s;
    -moz-transition: all 5s linear 0s;
    transition: all 5s linear 0s;
    cursor: pointer;
    /* -webkit-animation: appear 5s ease-out; */
}
#ball {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 11;
    cursor: pointer;
}
.border-warning {
    border: 2px solid #faebcc;
    background: #fcf8e3;
}
.border-success {
    border: 2px solid #d6e9c6;
    background: #dff0d8;
}
.border-danger {
    border: 2px solid #ebccd1;
    background: #f2dede;
}
.border-info {
    border: 2px solid #bce8f1;
    background: #d9edf7;
}
.border-default {
    border: 2px solid #ddd;
    background: #f5f5f5;
}

.landing-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 40px;
}

#instruction-text {
    position: relative;
    width: 100px;
    margin-right: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: 20px;
}

/* college pulse styles */
.pulse-con {
    overflow: auto;
    height: 500px;
    /*max-height: 640px;*/
}

/* news section flip */
 .flip-holder {
    width: 100%;
    /*height:500px;
    */
    position: relative;
    perspective:1000px;
}
.flip-holder div {
    position: relative;
    width: 100%;
    /* height: auto; */
    /* background-color: #fff; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    */
    z-index:10;
}
.flip-holder .front {
    background-color: #fff;
    width: 100%;
    height: 600px;
    position: absolute;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
}
.flip-holder .back {
    background-color: #fff;
    position: absolute;
    z-index:0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-holder.flip .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index:0;
}
.flip-holder.flip .back {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    z-index:10;
}

/* set custom height for the news section to scroll in */
#news-scroll {
    position: absolute;
    overflow: auto;
    height: 500px;
}
/* custom styles for anchors in the news navbar */
#news-navbar .navbar-header > ul > li > a {
    padding-top: 8px;
    padding-bottom: 9px;
}

/* set overflow properties to give it a horizontal scroll */
#news-navbar {
    min-height: 37px;
    overflow-x: auto;
    overflow-y: hidden;
}

/* make nav items in news stay in a row */
.flex-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}


#news-scroll > ul.news-group.list-group.visible-group:last-child {
    margin-bottom: 0px;
}

/* set custom news nav styles for small screens */
@media (max-width: 768px) {
    #news-navbar > ul {
        margin-top: 0px;
        margin-left: inherit;
    }
    #news-navbar > span > ul > li {
        display: inline-block;
        position: relative;
        right: -22px;
    }
}
