body {
  margin-top: 70px;
}

/* floating */
.floating {
  animation: floating 1.5s infinite;
  -webkit-animation: floating 1.5s infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(0%);
    }
}
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.bounceInUp {
  animation: bounceInUp 2s infinite;
  -webkit-animation: bounceInUp;
}

@keyframes bounceInUp {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}
@-webkit-keyframes bounceInUp {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

/* Flip */

/* entire container, keeps perspective */
body .flip-container {
    display: inline-block;
    width: 160px;
    height: 300px;
}
body .flip-container .flipper {
    position: relative;
}
/* hide back of pane during swap */
 body .flip-container .flipper .front, body .flip-container .flipper .back {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    -o-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
/* front pane, placed above back */
 body .flip-container .flipper .front {
    z-index: 2;
    -webkit-transform: perspective(1000px) rotateY(0);
    -moz-transform: perspective(1000px) rotateY(0);
    -o-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}
/* front pane, placed above back */
 body .flip-container:hover .flipper .front {
    -webkit-animation: 0;
    opactity: 0;
    -webkit-transform: perspective(1000px) rotateY(-179.9deg);
    -moz-transform: perspective(1000px) rotateY(-179.9deg);
    -o-transform: perspective(1000px) rotateY(-179.9deg);
    transform: perspective(1000px) rotateY(-179.9deg);
}
/* back, initially hidden pane */
 body .flip-container:hover .flipper .back {
    opcaity: .1;
    position: absolute;
    z-index:3;
    -webkit-transform: perspective(1000px) rotateY(0);
    -moz-transform: perspective(1000px) rotateY(0);
    -o-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}

/* BALL BOUNCING */
 #ballWrapper {
    width: 150px;
    height: 300px;
    position: relative;
    display: inline-block;
    /*left: 20%;
    top: 5%;
    margin-left: -0px;*/
    z-index: 100;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 5s linear 0s;
    -moz-transition: all 5s linear 0s;
    transition: all 5s linear 0s;
    cursor: pointer;
    /* -webkit-animation: appear 5s ease-out; */
}
#ball {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 11;
    cursor: pointer;
}
.border-warning {
    border: 2px solid #faebcc;
    background: #fcf8e3;
}
.border-success {
    border: 2px solid #d6e9c6;
    background: #dff0d8;
}
.border-danger {
    border: 2px solid #ebccd1;
    background: #f2dede;
}
.border-info {
    border: 2px solid #bce8f1;
    background: #d9edf7;
}
.border-default {
    border: 2px solid #ddd;
    background: #f5f5f5;
}

