/*
 * This file is for the custom styling on the doc upload page
 */

#id_document {
  /*position: relative;*/
  margin-top: -5px;
  margin-left: -15px;
  /*max-width: 245px;*/
}

li {
	list-style: none;
}

.upload-form .dropdown-menu {
	margin-top: 44px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#id_course {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
