/*
 * This file is for the custom styling on the doc upload page
 */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

li {
	list-style: none;
}

.upload-form .dropdown-menu {
	margin-top: 44px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#id_course {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.loading {
    left: 50%;
    top: 50%;
    z-index: 99999;

    height: 40px;
    margin-top: -20px;

    width: 60px;
    margin-left: -30px;
	position:fixed; 
}

.media.body {
    overflow: visible !important;
}