{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
    {% load staticfiles %}
        <script src="{% static 'account/js/sign_up_confirm.js' %}"></script>
        <script src="{% static 'social/js/social_signup_redirect.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container text-center">
<div id="fb-root">
<script src="http://connect.facebook.net/en_US/all.js"></script>
</div>

    <h2 class="text-center">Got Credentials?</h2>

    <p><img class="media-object img-responsive center-block" src=
    "{% static 'lib/img/support.svg' %}" alt=
    "Support"></p>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}.{% endblocktrans %}</p>
<p>{% blocktrans %} As a final step, please complete the following form:{% endblocktrans %}</p>
<form class="signup acct-form" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
	<hr>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="saved_email" value="{{ request.session.initial_email }}" />
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group">
  <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Sign Up" %}</button>
</div>
</form>
</div>
{% endblock %}
