/*
/* This file is for the login/signup forms
/*
*/

/* Account form styles */
.acct-form {
    max-width: 300px;
    width:300px;
    margin: 0 auto;
}
.emailSignup {
	display: none;
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
	text-align: center;
}
.emailLogin {
    display: none;
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
