/* Account form styles */
.acct-form {
    max-width: 300px;
    width:300px;
    margin: 0 auto;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* BS3 Validator styles */
.bv-form .help-block {
    margin-bottom:0
}
.nav-tabs li.bv-tab-success>a {
    color:#3c763d
}
.nav-tabs li.bv-tab-error>a {
    color:#a94442
}
.emailSignup {
	display: none;
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
	text-align: center;
}
.emailLogin {
    display: none;
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
