{% extends "lib/base.html" %}

{% block head_title %}mycollegehomepage{% endblock %}

{% block extra_head %}
    <meta property="fb:app_id" content="369999156462705" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mycollegehomepage.com" />
    <meta property="og:title" content="mycollegehomepage.com | mchp" />
    <meta property="og:image" content="https://mchp-dev.s3.amazonaws.com/static/lib/img/homepage.png" />
    <meta property="og:description" content="The collaborative course management system for college students." />

<script src="//cdnjs.cloudflare.com/ajax/libs/pleasejs/0.2.0/Please.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>

{% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-tour.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/new_homepage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/weather-icons.min.css' %}">

  <script src="{% static 'lib/js/bootstrap-tour.min.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery.jfeed.js' %}"></script>
  <script src="{% static 'dashboard/js/new_homepage.js' %}"></script>
  <script src="{% static 'dashboard/js/domparser.js' %}"></script>
  <script src="{% static 'lib/js/jquery.cookie.js' %}"></script>

{% endblock %}

{% block body %}
{% load humanize %}
{% load dashboard %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=369999156462705&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  {% if not dashboard_ref_flag %}
  <div class="one-time-alert alert alert-dismissible fade in" data-event="{{dashboard_ref_flag_name}}" id="ref-alert" role="alert">
    <button type="button" class="close no-shadow" data-event="{{dashboard_ref_flag_name}}" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="media margin-top-none">
      <div class="media-left media-middle">
        <i class="media-object fa fa-heart-o fa-fw fa-4x"></i>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><strong>Welcome to the new mchp!</strong></h4>
        <p>We've made some major changes around here, but the concept is still very much the same!</p>
        <ul>
          <li>Home - (what you're viewing now) gives you an overview of what's coming up in your classes.</li>
          <li>Events - every event has it's own page, where you can find curated Study Guides and Documents most relevant to it.</li>
          <li>Picture Backgrounds - everyday you'll see a new beautiful image as your background.</li>
        </ul>
      </div>
    </div>
  </div><!-- end alert -->
  {% endif %}
  <!-- Overview Section -->
<section id="overview" class="section section-overview">
  <div class="row">
    <div class="col-xs-8">
      <h1 class=""><span id="greeting"></span> <span class="studentName"></span>.</h1>
      <p class="lead margin-btm-sm">You have <strong>6 assignments</strong> coming up</p>
      <p></p>
      <div class="row">
        <div class="col-xs-4">
          <h4 class="white lead margin-btm-sm margin-top-sm">Today</h4>
          <hr class="margin-top-none">
          <div class="upcoming-assignment">
            <h5 class=""><strong><a href="#classes" id="course1Link" class="page-scroll"><span class="courseName1"></span></a> <span class="small pull-right"></span></strong></h5>
            <p></p>
            <div class="panel opa">
              <ul class="list-group trans">
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Exam 2</h4>
                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                </a>
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Homework 2</h4>
                </a>
              </ul>
            </div>
            <h5 class=""><strong><a href="#classes" id="course2Link" class="page-scroll"><span class="courseName2">Course2</span></a> <span class="small pull-right"></span></strong></h5>
            <p></p>
            <div class="panel opa">
              <ul class="list-group trans">
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Exam 2</h4>
                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                </a>
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Homework 2</h4>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <h4 class="white lead margin-btm-sm margin-top-sm">Tomorrow</h4>
          <hr class="margin-top-none">
          <div class="upcoming-assignment">
            <h5 class=""><strong><a href="#classes" id="course3Link" class="page-scroll"><span class="courseName3">Course3</span></a> <span class="small pull-right"></span></strong></h5>
            <p></p>
            <div class="panel opa">
              <ul class="list-group trans">
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white">Exam 2<small> </small></h4>
                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                </a>
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white">Homework 2<small> </small></h4>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- /row -->  
    </div><!-- /col-8 -->
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="white pull-right"><span class="weekdayMonth"></span></h1>
        </div>
        <div class="col-xs-12">
          <span class="white mega-font lead hidden-xs pull-right" style="margin-right:px;"><span class="numberDate"></span></span>
        </div>
      </div><!-- /row -->
    </div><!-- end col-4 -->
  </div><!-- /section-row -->
</section>
<!-- End Overview Section -->
{% endblock %}
