{% extends "lib/base.html" %}

{% block head_title %}mycollegehomepage{% endblock %}

{% block extra_head %}
  <meta property="fb:app_id" content="369999156462705" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.mycollegehomepage.com" />
  <meta property="og:title" content="mycollegehomepage.com | mchp" />
  <meta property="og:description" content="mchp is an elegant planner that curates study guides for your upcoming exams." />

  <script src="//cdnjs.cloudflare.com/ajax/libs/pleasejs/0.2.0/Please.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>

{% load staticfiles %}

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-tour.min.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/new_homepage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/weather-icons.min.css' %}">

  <!-- // <script src="{% static 'lib/js/bootstrap-tour.min.js' %}"></script> -->
  <!-- // <script src="{% static 'dashboard/js/jquery.jfeed.js' %}"></script> -->
  <script src="{% static 'dashboard/js/new_homepage.js' %}"></script>
  <script src="{% static 'dashboard/js/domparser.js' %}"></script>
  <script src="{% static 'lib/js/jquery.cookie.js' %}"></script>

{% endblock %}

{% block body %}
{% load humanize %}
{% load dashboard %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=369999156462705&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  {% if not dashboard_ref_flag %}
  <div class="one-time-alert alert alert-dismissible fade in" data-event="{{dashboard_ref_flag_name}}" id="ref-alert" role="alert">
    <button type="button" class="close no-shadow" data-event="{{dashboard_ref_flag_name}}" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="media margin-top-none">
      <div class="media-left media-middle">
        <i class="media-object fa fa-heart-o fa-fw fa-4x"></i>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><strong>Welcome to the new mchp!</strong></h4>
        <p>We've made some major changes around here, but the concept is still very much the same!</p>
        <ul>
          <li>Home - (what you're viewing now) gives you an overview of what's coming up in your classes.</li>
          <li>Events - every event has it's own page, where you can find curated Study Guides and Documents most relevant to it.</li>
          <li>Picture Backgrounds - everyday you'll see a new beautiful image as your background.</li>
        </ul>
      </div>
    </div>
  </div><!-- end alert -->
  {% endif %}
  <!-- Overview Section -->
<section id="overview" class="section section-overview">
  <div class="row">
    <div class="col-xs-8">
      <h1><span id="greeting"></span> {{ student_name }}.</h1>
      <p class="lead margin-btm-sm">You have <strong>{{ event_count }} assignments</strong> coming up</p>
      <p></p>
      <div class="row">
        <div class="col-sm-4">
          <h4 class="white lead margin-btm-sm margin-top-sm">Today</h4>
          <hr class="margin-top-none">
          {% for course, events in today_events_by_course.items %}
          <h5 class=""><strong><a href="{% url "course" course.id %}" id="course1Link" class="page-scroll"><span class="courseName">{{ course.display }}</span></a> <span class="small pull-right"></span></strong></h5>
          <p></p>
          <div class="panel opa">
            <ul class="list-group trans">
              {% for event in events %}
              <a href="{% url "event_detail" event.id %}" class="list-group-item item-custom trans">
                <h4 class="white ">{{ event.title }}</h4>
                <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> {{ event.document_count }} Study Guides</h5>
              </a>
              {% endfor %}
            </ul>
          </div>
          {% empty %}
          <div class="text-center">
            <p><i class="fa fa-smile-o fa-5x"></i></p>
            <p><strong>Nothing due today!</strong></p>
            <a href="{% url 'calendar' %}" class="btn btn-trans">Add New Event</a>
          </div>
          {% endfor %}
        </div>
        <div class="col-sm-4">
          <h4 class="white lead margin-btm-sm margin-top-sm">Tomorrow</h4>
          <hr class="margin-top-none">
          <div class="upcoming-assignment">
              {% for course, events in tomorrow_events_by_course.items %}
                  <h5 class=""><strong><a href="{% url "course" course.id %}" id="course1Link" class="page-scroll"><span class="courseName">{{ course.display }}</span></a> <span class="small pull-right"></span></strong></h5>
                  <p></p>
                  <div class="panel opa">
                      <ul class="list-group trans">
                          {% for event in events %}
                              <a href="{% url "event_detail" event.id %}" class="list-group-item item-custom trans">
                                  <h4 class="white ">{{ event.title }}</h4>
                                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> {{ event.document_count }} Study Guides</h5>
                              </a>
                          {% endfor %}
                      </ul>
                  </div>
              {% empty %}
                <div class="text-center">
                  <p><i class="fa fa-smile-o fa-5x"></i></p>
                  <p><strong>Nothing due tomorrow!</strong></p>
                  <a href="{% url 'calendar' %}" class="btn btn-trans">Add New Event</a>
                </div>
              {% endfor %}
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /col-8 -->
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="white text-right"><span class="weekdayMonth"></span></h1>
        </div>
        <div class="col-xs-12">
          <p class="white mega-font lead hidden-xs text-right"><span class="numberDate"></span></p>
        </div>
        <div class="col-sm-7 col-sm-offset-5">
          <br>
          <h4 class="white lead margin-btm-sm margin-top-sm text-right">Classmates</h4>
          <hr class="margin-top-none">
          <p></p>
          <div class="list-group trans">
            {% for classmate in classmates %}
              <div class="media">
                <div class="media-body">
                  <h5 class="media-heading margin-btm-none text-right">
                    <a href="{% url "profile" classmate.pk %}">
                    <strong>{{classmate.user.username}}</strong>
                    </a>
                  </h5>
                  <p class="small margin-top-none margin-btm-none classes-in-common text-right">
                      {% for course in classmate.classes_in_common %}
                      {% if not forloop.last %}
                      <a href="{% url "course" course.pk %}">{{course}}</a>,
                      {% elif forloop.last and forloop.first %}
                      <a href="{% url "course" course.pk %}">{{course}}</a>
                      {% else %}
                      <a href="{% url "course" course.pk %}">{{course}}</a>
                      {% endif %}
                      {% endfor %}
                  </p>
                </div>
                <div class="media-right media-top">
                  <a href="{% url "profile" classmate.pk %}">
                    <img class="media-object img-circle profile-image img-thumbnail animated flipInX delayed-sm" src="{{ classmate.profile.profile_image_url }}" alt="classmate" style="width:36px; height:36px; padding:2px;">
                  </a>
                </div>
              </div>
            {% empty %}
            {% endfor %}
          </div>

        </div>
      </div><!-- /row -->
    </div><!-- end col-4 -->
  </div><!-- /section-row -->
</section>
<!-- End Overview Section -->
{% endblock %}
