{% extends "lib/base.html" %}

{% block head_title %}mycollegehomepage{% endblock %}

{% block extra_head %}
  <meta property="fb:app_id" content="369999156462705" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.mycollegehomepage.com" />
  <meta property="og:title" content="mycollegehomepage.com | mchp" />
  <meta property="og:image" content="https://mchp-dev.s3.amazonaws.com/static/lib/img/homepage.png" />
  <meta property="og:description" content="The collaborative course management system for college students." />

  <script src="//cdnjs.cloudflare.com/ajax/libs/pleasejs/0.2.0/Please.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>

{% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-tour.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/new_homepage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/weather-icons.min.css' %}">

  <script src="{% static 'lib/js/bootstrap-tour.min.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery.jfeed.js' %}"></script>
  <script src="{% static 'dashboard/js/new_homepage.js' %}"></script>
  <script src="{% static 'dashboard/js/domparser.js' %}"></script>
  <script src="{% static 'lib/js/jquery.cookie.js' %}"></script>

{% endblock %}

{% block body %}
{% load humanize %}
{% load dashboard %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=369999156462705&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Syllabus Modal -->
<div class="modal fade" id="viewSyllabus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ECON 200 Syllabus</h4>
      </div>
      <div class="modal-body">
        <img src="{% static 'lib/img/file.svg' %}" alt="syllabus" width="100%" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Overview Section -->
<section id="overview" class="section section-overview">
  <div class="row">
    <div class="col-xs-8">
      <h1 class=""><span id="greeting"></span> <span class="studentName"></span>.</h1>
      <p class="lead">You have <strong>6 assignments</strong> coming up</p>
      <p></p>
      <div class="row">
        <div class="col-xs-4">
          <h4 class="white lead margin-btm-sm margin-top-sm">Today</h4>
          <hr class="margin-top-none">
          <div class="upcoming-assignment">
            <h5 class=""><strong><a href="#classes" id="course1Link" class="page-scroll"><span class="courseName1"></span></a> <span class="small pull-right"></span></strong></h5>
            <p></p>
            <div class="panel opa">
              <ul class="list-group trans">
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Exam 2</h4>
                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                </a>
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Homework 2</h4>
                </a>
              </ul>
            </div>
            <h5 class=""><strong><a href="#classes" id="course2Link" class="page-scroll"><span class="courseName2">Course2</span></a> <span class="small pull-right"></span></strong></h5>
            <p></p>
            <div class="panel opa">
              <ul class="list-group trans">
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Exam 2</h4>
                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                </a>
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white ">Homework 2</h4>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <h4 class="white lead margin-btm-sm margin-top-sm">Tomorrow</h4>
          <hr class="margin-top-none">
          <div class="upcoming-assignment">
            <h5 class=""><strong><a href="#classes" id="course3Link" class="page-scroll"><span class="courseName3">Course3</span></a> <span class="small pull-right"></span></strong></h5>
            <p></p>
            <div class="panel opa">
              <ul class="list-group trans">
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white">Exam 2<small> </small></h4>
                  <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                </a>
                <a href="event1.html" class="list-group-item item-custom trans">
                  <h4 class="white">Homework 2<small> </small></h4>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- /row -->  
    </div><!-- /col-8 -->
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="white pull-right"><span class="weekdayMonth"></span></h1>
        </div>
        <div class="col-xs-12">
          <span class="white mega-font lead hidden-xs pull-right" style="margin-right:px;"><span class="numberDate"></span></span>
        </div>
      </div><!-- /row -->
    </div><!-- end col-4 -->
  </div><!-- /section-row -->
</section>
<!-- End Overview Section -->

<!-- Classes Section -->
<section id="classes" class="section">
  <div class="row">
    <div class="col-lg-12">
      <h1>Classes</h1>
      <p class="white lead"></p>
    <div>
    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#course1" class="course-pill" aria-controls="econ200" role="tab" data-toggle="tab"><span class="courseName1">Course 1</span></a></li>
      <li role="presentation"><a href="#course2" class="course-pill" aria-controls="mktg361" role="tab" data-toggle="tab"><span class="courseName2">Course 2</span></a></li>
      <li role="presentation"><a href="#course3" class="course-pill" aria-controls="acct210" role="tab" data-toggle="tab"><span class="courseName3">Course 3</span></a></li>
      <li role="presentation"><a href="#course4" class="course-pill" aria-controls="mgmt310" role="tab" data-toggle="tab"><span class="courseName4">Course 4</span></a></li>
      <li role="presentation"><a href="#course5" class="course-pill" aria-controls="mgmt310" role="tab" data-toggle="tab"><span class="courseName5">Course 5</span></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active fade in" id="course1">
        <div class="row">
          <div class="col-xs-12">
            <hr class="opa">
          </div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-12">
                <h4 class="white lead"><i class="fa fa-file-text-o"></i> Documents
                  <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-sm btn-trans" data-toggle="modal" data-target="#viewSyllabus">Syllabus</button></li>
                    <li><button type="button" class="btn btn-sm btn-trans">+ Document</button></li>
                  </ul>
                </h4>
                <!-- <hr class="margin-top-sm"> -->
                <div class="panel opa">
                  <div class="list-group trans">
                    <a href="#" class="list-group-item trans">
                      <div class="media white">
                        <div class="media-left">
                          <img class="media-object bg-white img-thumbnail img-rounded" src="assets/img/syllabus.png" alt="..." width="78">
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Exam 2 Study Guide</h4>
                          Contains information regarding class schedule and requirements.
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item trans">
                      <div class="media white">
                        <div class="media-left">
                          <img class="media-object bg-white bg-white img-thumbnail img-rounded" src="assets/img/syllabus.png" alt="..." width="78">
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Exam 1 Study Guide</h4>
                          Contains information regarding class schedule and requirements.
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item trans">
                      <div class="media white">
                        <div class="media-left">
                          <img class="media-object bg-white bg-white img-thumbnail img-rounded" alt="..." src="assets/img/syllabus.png" width="78">
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Exam 1 Study Guide</h4>
                          Contains information regarding class schedule and requirements.
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end col -->
          <div class="col-xs-4">
            <div class="row">
              <div class="col-md-12">
                <h4 class="white lead"><i class="fa fa-calendar"></i> Events
                  <button type="button" class="pull-right btn btn-sm btn-trans">+ Event</button>
                </h4>
                <div class="panel opa">
                  <ul class="list-group trans">
                    <a href="#" class="list-group-item trans">
                    <div class="media white">
                        <div class="media-body">
                          <h4 class="media-heading white">Exam 2 <span class="small"></span></h4>
                      
                        </div>
                      </div>
                    <h5 class="white"><i class="fa fa-fw fa-file-text-o"></i> 2 Study Guides</h5>
                    
                    </a>
                    <a href="#" class="list-group-item trans">
                      <div class="media white">
                        <div class="media-body">
                          <h4 class="media-heading white">Homework 6 <span class="small"></span></h4>
                          <h5 class="white"><i class="fa fa-fw fa-upload"></i> Add a Study Guide to this</h5>
                        </div>
                      </div>
                    </a>
                  </ul>
                </div>
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end col -->
          <div class="col-xs-3">
            <div class="row">
              <div class="col-md-12">
                <h4 class="white lead"><i class="fa fa-users"></i> Classmates</h4> 
                <div class="panel opa">
                  <ul class="list-group trans">
                    <a href="#" class="list-group-item trans">
                      <div class="media white">
                        <div class="media-left">
                          <div class="media-object">
                            <img class="img-circle" src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpf1/v/l/t1.0-9/1948074_10151938632961930_1503647379_n.jpg?oh=a3fdff9cce3e0426a33c51dbfe3e67c0&oe=5653B236" alt="..." width="32">
                          </div>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><span class="classmateName1">Classmate 1</span></h4>
                          active 5 minutes ago
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item trans">
                      <div class="media white">
                        <div class="media-left">
                          <div class="media-object">
                            <img class="img-circle" src="https://scontent.fsnc1-1.fna.fbcdn.net/hprofile-xap1/v/t1.0-1/c100.0.596.596/1534416_10151841729690168_1788049294_n.jpg?oh=4fc34c040f9d34d9bf391e1ac4d60cae&oe=5653FEC3" alt="..." width="32">
                          </div>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><span class="classmateName2">Classmate 2</span></h4>
                          active 5 minutes ago
                        </div>
                      </div>
                    </a>
                  </ul>
                </div><!-- end panel -->
              </div><!-- end col-12 -->
            </div><!-- end row -->
          </div><!-- end col xs-3 -->
        </div><!-- end row -->
      </div><!-- end tab panel -->
      <div role="tabpanel" class="tab-pane fade" id="course2">...</div>
      <div role="tabpanel" class="tab-pane fade" id="course3">...</div>
      <div role="tabpanel" class="tab-pane fade" id="course4">...</div>
      <div role="tabpanel" class="tab-pane fade" id="course5">...</div>
    </div><!-- end tab content -->
  </div><!-- end row -->
</section>
<!-- End Classes Section -->

<!-- Calendar Section -->
<section id="calendar" class="section">
  <div class="row">
    <div class="col-xs-3">
      <h1 class="white">Calendar
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle small" type="select" id="" data-toggle="dropdown"><i class="fa fa-gear fa-fw white"></i></a>
          <ul class="dropdown-menu" id="" role="menu" aria-labelledby="">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/calendar/create/"><span class=""><i class="fa fa-plus fa-fw"></i> New Calendar</span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#manage-calendars" data-toggle="modal"><span class=""><i class="fa fa-sitemap fa-fw"></i> Manage Calendars</span></a></li>
          </ul>
        </div>
      </h1>
    </div><!-- end col-3 -->
    <div class="col-xs-9">
      <div class="row">
        <h1>
          <div class="col-xs-4">
            <div class="btn-group">
              <button type="button" class="cal-button cal-prev-button btn btn-trans"><i class="fa fa-fw fa-angle-left white"></i></button>
              <button type="button" class="cal-button cal-next-button btn btn-trans"><i class="fa fa-fw fa-angle-right white"></i></button>  
            </div>
            <button type="button" class="cal-button cal-today-button btn btn-trans hidden-xs"><span class="white">Today</span></button>
          </div>
          <div class="col-xs-4">   
            <span class="cal-date text-center center-block white">June 2015</span>
          </div>
          <div class="col-xs-4">
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="cal-button cal-view-day btn btn-trans">
                <input type="radio" name="day" autocomplete="off" checked>day
              </label>
              <label class="cal-button cal-view-week btn btn-trans">
                <input type="radio" name="week" autocomplete="off">week
              </label>
              <label class="cal-button cal-view-month btn btn-trans active">
                <input type="radio" name="month" autocomplete="off">month
              </label>
            </div>
          </div>
        </h1>
      </div><!-- end row -->
      <div class="row">
        <div class="col-xs-12">
          <br>
          <div class="panel opa">
            <div id="calendar"></div>
          </div><!-- end cal panel -->
        </div><!-- end col-12 -->
      </div><!-- end row -->
    </div><!-- end col-xs-9 -->
  </div><!-- end row -->
</section>
<!-- End Calendar Section -->

{% endblock %}
