{% extends 'schedule/base.html' %}

{% block head_title %}You have unsubscribed{% endblock %}

{% block body %}
{% load humanize %}
<div class="row">
  <div class="col-xs-12">
    <h1>Sorry to see you go, {{ subscriber.user.get_short_name }}!</h1>
    <hr>
    <h2>You&rsquo;ll no longer receive curated, exam-specific study materials for assignments and exams in <a href="{{ course.get_absolute_url }}" target="_blank">{{ course.name }}</a> with instructor {{ course.professor }} from this point forward.</h2>
    <h3><a href="{% url 'studyguide-resubscribe' subscriber.uuid %}" class="btn btn-primary">Click here to resubscribe</a></h3>
  </div>
</div>
{% endblock %}
