Django==1.6
Pillow==2.5.0
South==0.8.4
Wand==0.3.7
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.18
boto==2.31.1
celery==3.1.13
django-allauth==0.17.0
django-haystack==2.1.0
django-storages==1.1.6
fake-factory==0.4.0
kombu==3.0.21
oauthlib==0.6.3
psycopg2==2.5.3
pyelasticsearch==0.6.1
python-magic==0.4.6
python3-openid==3.0.4
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.1
simplejson==3.5.3
six==1.7.3
