Django==1.7
psycopg2==2.5.3
Pillow==2.5.3
Wand==0.3.8
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.3.2
kombu==3.0.2.2
billiard==3.3.0.18
pitz==2014.7
celery==3.1.14
django-allauth==0.18.0
django-donottrack==0.1
django-smtp-ssl==1.0
django-storages==1.1.7b
django-haystack==2.1.0
pyelasticsearch=0.7.1
fake-factory==0.4.0
jsonfield==1.0.0
oauthlib==0.6.3
python-magic==0.4.6
python-dateutil==2.2
python3-openid==3.0.4
git+https://github.com/coagulant/django-storages-py3
requests==2.4.1
requests-oauthlib==0.4.1
stripe==1.19.0
simplejson==3.6.3
svn+http://python-weather-api.googlecode.com/svn/trunk/
pywapi==.0.3.8
six==1.8.0
sqlparse==0.1.11
selenium==2.4.3
