Django==1.7
psycopg2==2.5.3
django-allauth
south
pyelasticsearch
fake-factory==0.4.0
pillow
python-magic
git+https://github.com/coagulant/django-storages-py3
celery
wand
stripe
jsonfield
svn+http://python-weather-api.googlecode.com/svn/trunk/
django-smtp-ssl
django-donottrack
selenium
