/*!
*
* Styles for the new homepage
*
*/

.row {
  height: inherit;
}

/* Mega font for responsive screen sizes */

.mega-font {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

@media all and (max-width: 1780px) { /* screen size until 1780px */
  .mega-font {
    font-size  : 12em !important; /* 1.5x default size */
    line-height: .8 !important;;
    padding    : 0 !important;;
  }
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
  .mega-font {
    font-size  : 10em !important;; /* 1.5x default size */
    line-height: .8 !important;;
    padding    : 0 !important;;
  }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
  .mega-font {
    font-size  : 8em !important;; /* 1.2x default size */
    line-height: .8 !important;;
    padding    : 0 !important;;
  }
}
@media all and (max-width: 500px) { /* screen size until 500px */
  .mega-font {
    font-size: 6em !important;; /* 0.8x default size */
    line-height: .8 !important;;
    padding: 0 !important;;
  }
}

/* Styles for the Class Section pill items */

.course-pill {
  color : #fff !important;
  border: 1px solid transparent;
}

.course-pill:hover {
  color             : #fff !important;
  background-color  : rgba(255,255,255,0.4) !important;
  border            : 1px solid rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow        : 0 1px 1px rgba(0,0,0,0.1);
}

.nav-pills > .active > a.course-pill, .nav-pills > .active > a.course-pill:hover,
.nav-pills > li > a.course-pill:hover,
.nav-pills > li > a.course-pill:focus {
  /*border-radius: 0 !important;*/
}

.nav-pills > li > a.course-pill:focus {
  background        : rgba(255,255,255,0.4) !important;
  border            : 1px solid rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow        : 0 1px 1px rgba(0,0,0,0.1);
}

.nav-pills > .active > a.course-pill {
  background-color  : rgba(255,255,255,0.4) !important;
  border            : 1px solid rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow        : 0 1px 1px rgba(0,0,0,0.1);
}

/*!
*
* Custom Full Calendar styles
*
*/

.fc td, .fc th { 
  color: white;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: rgba(255,255,255,0.4);
}

.fc-unthemed .fc-today {
  background: rgba(255,255,255,0.7);
}

.fc-sun, .fc-sat {
  /*color: rgba(255,255,255,0.7) !important;*/
}