{% extends 'lib/base.html' %}

{% block head_title %}Roster Review{% endblock %}

{% block body %}
<div class="container">
    <h2 class="media-heading"><strong>{{ course }}</strong>
        <!-- <ul class="list-inline pull-right">
            <li><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> Approve</a></li>
            <li><a href="#" class=" btn btn-danger btn-lg"><i class="fa fa-times"></i> Deny</a></li>
        </ul> -->
    </h2>
    <a href="{{ course.domain.domain }}">{{ course.domain.name }}</a> &bull; Instr {{ course.professor }}
    <hr>
    {% with object.as_list as entries %}
    <h4>Roster <span class="badge">{{ entries|length }} Students</span></h4>
    <table class="table table-striped table-hover">
    {% for entry in entries|dictsort:"first" %}
        <tr>
            <td>{{ entry.first }} {{ entry.last }}</td>
            <td>{{ entry.email }}</td>
            <td>(not a) user</td>
        </tr>
    {% endfor %}
    </table>
    {% endwith %}
    <h4>Uploader</h4>
    <h5>{{ object.created_by.user.get_full_name }}: <a href="#">{{ object.created_by.user.email }}</a></h5>
</div>
{% endblock %}
