{% extends 'lib/base.html' %}

{% block head_title %}Add Roster{% endblock %}

{% block extra_head %}

<!-- Bootstrap x-editable dependencies -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js"></script>

<!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script> -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rosters/css/roster_upload.css' %}">
<script src="{% static 'rosters/js/roster_upload.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}"> -->
<!-- // <script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script> -->

{% endblock %}

{% block body %}
<form action="" method="post">{% csrf_token %}
  {{ form.errors }}
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">			

				<!-- select course to upload class set to -->	
  			<div class="media">
					<div class="media-left">
					</div>
					<div class="media-body">
						<h3 class="media-heading">Select a course to add a Class Set to: <small><i class="fa fa-info-circle fa-fw"></i></small></h3>
						<p>or <a href="{% url 'course_create'%}" target="_blank">create a new course</a>.</p>
						<select class="form-control" id="{{ form.course.id_for_label }}" name="{{ form.course.name }}">
							{% for course in school.course_set.all %}
							<option value="{{ course.pk }}">{{ course }}</option>
							{% endfor %}
						</select>
						<hr>
				 	</div>
				</div>

				<!-- upload syllabus -->
				<div class="media">
					<div class="media-left">
					</div>
					<div class="media-body">
						<h3 class="media-heading">Upload the CLASS NAME syllabi: <small><i class="fa fa-info-circle fa-fw"></i></small></h3>
						<p>The course syllabus is typically a word or pdf document.</p>
						<span class="btn btn-default btn-file">
							Browse <input type="file">
						</span>&nbsp;<span class="selected-file"></span>
						<hr>
				 	</div>
				</div>


				<!-- identify non-student emails -->
				<div class="media">
					<div class="media-left">
					</div>
					<div class="media-body">
						<h3 class="media-heading">Identify Non-Student Emails <small><i class="fa fa-info-circle fa-fw"></i></small></h3>
						<p>Indicate all non-student email addresses, such as instructors and teaching assistants.</p>
						<textarea class="form-control" id="{{ form.emails.id_for_label }}" name="{{ form.emails.name }}" placeholder="enter one instructor/assistant email per line">{{ form.emails.value|default:''}}</textarea>
	      <!-- <h4>Add all Instructor, Teaching-Assistant, and non-student Emails</h4> -->
	      <!--<div class="row">
	   <div class="col-xs-9">
	   <ul id="InstructorEmails" class="list-inline">
	   <li><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
	   </ul>
	   </div>
	   <div class="col-xs-3">
	   <a href="#" id="addInstructorEmail" class=""><i class="fa fa-plus fa-fw"></i>Add Email</a>
	   </div>
	   </div>-->
	   				<hr>
					</div>
				</div>

				<!-- paste roster html code -->
				<div class="media">
					<div class="media-left">
					</div><!-- /.media-left -->
					<div class="media-body">
						<h3 class="media-heading">Copy & Paste Roster <small><i class="fa fa-info-circle fa-fw"></i></small></h3>
						<p>Select the Course Management System that your class uses and we'll show you how to quickly get your class Roster.</p>
				      <!-- <p><strong>Select the Course Management System that your class uses:</strong></h5> -->
						<!-- Begin tabs -->
						<div role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-pills" role="tablist">
								<li role="presentation" class="active"><a href="#blackboard" aria-controls="blackboard" role="tab" data-toggle="tab">Blackboard</a></li>
								<li role="presentation"><a href="#d2l" aria-controls="d2l" role="tab" data-toggle="tab">Desire 2 Learn</a></li>
								<li role="presentation"><a href="#moodle" aria-controls="moodle" role="tab" data-toggle="tab">Moodle</a></li>
								<li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
							</ul><!-- /.nav.nav-pills -->

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="blackboard">
									<p>Blackboard video</p>
								</div><!-- /.tab-pane.active -->
								<div role="tabpanel" class="tab-pane" id="d2l">...</div>
								<div role="tabpanel" class="tab-pane" id="moodle">...</div>
								<div role="tabpanel" class="tab-pane" id="other">...</div>
							</div><!-- /.tab-content -->
						</div><!-- end tabpanel -->
	      {# <h4> #}
		  {#     <label for="{{ form.roster_html.id_for_label }}">Paste Roster Code</label> #}
		  {# </h4> #}
						<!-- <h4>Paste Roster Code</h4> -->
						<textarea class="form-control" id="{{ form.roster_html.id_for_label }}" name="{{ form.roster_html.name }}" placeholder="paste with cmd/ctrl+v">{{ form.roster_html.value|default:''}}</textarea>
						{# <a href="#" id="{{ form.roster_html.id_for_label }}" data-type="textarea" data-name="{{ form.roster_html.name }}" data-escape="true" data-placeholder="cmd+v (Mac) or ctrl+v (PC) here to paste" class="rosterCode white">{{ form.roster_html.value|default:'' }}</a> #}
						<hr>
						<button type="submit" class="btn btn-primary btn-lg btn-trans btn-block">Submit Class Set for Review</button>
					</div><!-- /.media-body -->
				</div><!-- /.media -->
			</div><!-- /.col-sm-10.col-sm-offset-1 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</form>
{% endblock %}
