{% extends 'lib/base.html' %}

{% block head_title %}Add Roster{% endblock %}

{% block extra_head %}

<!-- Bootstrap x-editable dependencies -->
<!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css"> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js"></script> -->

<!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script> -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rosters/css/roster_upload.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/datepicker.css' %}">

<script src="{% static 'rosters/js/roster_upload.js' %}"></script>
<script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap-datepicker.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}"> -->
<!-- // <script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script> -->

{% endblock %}

{% block body %}
<div class="row">
	<div class="col-xs-12">
		<div class="media">
		  <div class="media-left media-middle">
		    <div class="media-object pull-left animated"><i class="fa fa-upload fa-5x fa-fw"></i></div>
		  </div>
		  <div class="media-body">
		    <h1 class="media-heading">Submit a Class Set</h1>
		    <p class="lead margin-btm-none">A class set includes a class's syllabus, roster, and assignment dates</p>
		  </div>
		</div>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<form id="class_set" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		{{ form.errors }}

			<!-- select course to upload class set to -->
			<div class="media">
				<div class="media-left media-top">
					<h1 class="media-object pull-left margin-top-none">1.</h1>
				</div>
				<div class="media-body">
					<h3 class="media-heading">Select a course to add a Class Set to:</h3>
					<p>or <a href="{% url 'course_create'%}" target="_blank">create a new course</a>.</p>
					<div class="form-group" id="selectClass">
            <select class="form-control input-lg" id="{{ form.course.id_for_label }}" name="{{ form.course.name }}">
							{% for course in school.course_set.all %}
							<option value="{{ course.pk }}">{{ course }} with Instr {{course.professor}}</option>
							{% endfor %}
						</select>
                        <input type="hidden" id="{{ form.course_name.id_for_label }}" name="{{ form.course_name.name }}">

          </div>
					<br></br>
			 	</div>
			</div>

			<!-- upload syllabus -->
			<div class="media">
				<div class="media-left media-top">
					<h1 class="media-object pull-left margin-top-none">2.</h1>
				</div>
				<div class="media-body">
					<h3 class="media-heading">Upload the Syllabus for <strong class="selected-classname">CLASS NAME</strong>:</h3>
					<p>The course syllabus is typically a word or pdf document.</p>
					<span class="btn btn-trans btn-lg btn-file">
						Browse <input type="file" class="form-control" id="{{ form.document.id_for_label }}" name="{{ form.document.name }}">
					</span>&nbsp;<span class="selected-file"></span>
					<br></br>
					<br></br>
			 	</div>
			</div>


			<!-- identify non-student emails -->
			<div class="media">
				<div class="media-left media-top">
					<h1 class="media-object pull-left margin-top-none">3.</h1>
				</div>
				<div class="media-body">
					<h3 class="media-heading">Identify All Non-Student Emails for <strong class="selected-classname">CLASS NAME</strong></h3>
					<p>Indicate all non-student email addresses, such as instructors and teaching assistants.</p>

					<textarea class="form-control input-lg" id="{{ form.emails.id_for_label }}" name="{{ form.emails.name }}" placeholder="enter one instructor/assistant email per line" rows="3">{{ form.emails.value|default:''}}</textarea>


      <!-- <h4>Add all Instructor, Teaching-Assistant, and non-student Emails</h4> -->
      <!--<div class="row">
   <div class="col-xs-9">
   <ul id="InstructorEmails" class="list-inline">
   <li><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   <li class="additionalInstr hidden"><a href="#" data-placeholder="Instructor or TA email" class="editField white"></a></li>
   </ul>
   </div>
   <div class="col-xs-3">
   <a href="#" id="addInstructorEmail" class=""><i class="fa fa-plus fa-fw"></i>Add Email</a>
   </div>
   </div>-->
   				<br></br>
   				<br>
				</div>
			</div>

			<!-- paste roster html code -->
			<div class="media">
				<div class="media-left media-top">
					<h1 class="media-object pull-left margin-top-none">4.</h1>
				</div><!-- /.media-left -->
				<div class="media-body">
					<h3 class="media-heading">Paste the Roster for <strong class="selected-classname">CLASS NAME</strong></h3>
					<p>Select the Course Management System that your class uses and we'll show you how to quickly get your class Roster.</p>
			      <!-- <p><strong>Select the Course Management System that your class uses:</strong></h5> -->
					<!-- Begin tabs -->
					<div role="tabpanel">
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation" class="active"><a class="pill-opa" href="#blackboard" aria-controls="blackboard" role="tab" data-toggle="tab">Blackboard</a></li>
							<li role="presentation"><a class="pill-opa" href="#d2l" aria-controls="d2l" role="tab" data-toggle="tab">Desire 2 Learn</a></li>
							<li role="presentation"><a class="pill-opa" href="#moodle" aria-controls="moodle" role="tab" data-toggle="tab">Moodle</a></li>
							<li role="presentation"><a class="pill-opa" href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
						</ul><!-- /.nav.nav-pills -->

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="blackboard">
								<p></p>
								<p>Blackboard video</p>
							</div><!-- /.tab-pane.active -->
							<div role="tabpanel" class="tab-pane" id="d2l">...</div>
							<div role="tabpanel" class="tab-pane" id="moodle">...</div>
							<div role="tabpanel" class="tab-pane" id="other">...</div>
						</div><!-- /.tab-content -->
					</div><!-- end tabpanel -->
      		<h4>
	  				<label for="{{ form.roster_html.id_for_label }}">Paste Roster Code</label>
	  			</h4>
					<textarea class="form-control input-lg" id="{{ form.roster_html.id_for_label }}" name="{{ form.roster_html.name }}" placeholder="cmd+v (Mac) or ctrl+v (PC) here to paste" rows="3">{{ form.roster_html.value|default:''}}</textarea>
					<!-- <a href="#" id="{{ form.roster_html.id_for_label }}" data-type="textarea" data-name="{{ form.roster_html.name }}" data-escape="true" data-placeholder="cmd+v (Mac) or ctrl+v (PC) here to paste" class="rosterCode white">{{ form.roster_html.value|default:'' }}</a> -->
					<br></br>
					<br>
				</div><!-- /.media-body -->
			</div><!-- /.media -->

			<!-- upload syllabus -->
			<div class="media">
				<div class="media-left media-top">
					<h1 class="media-object pull-left margin-top-none">5.</h1>
				</div>
				<div class="media-body">
					<h3 class="media-heading">Add Exam and Assignment Dates for <strong class="selected-classname">CLASS NAME</strong>:</h3>
					<p>The more you add, the more likely you are to earn commissions.</p>
					<div class="row">
						<div class="col-xs-4">
							<input type="text" class="form-control" placeholder="Exam 1 Title">
							<p></p>
						</div>
						<div class="col-xs-4">
							<input type="text" class="form-control event-date" placeholder="Exam 1 Date">
							<p></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<input type="text" class="form-control" placeholder="Exam 2 Title">
							<p></p>
						</div>
						<div class="col-xs-4">
							<input type="text" class="form-control event-date" placeholder="Exam 2 Date">
							<p></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<input type="text" class="form-control" placeholder="Exam 3 Title">
							<p></p>
						</div>
						<div class="col-xs-4">
							<input type="text" class="form-control event-date" placeholder="Exam 3 Date">
							<p></p>
						</div>
					</div>

					<br></br>
					<br></br>
					<!-- <hr> -->
			 	</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-trans btn-block">Submit Class Set for Review</button>

			<br></br>
			<br>

		</form>
	</div><!-- /.col-sm-10.col-sm-offset-1 -->
</div><!-- /.row -->
{% endblock %}
