{% extends 'lib/base.html' %}

{% block head_title %}Submit Class Set{% endblock %}

{% block extra_head %}

    <!-- Bootstrap x-editable dependencies -->
    <!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css"> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js"></script> -->

    <!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script> -->

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'rosters/css/roster_upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/datepicker.css' %}">

    <script src="{% static 'rosters/js/roster_upload.js' %}"></script>
    <script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-datepicker.js' %}"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.css' %}"> -->
    <!-- // <script src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script> -->

{% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left media-middle">
        <i class="media-object fa fa-upload fa-5x"></i>
      </div>
      <div class="media-body">
      	<span class="fa-stack pull-right" data-toggle="popover" data-content="You are able to make money from submitting Class Sets" data-placement="bottom">
					<i class="fa fa-dollar fa-stack-1x"></i>
					<i class="fa fa-circle-thin fa-stack-2x"></i>
				</span>
        <h1 class="media-heading">Submit Class Set</h1>
        <p class="lead margin-btm-none">A class set includes a class's syllabus, roster, and assignment dates</p>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <form id="class_set" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      <!-- select course to upload class set to -->
      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object pull-left margin-top-none">1.</h1>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Select a course to add a Class Set to: *</h3>
            <p>If the course isn't listed, please <a href="{% url 'course_create' %}" class="link" target="_blank">create a course</a>.</p>
						{% if form.course.errors %}
					    <ol>
					    {% for error in form.course.errors %}
					        <li><strong>{{ error|escape }}</strong></li>
					    {% endfor %}
					    </ol>
						{% endif %}
            <div class="form-group" id="selectClass">
              <select class="form-control input-lg" id="{{ form.course.id_for_label }}"
                      name="{{ form.course.name }}">
	              {% for course in school.course_set.all %}
	                <option value="{{ course.pk }}">{{ course }} with
	                      Instr {{ course.professor }}</option>
	              {% endfor %}
              </select>
              <input type="hidden" id="{{ form.course_name.id_for_label }}"
                         name="{{ form.course_name.name }}">
            </div>
            <br></br>
        </div>
      </div>

      <!-- upload syllabus -->
      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object pull-left margin-top-none">2.</h1>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Upload the Syllabus for <strong class="selected-classname">CLASS
             NAME</strong>: *</h3>
          <p>The course syllabus is typically a word or pdf document.</p>
					{% if form.document.errors %}
				    <ol>
				    {% for error in form.document.errors %}
				      <li><strong>{{ error|escape }}</strong></li>
				    {% endfor %}
				    </ol>
					{% endif %}
						<span class="btn btn-trans btn-lg btn-file">
							Browse <input type="file" class="form-control" id="{{ form.document.id_for_label }}"
	            name="{{ form.document.name }}">
						</span>&nbsp;<span class="selected-file"></span>
          <br></br>
          <br></br>
        </div>
      </div>


      <!-- identify non-student emails -->
      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object pull-left margin-top-none">3.</h1>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Identify All Non-Student Emails for 
          <strong class="selected-classname">CLASS NAME</strong> *</h3>
          <p>Indicate all non-student email addresses, such as instructors and teaching assistants.</p>
          <textarea class="form-control input-lg" id="{{ form.emails.id_for_label }}"
                    name="{{ form.emails.name }}"
                    placeholder="ONE EMAIL PER LINE ONLY. NO NAMES. ONLY EMAILS."
                    rows="3">{{ form.emails.value|default:''}}</textarea>
          <br/>
          {{ form.emails.errors }}
          <br>
        </div>
      </div>

      <!-- paste roster html code -->
      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object pull-left margin-top-none">4.</h1>
        </div>
        <!-- /.media-left -->
        <div class="media-body">
          <h3 class="media-heading">Paste the Roster for <strong class="selected-classname">CLASS
          	NAME</strong> *
          </h3>
          <p>Follow the instructions below to copy/paste your class's roster. Bonus points if you don't have to ask for help <i class="fa fa-smile-o"></i></p>
          <p>Safari users must have <strong>"Developer"</strong> mode enabled before continuing. 
                <a class="btn btn-trans btn-sm" role="button" data-toggle="collapse" href="#safariDevMode" aria-expanded="false" aria-controls="safariDevMode">Here's how</a></p>
                <div class="collapse" id="safariDevMode">
								  <div class="well opa">
								    Go to Safari's Preferences ( command + , ) and view the <strong>"Advanced"</strong> pane on the right. At the bottom of this pane, check <strong>"Show Develop menu in menu bar"</strong>.
								  </div>
								</div>
            {{ form.roster_html.errors }}
          <div role="tabpanel">
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active">
              	<a class="pill-opa" href="#blackboard" aria-controls="blackboard" role="tab"
                  data-toggle="tab">Blackboard</a>
              </li>
              <li role="presentation"><a class="pill-opa" href="#d2l" aria-controls="d2l" role="tab"
                                         data-toggle="tab">Desire 2 Learn</a></li>
              <li role="presentation"><a class="pill-opa" href="#moodle" aria-controls="moodle"
                                         role="tab" data-toggle="tab">Moodle</a></li>
              <li role="presentation"><a class="pill-opa" href="#other" aria-controls="other"
                                         role="tab" data-toggle="tab">Other</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="blackboard">
                <p></p>
                <ol>
                  <li>Go to a class on Blackboard and select the <strong>"Tools"</strong> section.</li>
                  <li>Click the tool called, <strong>"Send Email"</strong>.</li>
                  <li>The next page asks who you want to send an email to. Choose the <strong>"Select Users"</strong> option towards the bottom.</li>
                  <li>The next page will have a box of the names and/or emails of the students in the class.</li>
									<li>Right click (control + click) on the page and click the option, <strong>"View/Show Page Source"</strong>.</li>
									<li>A window or tab that shows the <strong>Page Source (HTML)</strong> will appear.</li>
									<li>Copy <strong>ALL of the HTML</strong> in the window. It should look like gibberish and there should be a lot of it.</li>
									<li>Paste <strong>ALL</strong> of it below in the box.</li>
                </ol>
              </div>
              <div role="tabpanel" class="tab-pane" id="d2l">
              	<p></p>
                <ol>
                  <li>Go to a class on D2L and select the <strong>"Classlist"</strong> page.</li>
                  <li>Click the button called, <strong>"Email Classlist"</strong> at the top.</li>
                  <li>Make sure you are viewing all classmates, not just some of them.</li>
									<li>Right click (control + click) on the page and click the option, <strong>"View/Show Page Source"</strong>.</li>
									<li>A window or tab that shows the <strong>Page Source (HTML)</strong> will appear.</li>
									<li>Copy <strong>ALL of the HTML</strong> in the window. It should look like gibberish and there should be a lot of it.</li>
									<li>Paste <strong>ALL</strong> of it below in the box.</li>
                </ol>
              </div>
              <div role="tabpanel" class="tab-pane" id="moodle">
              	<p></p>
                <ol>
                  <li>Go to a class on moodle and select the <strong>"Participants"</strong> page.</li>
                  <li>On the <strong>"Particpants"</strong> page, you must check these <strong>three</strong> things:
                  	<ol>
                  		<li>The <strong>"Currrent Role"</strong> option is set to <strong>"Students"</strong> <span class="text-success">(Green Circle)</span>.</li>
                  		<li>The <strong>"User List"</strong> option is set to <strong>"User Details"</strong> <span class="text-danger">(Red Circle)</span>.
                  		You can verify this by checking to see if the email address is shown <span class="text-warning">(Yellow Circle)</span>.
                  				<img src="{% static 'lib/img/class_sets/moodle_instructions_1.png' %}" class="img-thumbanil img-rounded" width="100%" height="auto"></li>
                  		<li>At the very bottom of the page, make sure you are click to <strong>"Show All of the Results"</strong> and not just part of your class.</li>
                  	</ol>
                  </li>
                  <li>Double check that you have set the above three options: <strong>"Current Role"</strong>, <strong>"User List"</strong>, and <strong>"Show All Results"</strong>.
									<li>Now, right click (control + click) on the page and click the option, <strong>"View/Show Page Source"</strong>.</li>
									<li>A window or tab that shows the <strong>Page Source (HTML)</strong> will appear.</li>
									<li>Copy <strong>ALL of the HTML</strong> in the window. It should look like gibberish and there should be a lot of it.</li>
									<li>Paste <strong>ALL</strong> of it below in the box.</li>
                </ol>
              </div>
              <div role="tabpanel" class="tab-pane" id="other">
              	<p></p>
                <ol>
                  <li>Go to a class on on your Course Management System.</li>
                  <li>Navigate to a page that shows the Classlist or Roster for the class if it exists.</li>
                  <li>Make sure you are viewing all classmates, not just some of them.</li>
									<li>Right click (control + click) on the page and click the option, <strong>"View/Show Page Source"</strong>.</li>
									<li>A window or tab that shows the <strong>Page Source (HTML)</strong> will appear.</li>
									<li>Copy <strong>ALL of the HTML</strong> in the window. It should look like gibberish and there should be a lot of it.</li>
									<li>Paste <strong>ALL</strong> of it below in the box.</li>
                </ol>
              </div>
            </div>
        	</div>
        	<!-- end tabpanel -->
          <h4>
            <label for="{{ form.roster_html.id_for_label }}">Paste Roster Code</label>
          </h4>
          <textarea class="form-control input-lg" id="{{ form.roster_html.id_for_label }}"
                    name="{{ form.roster_html.name }}"
                    placeholder="cmd+v (Mac) or ctrl+v (PC) here to paste"
                    rows="3">{{ form.roster_html.value|default:''}}</textarea>
          <br></br>
          <br>
        </div>
        <!-- /.media-body -->
      </div>
      <!-- /.media -->

      <!-- Add Exam dates -->
      <div class="media">
        <div class="media-left media-top">
          <h1 class="media-object pull-left margin-top-none">5.</h1>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Add Exam and Assignment Dates for <strong class="selected-classname">CLASS
              NAME</strong>:</h3>
          <p>The more you add, the more likely you are to earn commissions.</p>
          <div class="event-rows">
            {% for event in form.events %}
              {{ event.error }}
              <div class="row event-row" data-event-index={{ forloop.counter }}>
                <div class="col-xs-4">
                  {{ event.title }}
                  <p></p>
                </div>
                <div class="col-xs-4">
                  {{ event.date }}
                  <p></p>
                </div>
              </div>
            {% endfor %}
            {{ form.events.management_form }}
          </div>
          <a href="#addEventRow" id="addEventRow" class=""><i class="fa fa-plus fa-fw"></i>Add
              Exam/Assignment</a>
          <br></br>
          <br></br>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-trans btn-block">Submit Class Set for Review
      </button>
      <br></br>
      <br>
    </form>
  </div><!-- end col -->
  <div class="col-sm-4">
  	<h3 style="margin-top: 16px;">Class Sets Information</h3>
  	<hr>
  	<div class="panel inverse">
  		<div class="panel-body">
		  	<p><strong>Class Sets allow you to make 10% commission on the sales from the class you submit a set for.</strong></p>
		  	<p>For example, if you submit a Class Set for the class, ECON 200, every time a Study Guide is filed under ECON 200 and purchased by a student enrolled in ECON 200, you will get 10% of the sale instantly added to your mchp account. Then you can cash out from your mchp account just like normal.</p>
		  	<p>Only the first person to submit the Set will be entitled to receiving this commission because duplicates are not useful! Every Set is reviewed by our staff and is either approved for rejected based on it's accuracy and thoroughness.</p>
		  	<p><strong>Tips for Submitting Class Sets</strong></p>
		  	<ul>
		  		<li>Follow the directions carefully so you submit the correct data and ensure it's accuracy.</li>
		  		<li>Submit sets for larger classes, where Study Guide sales are likely to be highest.</li>
		  		<li>Add more events to increase the likelihood that a Study Guide will be uploaded for it.</li>
		  		<li><a class="open-chat link" role="button">Ask us for help</a> if you're still unsure about how to submit a Class set.</li>
		  	</ul>

		  </div>
		</div>
  </div>
</div><!-- /.row -->
{% endblock %}
