/*
/* Styles for user profile page
*/
/* editable "about me" section buttons */
.editable-buttons {
  	display: none !important;  
}
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: 0px;
}

.about-container {
	text-align: center;
	word-break: break-all;
	max-width: 700px;
	margin: auto;
}

/* update photo button */
/*#update-photo {
    background-image: url('https://s3-us-west-2.amazonaws.com/mchpstatic/circle-overlay.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	position: relative;
	width: 153px;
	margin-top: -46px;
	height: 58px;
	opacity:.8;
	/*cursor: pointer;
}

/*#update-photo:hover {
	opacity: 9;
	transition: 4s ease;
}*/

.btn-file {
    position: relative;
	overflow: hidden;
	width: 100px;
	color: #FFF;
	margin-top: -32px;
	margin-bottom: 35px;
	cursor: pointer;
	opacity: 0.6;
	margin-left: auto;
	margin-right: auto;
	transition: 0.4s ease;
}
.btn-file:hover {
	opacity: 1;
	transition: .4s ease;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.class-in-common {
	position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: 40px;
    color: #FFF;
}

