/*
/* Styles for user profile page
*/
/* editable "about me" section buttons */
.editable-buttons {
  	display: none !important;  
}
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: 0px;
}

.about-container {
	text-align: center;
	word-break: break-all;
	max-width: 700px;
	margin: auto;
}

/* update photo button */
/*#update-photo {
    background-image: url('https://s3-us-west-2.amazonaws.com/mchpstatic/circle-overlay.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	position: relative;
	width: 153px;
	margin-top: -46px;
	height: 58px;
	opacity:.8;
	/*cursor: pointer;
}

/*#update-photo:hover {
	opacity: 9;
	transition: 4s ease;
}*/

.btn-file {
    position: relative;
	overflow: hidden;
	width: 100px;
	color: #FFF;
	margin-top: -32px;
	margin-bottom: 35px;
	cursor: pointer;
	opacity: 0.6;
	margin-left: auto;
	margin-right: auto;
	transition: 0.4s ease;
}
.btn-file:hover {
	opacity: 1;
	transition: .4s ease;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.class-in-common {
	position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: 40px;
    color: #FFF;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion > p:active,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}


/* custom styles for the typeahead */

/*.tt-dropdown-menu {
  text-align: left;
}*/

/*.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}*/

.tt-hint {
  color: #999
}

/*.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}*/

/*.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}*/

.tt-suggestion.tt-is-under-cursor {
  color: #fff !important;
  background-color: #428BCA;

}

/*.tt-suggestion p {
  margin: 0;
  -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}*/

/*.typeahead {
  background-color: #fff;
}*/

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 
}

.assignment-number {
    position: absolute;
    top: 24px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}
