/* Bootstrap form validator styles */
.bv-form .help-block {
    margin-bottom:0
}
.nav-tabs li.bv-tab-success>a {
    color:#3c763d
}
.nav-tabs li.bv-tab-error>a {
    color:#a94442
}
/* Bootstrap Login form styles */
/*body {
    padding-top: 70px;
}
.btn-facebook {
    background: #4c66a4;
    color: #fff;
}
.form-signin {
    /*max-width: 300px;
    width: 300px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
/*.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-top: -10px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.emailLogin {
    display:none;
} */
