<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}mycollegehomepage.com | mchp{% endblock %}</title>
    {% block extra_head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta property="fb:app_id" content="369999156462705" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="https://www.mycollegehomepage.com" /> 
    <meta property="og:title" content="mycollegehomepage.com | mchp" /> 
    <meta property="og:image" content="https://mchp-dev.s3.amazonaws.com/static/lib/img/homepage.png" /> 
    <meta property="og:description" content="The collaborative course management system for college students." />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/mchp-dev/static/lib/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/mchp.css' %}">

    <script src="{% static 'lib/js/mchp.js' %}"></script>
  
    <!-- // Notify to update old browsers -->
    <script type="text/javascript"> 
    var $buoop = {
        vs:{i:10,f:15,o:12.1,s:5.1},
    }; 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
        try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
        var e = document.createElement("script"); 
        e.setAttribute("type", "text/javascript"); 
        e.setAttribute("src", "//browser-update.org/update.js"); 
        document.body.appendChild(e); 
    } 
    </script> 
    {% endblock %}
</head>
	<body>
		<!-- Start Navigation -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{%url 'dashboard'%}">mchp</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Sign Up</a>
                        <li><a href="{% url 'account_login' %}">Login</a>
					</ul><!-- end navbar right -->
				</div><!--/.nav-collapse -->
			</div><!-- end navbar container -->
		</div><!-- End Nav -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<!-- the pdf -->
					<embed src="https://dl-web.dropbox.com/get/comm209exam2studyguide.pdf?_subject_uid=30407796&w=AACdjP0VNKT6uDhat8yfjP3OoiaXXZtx5yo6eUgf-4OR3g&get_preview=1&rams_ui=0" width="100%" height="780px">
					<!-- end pdf -->
					<br>
					<div id="disqus_thread"></div><!-- display disqus -->
					<script type="text/javascript">
					    /* * * CONFIGURATION VARIABLES * * */
					    var disqus_shortname = 'mycollegehomepagecom';
					    
					    /* * * DON'T EDIT BELOW THIS LINE * * */
					    (function() {
					        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					    })();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript><!-- end disqus -->
				</div><!-- end col 12 -->
			</div><!--End Row -->
		</div><!-- End Container -->
		{% if not donottrack %}
			{% include "lib/google-analytics.html" %} 
		{% endif %}
		<!-- Firehose Chat -->
	<script type="text/javascript">
	  var FHChat = {product_id: "ea1d78a7bbff"};
	  FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
	</script>
	</body>
</html>